<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">
    <style>
        .table-head {
            background: #3A444E;
            margin: 0;
            padding: 0;
        }
    </style>

</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->

        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">

            <!-- Basic Data Tables -->
            <!--===================================================-->
            <div class="panel">
                <div class="panel-body">
                    <br>
                    <div th:switch="${borders}">
                        <h2 th:case="null">No customer yet!</h2>
                        <div th:case="*">
                            <!-- 미결문서 -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <span th:text="#{label.list.title(${borders.getTotalElements()})}"></span>
                                </div>
                            </div>
                            <hr class="table-head">
                            <div class="table-responsive">
                                <table id="customer-list-page" class="table" cellspacing="0" width="100%">
                                    <thead>
                                    <tr style="background: #FAFAFA;">
                                        <th class="text-center col-sm-1" th:text="#{label.no}">번호</th>
                                        <th class="text-center col-sm-5" th:text="#{label.subject}">과정명</th>
                                        <th class="text-center col-sm-1" th:text="#{label.requestdate}">신청일</th>
                                        <th class="text-center col-sm-1" th:text="#{label.requestby}">신청자</th>
                                        <th class="text-center col-sm-3" th:text="#{label.status}">상태</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="border, index : ${borders}">
                                        <td th:text="${index.count}" class="text-center"></td>
                                        <td>
                                            <a th:href="@{/course/approval/{id}(id=${border.getCourse().getId()})}">
                                                <span th:text="${'['+border.getCourse().getCourseMaster().getCourseName()+']'}"></span>&nbsp;
                                                <span th:text="${border.getCourse().getTitle()}"></span>
                                            </a>
                                        </td>
                                        <td th:text="${border.getRequestDate()}" class="text-center"></td>
                                        <td th:text="${border.getAccount().getName()}" class="text-center"></td>
                                        <td class="text-center">
                                            <th:block th:if="${#strings.equalsIgnoreCase(border.getIsApproval(), '1')}">
                                                <div th:switch="${border.getFStatus()}">
                                                    <span th:case="${'0'}" class="text-info" th:text="${'진행중'}"></span>
                                                    <span th:case="${'1'}" class="text-success" th:text="${'최종승인'}"></span>
                                                    <span th:case="${'2'}" class="text-danger" th:text="${'반려'}"></span>
                                                </div>
                                            </th:block>
                                            <th:block th:if="${#strings.equalsIgnoreCase(border.getIsApproval(), '0')}">
                                                <span class="text-success" th:text="${'완료'}"></span>
                                            </th:block>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <nav style="text-align: center;">
                                    <ul class="pagination"
                                        th:with="start=${T(Math).floor(borders.number/10)*10 + 1}, last=(${start + 9 < borders.totalPages ? start + 9 : borders.totalPages})">
                                        <li>
                                            <a th:href="@{/approval/document/listMpProcess(page=1)}" aria-label="First">
                                                <span aria-hidden="true">First</span>
                                            </a>
                                        </li>

                                        <li th:class="${borders.first} ? 'disabled'">
                                            <a th:href="${borders.first} ? '#' :@{/approval/document/listMpProcess(page=${borders.number})}" aria-label="Previous">
                                                <span aria-hidden="true">&lt;</span>
                                            </a>
                                        </li>
                                        <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == borders.number + 1} ? 'active'">
                                            <a th:text="${page}" th:href="@{/approval/document/listMpProcess(page=${page})}"></a>
                                        </li>
                                        <li th:class="${borders.last} ? 'disabled'">
                                            <a th:href="${borders.last} ? '#' : @{/approval/document/listMpProcess(page=${borders.number + 2})}" aria-label="Next">
                                                <span aria-hidden="true">&gt;</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a th:href="@{/approval/document/listMpProcess(page=${borders.totalPages})}" aria-label="Last">
                                                <span aria-hidden="true">Last</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                    </div><!--switch End -->

                </div><!--panel-body End -->
            </div><!-- panel End -->
        </div><!-- Page content End -->
    </div><!-- Content container End -->
</th:block>

<th:block layout:fragment="custom_js">
</th:block>

</html>


