<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">
    <style>
        #page-content > div > ul > li {
            width:250px;
        }

        /*.pdf_content {*/
        /*    padding:20px 0 20px 0;*/
        /*    background-color:#fafafa;*/
        /*}*/

        /*.pdf_content svg {*/
        /*    background-color:#fff;*/
        /*    border:1px solid #333;*/
        /*    box-shadow: 5px 5px 5px;*/
        /*}*/
    </style>
</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->

        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">
            <script>
                function loaded_frame(iframeId) {
                    var the_height = document.getElementById(iframeId).contentWindow.document.body.scrollHeight;
                    document.getElementById(iframeId).height= (the_height + 50) + 'px';
                    document.getElementById(iframeId).style.overflow = "hidden";
                }
            </script>
            <!--Stacked Tabs Right-->
            <!--===================================================-->
            <div class="tab-base tab-stacked-right">

                <!--Tabs Content-->
                <div class="tab-content">
                    <div id="cover" class="tab-pane fade active in">
                        <div class="panel">
                            <div class="panel-body">
                                <div th:switch="${cert}">
                                    <div th:case="null">Certification 이 존재 하지 않습니다.</div>
                                    <div th:case="*">
                                        <div class="panel" >
                                            <!--Accordion title-->
                                            <div class="panel-heading" style="border-bottom: 1px solid #eee;">
                                                <h4 class="panel-title">
                                                    <a data-parent="#trainingLog" data-toggle="collapse">
                                                        Certification
                                                    </a>

                                                </h4>
                                            </div>
                                            <div class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <div class="text-center">
                                                        <iframe frameborder="0" style="width:100%;" id="tmframe" onload="loaded_frame('tmframe');"></iframe>

                                                        <textarea style="display:none;" th:id="tmtext" th:text="${cert.tmCertHtmlContent}"></textarea>
                                                        <script>
                                                            document.getElementById('tmframe').contentWindow.document.write(document.getElementById("tmtext").value);
                                                        </script>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--switch End -->
                            </div><!--panel-body End -->
                        </div><!-- panel End -->
                    </div>
                </div>

                <!--Nav Tabs-->
                <ul class="nav nav-tabs">
                    <li>
                        <a href="/binder">Training Record Review History</a>
                    </li>
                    <li>
                        <a href="/binder/cv" th:text="${@environment.getProperty('binder.cv')}">Curriculum Vitae</a>
                    </li>
                    <li>
                        <a href="/binder/jd" th:text="${@environment.getProperty('binder.jd')}">Job Description</a>
                    </li>
                    <li>
                        <a href="/binder/sop/trainingLog" th:text="${@environment.getProperty('binder.log-sop')}">Employee Training Log(SOP)</a>
                    </li>
                    <li>
                        <a href="/binder/tm/trainingLog" th:text="${@environment.getProperty('binder.log-tm')}">Employee Training Log(TM)</a>
                    </li>
                    <li class="active">
                        <a href="/binder/certification" th:text="${@environment.getProperty('binder.cert')}">Certification</a>
                    </li>
                </ul>
            </div>
            <!--===================================================-->
            <!--End Stacked Tabs Right-->
        </div><!-- Page content End -->
    </div><!-- Content container End -->
</th:block>

<th:block layout:fragment="custom_js">
<script>
    $(function() {
        loaded_frame('tmframe');
        setTimeout(function() {
            loaded_frame('tmframe');
        }, 500);
    });
</script>
</th:block>

</html>



<!--===================================================-->

