<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">
    <style>
        #page-content > div > ul > li {
            width:250px;
        }

        .pdf_content {
            padding:20px 0 20px 0;
            background-color:#fafafa;
        }

        .pdf_content svg {
            background-color:#fff;
            border:1px solid #333;
            box-shadow: 3px 3px 5px;
        }
    </style>
</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->

        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">

            <!--Stacked Tabs Right-->
            <!--===================================================-->
            <div class="tab-base tab-stacked-right">

                <!--Tabs Content-->
                <div class="tab-content">
                    <div id="cv" class="tab-pane fade active in">
                        <div th:switch="${cvList}">
                            <div th:case="null">CV 작성을 먼저 해주세요.</div>
                            <div th:case="*">
                                <div class="panel-group accordion" id="cvlist">
                                    <div class="panel" th:each="cv, stat : ${cvList}">
                                        <!--Accordion title-->
                                        <div class="panel-heading" style="border-bottom: 1px solid #eee;">
                                            <h4 class="panel-title">
                                                <a data-parent="#cvlist" th:attr="data-id=${cv.id}" data-toggle="collapse" th:href="@{#cv{id}(id=${stat.index})}">
                                                    <span th:text="|Curriculum Vitae - ${#dates.format(cv.createdDate, 'dd/MMM/yyyy')}|"></span> <span class="label label-info" th:if="${cv.status.name() eq 'CURRENT'}">CURRENT</span>
                                                </a>

                                            </h4>
                                        </div>
                                        <div class="panel-collapse collapse" th:classappend="${stat.index == 0 ? 'in' : ''}" th:id="|cv${stat.index}|">
                                            <div class="panel-body pdf_content">
                                                <div class="text-center">
                                                    <div th:utext="${cv.htmlContent}"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Nav Tabs-->
                <ul class="nav nav-tabs">
                    <li>
                        <a href="/binder">Training Record Review History</a>
                    </li>
                    <li class="active">
                        <a data-toggle="tab" href="#cv">Curriculum Vitae</a>
                    </li>
                    <li>
                        <a href="/binder/jd">Job Description</a>
                    </li>
                    <li>
                        <a href="/binder/trainingLog-sop">Training Log(SOP)</a>
                    </li>
                    <li>
                        <a href="/binder/trainingLog-tm">Training Log(TM)</a>
                    </li>
                </ul>
            </div>
            <!--===================================================-->
            <!--End Stacked Tabs Right-->
        </div><!-- Page content End -->
    </div><!-- Content container End -->
</th:block>

<th:block layout:fragment="custom_js">
</th:block>

</html>


