<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">
    <style>
        #page-content > div > ul > li {
            width:250px;
        }

        /*.pdf_content {*/
        /*    padding:20px 0 20px 0;*/
        /*    background-color:#fafafa;*/
        /*}*/

        /*.pdf_content svg {*/
        /*    background-color:#fff;*/
        /*    border:1px solid #333;*/
        /*    box-shadow: 5px 5px 5px;*/
        /*}*/
    </style>
</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->

        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">

            <!--Stacked Tabs Right-->
            <!--===================================================-->
            <div class="tab-base tab-stacked-right">

                <!--Tabs Content-->
                <div class="tab-content">
                    <div id="cover" class="tab-pane fade active in">
                        <div class="alert alert-info" th:if="${returnMessage != null}">
                            <strong>알림!</strong> <span th:text="${returnMessage}"></span>
                        </div>

                        <!--                        <div class="alert alert-info">-->
                        <!--                            <strong>알림!</strong> CV, JD, Training Log 정보가 존재합니다. 매니저에게 <span class="label label-purple">검토</span> 요청을 진행해 주세요.-->
                        <!--                        </div>-->
                        <div class="alert alert-info" th:if="${(trainingRecordReviewList == null || #lists.size(trainingRecordReviewList) == 0) && (trainingRecord == null || trainingRecord.sopFileName == null)}">
                            <strong>알림!</strong> Training Log(SOP) 정보가 존재 하지 않습니다. e-SOP Training Log 배포 후 진행 해 주세요.<a class="btn-link" target="_blank" th:href="${serverLink}"><i class="fa fa-external-link"></i> e-SOP</a>
                        </div>
                        <div class="alert alert-info" th:if="${(trainingRecordReviewList == null || #lists.size(trainingRecordReviewList) == 0) && (trainingRecord == null || trainingRecord.tmFileName == null)}">
                            <strong>알림!</strong> Training Log(TM) 정보가 존재 하지 않습니다. 배포 후 진행 해 주세요.
                        </div>
                        <div class="alert alert-danger" th:if="${(trainingRecordReviewList == null || #lists.size(trainingRecordReviewList) == 0) && cv == null}">
                            <strong>알림!</strong> Curriculum Vitae 를 작성해 주세요.
                        </div>
                        <div class="alert alert-danger" th:if="${(trainingRecordReviewList == null || #lists.size(trainingRecordReviewList) == 0) && jdList == null}">
                            <strong>알림!</strong> Job Description 정보가 존재하지 않습니다.
                        </div>
                        <form method="post" id="reviewForm" th:action="@{/binder/review}">
                            <button class="btn btn-primary" ><i class="fa fa-send-o"></i> 검토 요청</button>
                        </form>
                        <hr/>
                        <!--<button class="btn btn-primary" id="binderCreate" ><i class="fa fa-send-o"></i> 바인더생성기</button>-->
                        <h3 class="text-center" th:text="${engName}"></h3>
                        <hr/>
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th class="col-xs-2 bg-gray-light">Job Title</th><td class="col-xs-4" th:text="${jobTitle}">Clinical Research Associate(CRA)</td>
                                <th class="col-xs-2 bg-gray-light">Date Started:</th><td class="col-xs-4" th:text="${inDate}"></td>
                            </tr>
                            <tr>
                                <th class="bg-gray-light">Department/Team</th><td th:text="${deptTeam}"></td>
                                <th class="bg-gray-light">Employee No.:</th><td th:text="${empNo}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered">
                            <thead>
                            <tr class="bg-gray-light">
                                <th rowspan="2" class="text-center">Date of Request<br/>(DD-MMM-YYYY)</th>
                                <th rowspan="2" class="text-center">Date of Review<br/>(DD-MMM-YYYY)</th>
                                <th rowspan="2" class="text-center">Review Details</th>
                                <th colspan="3" class="text-center">Reviewed by</th>
                                <th rowspan="2"  class="text-center"><i class="fa fa-file-pdf-o"></i></th>
                            </tr>
                            <tr class="bg-gray-light">
                                <th class="text-center">Status</th>
                                <th class="text-center">Name</th>
                                <th class="text-center">Signature</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${trainingRecordReviewList == null || #lists.size(trainingRecordReviewList) == 0}">
                                <td colspan="7" class="text-center text-info"><i class="fa fa-exclamation-circle"></i> Training Record 검토를 요청 하세요!</td>
                            </tr>
                            <tr th:each="tr, stat : ${trainingRecordReviewList}">
                                <td class="text-center" th:text="${#dates.format(tr.requestDate, 'dd-MMM-yyyy').toUpperCase()}"></td>
                                <td class="text-center">
                                    <span th:if="${tr.dateOfReview != null}" th:text="${#dates.format(tr.dateOfReview, 'dd-MMM-yyyy').toUpperCase()}"></span>
                                </td>
                                <td>
                                    <span th:if="${tr.curriculumVitae != null}"><i class="fa fa-check-square-o"></i> CV</span>
                                    <span th:if="${tr.trainingRecordReviewJdList != null && #lists.size(tr.trainingRecordReviewJdList) > 0}"><i class="fa fa-check-square-o"></i> JD</span>
                                    <span th:if="${tr.trainingRecord != null && tr.trainingRecord.sopFileName != null}"><i class="fa fa-check-square-o"></i> Training Log(SOP)</span>
                                    <span th:if="${tr.trainingRecord != null && tr.trainingRecord.tmFileName != null}"><i class="fa fa-check-square-o"></i> Training Log(TM)</span>
                                </td>
                                <td class="text-center" th:attrappend="data-status=${tr.status.name()}" th:attrprepend="id='stat_'+${stat.index}">
                                    <span th:class="|label label-${tr.status.className}|" th:classappend="${tr.status.name() == 'REJECTED' ? 'add-popover' : ''}" th:text="${tr.status.label}" th:attr="data-content=${tr.reason}" data-toggle="popover" data-container="body" data-placement="top" data-original-title="반려 사유"></span>
                                </td>
                                <td class="text-center" th:text="${tr.reviewerName}"></td>
                                <td class="text-center"><img th:src="${tr.signature}" height="25"/> </td>
                                <td class="text-center">
                                    <a th:href="@{/binder/{id}/download(id=${tr.id})}" th:if="${tr.binderPdf != null}" class="btn btn-xs" type="button"><i class="fa fa-file-pdf-o"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>



<!--                        <p class="text-main text-semibold">Digital Binder</p>-->
<!--                        <p>최초 모든(CV, JD, Log(SOP), Log(TM)) 완료 되면 검토 요청 가능!</p>-->
<!--                        <p>이후 입사 후 11개월 되는 시점 부터 검토 요청 가능</p>-->
<!--                        <p>Update 검토 인 경우는 변경된 항목(CV, JD...) 만 검토 하는지...</p>-->
<!--                        <p>예외) Audit 대응으로 SOP 트레이닝 이후 검토 요청?</p>-->

                    </div>
                </div>

                <!--Nav Tabs-->
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a>Training Record Review History</a>
                    </li>
                    <li>
                        <a href="/binder/cv"><span th:text="${@environment.getProperty('binder.cv')}"/></a>
                    </li>
                    <li>
                        <a href="/binder/jd" th:text="${@environment.getProperty('binder.jd')}">Job Description</a>
                    </li>
                    <li>
                        <a href="/binder/sop/trainingLog" th:text="${@environment.getProperty('binder.log-sop')}">Employee Training Log(SOP)</a>
                    </li>
                    <li>
                        <a href="/binder/tm/trainingLog" th:text="${@environment.getProperty('binder.log-tm')}">Employee Training Log(TM)</a>
                    </li>
                    <li>
                        <a href="/binder/certification" th:text="${@environment.getProperty('binder.cert')}">Certification</a>
                    </li>
                </ul>
            </div>
            <!--===================================================-->
            <!--End Stacked Tabs Right-->
        </div><!-- Page content End -->
    </div><!-- Content container End -->
</th:block>

<th:block layout:fragment="custom_js">
    <script>
        $(document).ready(function() {
            $("#reviewForm").submit(function(e) {
                if($("#cover").find(".alert").length > 0) {
                    alert('최초 검토 요청시에는 모두(CV, JD, Training Log) 배포가 되어야 합니다.');
                    e.preventDefault();
                } else if($("#stat_0").data("status") == "REQUEST") {
                    alert('이미 검토 요청 진행중입니다.');
                    e.preventDefault();
                }
            });
        });

        $("#binderCreate").click(function (){
            let trainingRecordReview = 10;
            let userId = "qwe";
            let data = {trainingRecordReview:trainingRecordReview,userId:userId};
            $.ajax({
                url: "/binderCreate",
                type: "post",
                data : data,
                success: function (result){
                    alert("생성완료");
                },
                error: function (){

                }
            });
        });

    </script>
</th:block>

</html>


