<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css"></th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->

        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">

            <!-- Basic Data Tables -->
            <!--===================================================-->
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title"></h3>
                </div>
                <div class="panel-body">
                    <!--===================================================-->
                    <!--End Horizontal Form-->
                    <form class="form-horizontal" action="#" th:action="@{/admin/binder/jd/edit-post/{id}(id=${binderJd.id})}" th:object="${binderJd}" method="post" enctype="multipart/form-data">
                        <input type="hidden" th:field="*{id}" id="id" name="id">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" th:text="#{label.jd.title}">Job Description</label>
                            <div class="col-sm-10">
                                <select th:field="*{jdVersion.id}" class="form-control">
                                    <option th:each="jd : ${jdList}" th:value="${jd.getId()}" th:text="${jd.getJd().getTitle() + ' (' + jd.getJd().getShortName() + ') Ver ' + #numbers.formatDecimal(jd.getVer(), 1, 1)}"></option>
                                </select>
                            </div>
                            <span th:if="${#fields.hasErrors('jdVersion.id')}" th:errors="*{jdVersion.id}"></span>
                        </div>
                        <div class="panel-footer text-right">
                            <button class="btn btn-success" type="submit" th:text="#{label.save}">Submit</button>
                        </div>
                    </form>
                </div><!--panel-body End -->
            </div><!-- panel End -->
        </div><!-- Page content End -->
    </div><!-- Content container End -->
</th:block>

<th:block layout:fragment="custom_js">
    <script>

    </script>
</th:block>

</html>