<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">
    <!--Select2 [ OPTIONAL ]-->
    <link th:href="@{/default/plugins/select2/css/select2.min.css}" rel="stylesheet">

    <style>
        .table-head {
            background: #3A444E;
            margin: 0;
            padding: 0;
        }
    </style>
</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->

        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">

            <!-- Basic Data Tables -->
            <!--===================================================-->
            <form class="form-horizontal" th:action="@{/border/list/{typeid}(typeid=__${typeId}__)}" method="get">
            <div class="panel">
                <div class="panel-body">
                    <br>
                    <div class="row" style="margin-bottom: 2px;">
                        <div class="col-sm-8" style="padding-left: 15px; margin : 0">
                            <span th:text="#{label.list.title(${borders.getTotalElements()})}"></span>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <select id="selectOption" class="selectpicker" name="searchType">
                                    <option value="all" th:selected="${#strings.equalsIgnoreCase(param.searchType,'all')}">&nbsp;&nbsp;All&nbsp;&nbsp;</option>
                                    <option value="subject" th:selected="${#strings.equalsIgnoreCase(param.searchType,'subject')}">&nbsp;&nbsp;Subject&nbsp;&nbsp;</option>
                                    <option value="content" th:selected="${#strings.equalsIgnoreCase(param.searchType,'content')}">&nbsp;&nbsp;Content&nbsp;&nbsp;</option>
                                </select>
                                <input type="text" name="searchText" placeholder="Search" class="form-control" th:value="${param.searchText}">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">Search</button>
                                </span>
                            </div>
                        </div>

                    </div>

                    <div th:switch="${borders}">
                        <div th:case="null">No customer yet!</div>
                        <div th:case="*">
                            <hr class="table-head">
                            <div class="table-responsive">
                                <table id="customer-list-page" class="table" cellspacing="0" width="100%">
                                    <thead>
                                    <tr style="background: #FAFAFA;">
                                        <th class="text-center col-sm-1" th:text="#{label.no}">번호</th>
                                        <th class="text-center" th:text="#{label.subject}">제목</th>
                                        <th class="text-center col-sm-1" th:text="#{label.notice}"></th>
                                        <th class="text-center col-sm-2" th:text="#{label.createdate}">등록일</th>
                                        <th class="text-center col-sm-2" th:text="#{label.createby}">이름</th>
                                        <th class="text-center col-sm-1" th:text="#{label.readcount}">조회수</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="border, index : ${borders}">
                                        <td th:text="${index.count}" class="text-center"></td>
                                        <td><a th:href="@{/border/view/{id}(id=${border.getId()})}" th:text="${border.getTitle()}"></a></td>
                                        <td  class="text-center">
                                            <span th:if="${#strings.equalsIgnoreCase(border.isNotice, '1')}">!</span>
                                            <div th:if="${border.getBorderFiles().size() > 0}" class="demo-icon"><i class="ion-paperclip"></i><span></span></div>
                                        </td>
                                        <td th:text="${border.getCreatedDate()} ? ${#dates.format(border.getCreatedDate(), 'yyyy/MM/dd')} : ${border.getCreatedDate()}" class="text-center"></td>
                                        <td th:text="${border.getCreatedBy()}" class="text-center"></td>
                                        <td th:text="${border.getViewCnt()}" class="text-center"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <nav th:replace="fragments/common/pagenation :: pagenation"> </nav>
                        </div>


                    </div><!--switch End -->
                </div><!--panel-body End -->
            </div><!-- panel End -->
            </form>
        </div><!-- Page content End -->
    </div><!-- Content container End -->
</th:block>

<th:block layout:fragment="custom_js">
    <script>
        // $('#selectOption').chosen({width:'100%'});
    </script>
</th:block>

</html>


