<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">
    <link th:href="@{/default/plugins/fullcalendar/fullcalendar.min.css}" rel="stylesheet">
    <link th:href="@{/default/plugins/fullcalendar/nifty-skin/fullcalendar-nifty.min.css}" rel="stylesheet">
</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->

        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">
            <!-- Basic Data -->
            <!--===================================================-->
            <div class="panel">
                <div class="panel-heading">
                    <h3></h3>
                </div>
                <div class="panel-body">
                    <div class="fixed-fluid">
<!--                        <div class="fixed-sm-150 pull-sm-left fixed-right-border">-->

                        <div class="fixed-sm-150 pull-sm-left">
                            <!-- Draggable Events -->
                            <!-- ============================================ -->
                            <p class="text-muted text-sm text-uppercase"></p>

                            <div id="demo-external-events">
                                <p class="text-muted text-sm text-uppercase">일자선택</p>
                                <a href="#" th:href="@{/info/requestMonth}" class="fc-event fc-list active" data-class="warning">신청일 보기</a>
                                <string><a href="#" th:href="@{/info/month}"  class="fc-event fc-list" data-class="success">교육일 보기</a></string>
                                <hr>
                                <p class="text-muted text-sm text-uppercase">Training</p>
                                <hr>
<!--                                <div class="fc-event" data-class="warning">Self-training</div>-->
                                <div class="fc-event" data-class="success">Class training</div>
                                <div class="fc-event" data-class="mint">부서별교육</div>
                                <div class="fc-event" data-class="purple">외부교육</div>
                            </div>
<!--                            <hr>-->
                            <!-- ============================================ -->
                        </div>
                        <div class="fluid">
                            <!-- Calendar placeholder-->
                            <!-- ============================================ -->
                            <div id='calendar'></div>
                            <!-- ============================================ -->
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- Page content End -->
    </div><!-- Content container End -->
</th:block>

<th:block layout:fragment="custom_js">
    <!--Full Calendar [ OPTIONAL ]-->
    <script th:src="@{/default/plugins/fullcalendar/lib/moment.min.js}"></script>
    <script th:src="@{/default/plugins/fullcalendar/lib/jquery-ui.custom.min.js}"></script>
    <script th:src="@{/default/plugins/fullcalendar/fullcalendar.min.js}"></script>
    <script th:src="@{/default/plugins/fullcalendar/lang-all.js}"></script>

    <!--Full Calendar [ SAMPLE ]-->
    <script>

        $(document).on('nifty.ready', function() {

            $('#calendar').fullCalendar({
                // plugins: [ 'list' ],
                lang : "ko",
                header: {
                    left: 'today, prevYear, nextYear, viewWeekends',
                    center: 'prev, title, next',
                    // right: 'month,listMonth'
                    // right: 'month,agendaWeek,agendaDay,listWeek'
                },
                views: {
                    month: {
                        columnFormat: 'dddd'
                    },
                    agendaWeek: {
                        columnFormat: 'M/D ddd',
                        titleFormat: 'YYYY년 M월 D일',
                        eventLimit: false
                    },
                    agendaDay: {
                        columnFormat: 'dddd',
                        eventLimit: false
                    },
                    listWeek: {
                        columnFormat: ''
                    }
                },
                // monthNames: ["1월","2월","3월","4월","5월","6월","7월","8월","9월","10월","11월","12월"],
                // monthNamesShort: ["1월","2월","3월","4월","5월","6월","7월","8월","9월","10월","11월","12월"],
                editable: true,
                //locale: 'ko',
                droppable: true, // this allows things to be dropped onto the calendar
                 eventLimit: true,
                 minTime: '08:00:00',
                 maxTime: '21:00:00',
                // dayNames: ["일요일","월요일","화요일","수요일","목요일","금요일","토요일"],
                // dayNamesShort: ["일","월","화","수","목","금","토"],
                // timeFormat: 'H(:mm)',
                allDayDefault: true,
                drop: function() {
                    // is the "remove after drop" checkbox checked?
                    if ($('#drop-remove').is(':checked')) {
                        // if so, remove the element from the "Draggable Events" list
                        $(this).remove();
                    }
                },
               // defaultDate: '2019-10-08',
                //eventLimit: true, // allow "more" link when too many events
                events: {
                    url : "/info/api/month/calendar"
                }
            });
        });

    </script>
</th:block>

</html>