<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">

    <link href='/default/plugins/fullcalendar4.3.1/core/main.css' rel='stylesheet' />
    <link href='/default/plugins/fullcalendar4.3.1/daygrid/main.css' rel='stylesheet' />
    <link href='/default/plugins/fullcalendar4.3.1/timegrid/main.css' rel='stylesheet' />
    <link href='/default/plugins/fullcalendar4.3.1/list/main.css' rel='stylesheet' />
    <link th:href="@{/default/plugins/fullcalendar/nifty-skin/fullcalendar-nifty.min.css}" rel="stylesheet">

</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->

        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">
            <!-- Basic Data -->
            <!--===================================================-->
            <div class="panel">
                <div class="panel-heading">
                    <h3></h3>
                </div>
                <div class="panel-body">
                    <div class="fixed-fluid">
<!--                        <div class="fixed-sm-150 pull-sm-left fixed-right-border">-->

                        <div class="fixed-sm-150 pull-sm-left">
                            <!-- Draggable Events -->
                            <!-- ============================================ -->
                            <p class="text-muted text-sm text-uppercase"></p>

                            <div id="demo-external-events">
                                <p class="text-muted text-sm text-uppercase">일자선택</p>
                                <a href="#" th:href="@{/info/requestMonth}" class="fc-event fc-list fa-calendar-check-o" data-class="warning" style="border-top:2px solid #FFA726">신청일 보기</a>
                                <a href="#" th:href="@{/info/month}"  class="fc-event fc-list" data-class="success">교육일 보기</a>
                                <hr>
                                <p class="text-muted text-sm text-uppercase">Training</p>
                                <hr>
<!--                                <div class="fc-event" data-class="warning">Self-training</div>-->
                                <div class="fc-event" data-class="success">Class training</div>
                                <div class="fc-event" data-class="mint">부서별교육</div>
                                <div class="fc-event" data-class="purple">외부교육</div>
                            </div>
<!--                            <hr>-->
                            <!-- ============================================ -->
                        </div>
                        <div class="fluid">
                            <!-- Calendar placeholder-->
                            <!-- ============================================ -->
                            <div id='calendar'></div>
                            <!-- ============================================ -->
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- Page content End -->
    </div><!-- Content container End -->
</th:block>

<th:block layout:fragment="custom_js">
    <!--Full Calendar [ OPTIONAL ]-->
<!--    <script th:src="@{/default/plugins/fullcalendar/lib/moment.min.js}"></script>-->
<!--    <script th:src="@{/default/plugins/fullcalendar/lib/jquery-ui.custom.min.js}"></script>-->
<!--    <script th:src="@{/default/plugins/fullcalendar/fullcalendar.min.js}"></script>-->
<!--    <script th:src="@{/default/plugins/fullcalendar/lang-all.js}"></script>-->


    <script src='/default/plugins/fullcalendar4.3.1/core/main.js'></script>
    <script src='/default/plugins/fullcalendar4.3.1/interaction/main.js'></script>
    <script src='/default/plugins/fullcalendar4.3.1/daygrid/main.js'></script>
    <script src='/default/plugins/fullcalendar4.3.1/timegrid/main.js'></script>
    <script src='/default/plugins/fullcalendar4.3.1/list/main.js'></script>
    <script src='/default/plugins/fullcalendar4.3.1/core/locales-all.js'></script>

    <script>

        $(document).on('nifty.ready', function() {

            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: [ 'interaction', 'dayGrid', 'timeGrid', 'list' ],
                // height: 'parent',
                height: 650,
                locale : "ko",
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,listMonth'
                },
                defaultView: 'dayGridMonth',
                views: {
                    month: {
                        columnFormat: 'dddd'
                    }
                },
                // defaultDate: '2019-08-12',
                navLinks: true, // can click day/week names to navigate views
                editable: false,
                allDayDefault: true,
                eventLimit: true, // allow "more" link when too many events
                events: {url : "/info/api/month/requestCalendar"}
            });

            calendar.render();
        });

    </script>
</th:block>

</html>