<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">
    <style>
        .pdfobject-container{
            /*margin-top:50px;*/
            /*margin-left:50px;*/
            /*width: 600px;*/
            height: 530px;
        }

        .pdfobject {
            border: 1px solid #666;
        }
    </style>
</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->

        <!--Page content-->
        <!--===================================================-->
        <div id="page-content" style="margin-bottom:0">

            <!-- Basic Data Tables -->
            <!--===================================================-->

            <div class="panel">
                <div class="panel-body">
                    <div th:switch="${border}">
                        <div th:case="null" class="text-info">연간 일정자료가 존재하지 않습니다.</div>
                        <div th:case="*">
<!--                            <form class="form-horizontal" id="boardFrm"  name="boardFrm" th:action="@{/info/year/{sctype}(sctype=${sctype})}"  method="get">-->
<!--                                <div class="form-group">-->
<!--                                    <div class="col-sm-6">-->
<!--                                        <select name="title" class="form-control"  id="title" onchange="form_submit();">-->
<!--                                            <option th:each="title : ${titleList}" th:value="${title}" th:text="${title}" th:selected="${title} == ${currTitle}"></option>-->
<!--                                        </select>-->
<!--                                    </div>-->
<!--                                    <div class="col-sm-6"></div>-->
<!--                                </div>-->
<!--                            </form>-->
                            <h3 class="text-info"><i class="fa fa-calendar"></i> <span th:text="${border.getTitle()}"></span></h3>
                            <table class="table table-striped" cellspacing="0" width="100%" style="height:100%;">
                                <tr style="">
                                    <td>
                                        <div id="example1" style="height: 720px"></div>
                                    </td>
                                </tr>
                                <div th:switch="${border.getContent().isEmpty()}">
                                    <div th:case="true"></div>
                                    <div  th:case="*">
                                        <tr style="">
                                            <td th:utext="${border.getContent()}" style="vertical-align:top;">
                                                <div th:utext="${border.getContent()}" style="overflow: hidden;"></div>
                                            </td>
                                        </tr>
                                    </div>
                                </div>
                            </table>
                        </div>
                    </div>
                </div><!--panel-body End -->
            </div><!-- panel End -->
        </div><!-- Page content End -->
    </div><!-- Content container End -->
</th:block>

<th:block layout:fragment="custom_js">

    <!-- PDF 라이브러리-->
    <script th:src="@{/default/plugins/pdfjs/pdfobject.js}"></script>

    <script th:inline="javascript">
        function form_submit() {

            $('#boardFrm').submit();
        }



        // PDF 교육자료 실행
        /*<![CDATA[*/

        var id = /*[[${scheduleFileId}]]*/

        if (id != '') {

            if (id != null) {
                var options = {
                    height: "720",
                    page: '1',
                    pdfOpenParams: {
                        view: 'FitV',
                        pagemode: 'thumbs',
                        search: 'lorem ipsum'
                    },

                    forcePDFJS: true, // 강제로 PDF Viewer를 실행시키는 옵션
                    PDFJS_URL: "/default/plugins/pdfjs/web/viewer.html" //PDF.js의 PDF viewer를 viewer로 지정.
                };

                //제일 처음 열리는 pdf파일 경로 설정.
                PDFObject.embed("/admin/schedule/CALENDAR/download-file/" + id, "#example1", options);
            }
        }
        /*]]>*/

        function closeWindow() {
            this.close();
        }

        // 새로고침 방지
        function doNotReload(){
            //ctrl+N , ctrl+R, function F5
            if( (event.ctrlKey == true && (event.keyCode == 78 || event.keyCode == 82)) || (event.keyCode == 116))
            {
                event.keyCode = 0;
                event.cancelBubble = true;
                event.returnValue = false;
            }
        }
        document.onkeydown = doNotReload;
    </script>
</th:block>

</html>


