<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">
</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->
        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">

            <!-- Basic Data Tables -->
            <!--===================================================-->
            <div class="panel">
                <div class="panel-body">
                    <br>
                    <!--===================================================-->
                    <!--End Horizontal Form-->
                     <form class="form-horizontal" id="boardFrm" action="#" th:action="@{/admin/registration/account/add-post}" th:object="${account}" method="post" >
                         <input type="hidden" th:field="*{userType}">
                         <input type="hidden" th:field="*{engName}" value="">
                         <input type="hidden" th:field="*{comJob}" value="">
                         <input type="hidden" th:field="*{comPosition}" value="">
                         <input type="hidden" th:field="*{orgTeam}" value="">
                         <input type="hidden" th:field="*{comNum}" value="">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="userId">사용자 ID</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{userId}" id="userId" placeholder="사용자 ID" class="form-control">
                            </div>
                            <span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></span>
                        </div>
                         <div class="form-group">
                             <label class="col-sm-2 control-label" for="enabled">사용유무</label>
                             <div class="col-sm-10">
                                 <input th:field="*{enabled}" type="checkbox" id="enabled" class="" th:checked="${enabled}"/>
                             </div>
                             <span th:if="${#fields.hasErrors('enabled')}" th:errors="*{enabled}"></span>
                         </div>
                         <div class="form-group">
                            <label class="col-sm-2 control-label" for="name">이름</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{name}" id="name" placeholder="이름" class="form-control" required="required">
                            </div>
                            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                        </div>
                         <div class="form-group">
                             <label for="password" class="col-sm-2 control-label">비밀번호</label>
                             <div class="col-sm-10">
                                 <input id="password" class="form-control" th:type="password" th:field="*{password}" required="required"/>
                             </div>
                             <span class="error-message"
                                   th:each="error : ${#fields.errors('password')}"  th:text="${error}">Validation error</span>
                         </div>
<!--                         <div class="form-group">-->
<!--                            <label class="col-sm-2 control-label" for="engName">영어이름</label>-->
<!--                            <div class="col-sm-10">-->
<!--                                <input type="text" th:field="*{engName}" id="engName" placeholder="영어이름" class="form-control" required="required">-->
<!--                            </div>-->
<!--                            <span th:if="${#fields.hasErrors('engName')}" th:errors="*{engName}"></span>-->
<!--                        </div>-->
                         <div class="form-group">
                             <label class="col-sm-2 control-label" for="email">이메일</label>
                             <div class="col-sm-10">
                                 <input type="text" th:field="*{email}" id="email" placeholder="이메일" class="form-control" required="required">
                             </div>
                             <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                         </div>

<!--                         <div class="form-group">-->
<!--                             <label class="col-sm-2 control-label" for="comJob">Job</label>-->
<!--                             <div class="col-sm-10">-->
<!--                                 <input type="text" th:field="*{comJob}" id="comJob" placeholder="Job" class="form-control" required="required">-->
<!--                             </div>-->
<!--                             <span th:if="${#fields.hasErrors('comJob')}" th:errors="*{comJob}"></span>-->
<!--                         </div>-->

<!--                         <div class="form-group">-->
<!--                             <label class="col-sm-2 control-label" for="comPosition">Position</label>-->
<!--                             <div class="col-sm-10">-->
<!--                                 <input type="text" th:field="*{comPosition}" id="comPosition" placeholder="Position" class="form-control" required="required">-->
<!--                             </div>-->
<!--                             <span th:if="${#fields.hasErrors('comPosition')}" th:errors="*{comPosition}"></span>-->
<!--                         </div>-->

                         <div class="form-group">
                             <label class="col-sm-2 control-label" for="indate">등록일</label>
                             <div class="col-sm-10">
                                 <div id="demo-dp-component">
                                     <div class="input-group date">
                                         <input type="text" th:field="*{indate}" id="indate" class="form-control">
                                         <span class="input-group-addon"><i class="demo-pli-calendar-4"></i></span>
                                     </div>
                                     <span th:if="${#fields.hasErrors('indate')}" th:errors="*{indate}"></span>
                                 </div>
                             </div>
                         </div>
                         <div class="form-group">
                             <label class="col-sm-2 control-label" for="orgDepart">소속</label>
                             <div class="col-sm-10">
                                 <input type="text" th:field="*{orgDepart}" id="orgDepart" placeholder="소속" class="form-control" required="required">
                             </div>
                             <span th:if="${#fields.hasErrors('orgDepart')}" th:errors="*{orgDepart}"></span>
                         </div>
<!--                         <div class="form-group">-->
<!--                             <label class="col-sm-2 control-label" for="orgTeam">팀</label>-->
<!--                             <div class="col-sm-10">-->
<!--                                 <input type="text" th:field="*{orgTeam}" id="orgTeam" placeholder="팀" class="form-control" required="required">-->
<!--                             </div>-->
<!--                             <span th:if="${#fields.hasErrors('orgTeam')}" th:errors="*{orgTeam}"></span>-->
<!--                         </div>-->
<!--                         <div class="form-group">-->
<!--                             <label class="col-sm-2 control-label" for="comNum">사번</label>-->
<!--                             <div class="col-sm-10">-->
<!--                                 <input type="text" th:field="*{comNum}" id="comNum" placeholder="사번" class="form-control" required="required">-->
<!--                             </div>-->
<!--                             <span th:if="${#fields.hasErrors('comNum')}" th:errors="*{comNum}"></span>-->
<!--                         </div>-->
                         <div class="panel-footer text-right">
                             <button class="btn btn-primary" type="submit" id="submit-all">
                                 <i class="fa fa-upload-cloud"></i> 저장
                             </button>
                             <a th:href="@{/admin/registration/account}" class="btn btn-success">
                                 <i class="fa fa-upload-cloud"></i> 목록
                             </a>
                         </div>
                    </form>
                </div><!--panel-body End -->
            </div><!-- panel End -->
        </div><!-- Page content End -->
    </div><!-- Content container End -->
</th:block>

<th:block layout:fragment="custom_js">

    <script>
        $('#roleList').chosen({width:'100%'});

        $('#demo-dp-component .input-group.date').datepicker({
            // format: "MM dd, yyyy",
            format: "yyyy-mm-dd",
            todayBtn: "linked",
            autoclose: true,
            todayHighlight: true
        });

    </script>
</th:block>

</html>