<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">
    <style>
        td,th {
            text-align: center;
        }
    </style>

</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title">

            <!--JSTree [ OPTIONAL ]-->
<!--            <link th:href="@{/default/plugins/jstree/themes/default/style.min.css}" rel="stylesheet">-->



        </div>
        <!--Page Title End-->

        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">



            <!-- Basic Data Tables -->
            <!--===================================================-->
            <div class="panel">
                <div class="panel-body">
                    <div th:switch="${accounts}">
                        <h2 th:case="null">No customer yet!</h2>
                        <div th:case="*">
                            <div class="row" style="margin-bottom: 5px;" >
                                <div class="col-sm-12 text-right">
                                    <a class="btn btn-purple" th:href="@{/admin/registration/account/gw-user-update}"><i class="demo-pli-upload-to-cloud"></i> 내부직원 업데이트</a>
                                    <a class="btn btn-purple" th:href="@{/admin/registration/account/add}"><i class="demo-pli-add"></i> 외부사용자 등록</a>
                                </div>
                            </div>
                            <table id="demo-dt-basic" class="table table-condensed table-bordered" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th>사원ID</th>
                                    <th>사원명</th>
                                    <th>메일주소</th>
                                    <th>사용유무</th>
                                    <th>사용자유형</th>
                                    <th>사용유무</th>
                                    <th>Role</th>
                                    <th class="text-center">Edit</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="account : ${accounts}">
                                    <td th:text="${account.getUserId()}"></td>
                                    <td th:text="${account.getName()}"></td>
                                    <td th:text="${account.getEmail()}"></td>
                                    <td th:text="${account.getEnabled() ? 'Yes' : 'No'}" class="text-center"></td>
                                    <td th:text="${account.getUserType().equals('U') ? '내부직원' : '외부사용자'}"></td>
                                    <td>
                                        <span th:if="${account.getEnabled() == true}" class="text-success">사용</span>
                                        <span th:if="${account.getEnabled() == false}" class="text-danger">사용불가</span>
                                    </td>
                                    <td>
                                        <th:block th:each="role : ${account.getRoles()}">
                                            <span th:text="${role.getName()}"></span><br>
                                        </th:block>
                                    </td>
                                    <td>
                                        <div class="form-inline">
                                            <th:block th:if="${#strings.equalsIgnoreCase(account.getUserType(), 'U')}">
                                                <a th:text="권한변경" th:href="@{/admin/registration/account/editRole/{id}(id=${account.getUserId()})}" class="btn btn-sm btn-default btn-hover-success demo-psi-pen-5 add-tooltip" data-original-title="Edit" data-container="body"></a>
                                            </th:block>
                                            <th:block th:if="${#strings.equalsIgnoreCase(account.getUserType(), 'O')}">
                                                <a th:text="권한변경" th:href="@{/admin/registration/account/editRole/{id}(id=${account.getUserId()})}" class="btn btn-sm btn-default btn-hover-success demo-psi-pen-5 add-tooltip" data-original-title="Edit" data-container="body"></a>
                                                <a th:text="#{label.edit}" th:href="@{/admin/registration/account/edit/{id}(id=${account.getUserId()})}" class="btn btn-sm btn-default btn-hover-success demo-psi-pen-5 add-tooltip" data-original-title="Edit" data-container="body"></a>
                                                <a th:text="#{label.delete}" th:href="@{/admin/registration/account/delete/{id}(id=${account.getUserId()})}" class="btn btn-sm btn-default btn-hover-danger demo-pli-trash add-tooltip" data-original-title="Delete" data-container="body"></a>
                                            </th:block>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div><!--switch End -->
                </div><!--panel-body End -->
            </div><!-- panel End -->
        </div><!-- Page content End -->
    </div><!-- Content container End -->
</th:block>

<th:block layout:fragment="custom_js">

    <!--DataTables Sample [ SAMPLE ]-->
    <script th:src="@{/default/js/demo/tables-datatables.js}"></script>

    <!--DataTables Sample [ SAMPLE ]-->

    <!--    <script th:src="@{/js/custom/major-list.js}"></script>-->

    <!--JSTree [ OPTIONAL ]-->
<!--    <script th:src="@{/default/plugins/jstree/jstree.min.js}"></script>-->




    <script>


        // $('#data').jstree({
        //     "plugins": ["themes","checkbox","ui"]
        //     "core":{
        //         "themes": {
        //             "name":"default",
        //             "variant":"medium",
        //             "responsive":false
        //         }
        //     }
        // });

    </script>
</th:block>

</html>



