<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">

</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->

        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">

            <!-- Basic Data Tables -->
            <!--===================================================-->
            <div class="panel">
                <div class="panel-body">
                    <div>
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-6 text-right">
                            <a id="demo-btn-addrow" class="btn btn-purple" th:href="@{/admin/document/template/add}"><i class="demo-pli-add"></i> Add</a>
                        </div>
                    </div>
                    <div th:switch="${borders}">
                        <h2 th:case="null">No customer yet!</h2>
                        <div th:case="*">
                            <span th:text="#{label.list.title(${borders.size()})}"></span>
                            <hr class="table-head">
                            <table id="demo-dt-basic" class="table" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th class="text-center col-sm-1" th:text="#{label.no}">번호</th>
                                    <th class="text-center" th:text="#{label.subject}">제목</th>
                                    <th class="text-center col-sm-1" th:text="#{label.approval1by}">팀장/부서장</th>
                                    <th class="text-center col-sm-1" th:text="#{label.approval2by}">관리자</th>
                                    <th class="text-center col-sm-2" th:text="#{label.actions}">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="border, index : ${borders}">
                                    <td th:text="${index.count}" class="text-center"></td>
                                    <td><a th:href="@{/admin/document/template/view/{id}(id=${border.getId()})}" th:text="${border.getTitle()}">Edit</a></td>
                                    <td th:text="${border.getIsTeamMangerApproval()}" class="text-center"></td>
                                    <td th:text="${border.getIsCourseMangerApproval()}" class="text-center"></td>
                                    <td class="text-center">
                                        <a th:text="#{label.edit}" th:href="@{/admin/document/template/edit/{id}(id=${border.getId()})}" class="btn btn-sm btn-default btn-hover-success demo-psi-pen-5 add-tooltip" data-original-title="Edit" data-container="body"></a>
                                        <a th:text="#{label.delete}" th:href="@{/admin/document/template/delete/{id}(id=${border.getId()})}" class="btn btn-sm btn-default btn-hover-danger demo-pli-trash add-tooltip" data-original-title="Delete" data-container="body"></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div><!--switch End -->
                </div><!--panel-body End -->
            </div><!-- panel End -->
        </div><!-- Page content End -->
    </div><!-- Content container End -->
</th:block>

<th:block layout:fragment="custom_js">
    <!--DataTables Sample [ SAMPLE ]-->
<!--    <script th:src="@{/default/js/demo/tables-datatables.js}"></script>-->
</th:block>

</html>


