<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">
    <style>
        .table-head {
            background: #3A444E;
            margin: 0;
            padding: 0;
        }

        /*.panel {*/
        /*    height: 600px;*/
        /*}*/
    </style>
</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->

        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">

            <!-- Basic Data Tables -->
            <!--===================================================-->
            <div class="panel">
                <div class="panel-body">
                    <div th:switch="${borders}">
                        <div th:case="null">No customer yet!</div>
                        <div th:case="*">
                            <div class="row" style="margin-bottom: 5px;" >
<!--                                <div class="col-sm-6">-->
<!--                                    <span th:text="#{label.list.title(${borders.getTotalElements()})}"></span>-->
<!--                                </div>-->
                                <div class="col-sm-12 text-right">
                                    <a id="demo-btn-addrow" class="btn btn-purple" th:href="@{/admin/course/add/{typeId}(typeId=${typeId})}"><i class="demo-pli-add"></i> Add</a>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <hr class="table-head">
                                <table id="demo-dt-basic1" class="table" cellspacing="0" width="100%" style="margin-top:0">
                                    <thead>
                                    <tr style="background: #FAFAFA;">
                                        <th class="text-center" th:text="#{label.no}">번호</th>
                                        <th class="text-center" th:text="#{label.subject}">제목</th>
                                        <th class="text-center col-sm-2" th:text="#{label.createdate}">등록일</th>
                                        <th class="text-center col-sm-1" th:text="#{label.title.section}">강의</th>
                                        <th class="text-center col-sm-1" th:text="#{label.title.quiz}">시험</th>
                                        <th class="text-center col-sm-1" th:text="#{label.title.survey}">설문</th>
                                        <th class="text-center col-sm-1" th:text="#{label.course.accountlist}">교육대상자</th>
                                        <th class="text-center col-sm-3" th:text="#{label.actions}">Edit</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="border, index : ${borders}">
                                        <td th:text="${index.count}" class="text-center"></td>
                                        <td>
                                            <th:block th:if="${border.getActive() == 1}">
                                                <span class="badge badge-info" th:text="#{label.active}"></span>
                                            </th:block>
                                            <a th:href="@{/admin/course/view/{id}(id=${border.getId()})}" th:text="${border.getTitle()}"></a>
                                        </td>
                                        <td th:text="${border.getCreatedDate()} ? ${#dates.format(border.getCreatedDate(), 'yyyy-MMM-dd')} : ${border.getCreatedDate()}" class="text-center"></td>
                                        <td class="text-center">
                                            <a th:href="@{/admin/course/section/list/{courseId}(courseId=${border.getId()})}"><span class="badge badge-mint" th:text="${border.getSections().size()}"></span></a>
<!--                                            <a class="label label-warning" th:href="@{/admin/course/section/add/{id}(id=${border.getId()})}" th:text="#{label.course.add}">강의등록</a>-->
                                        </td>
                                        <td class="text-center">
                                            <a  th:if="${border.getIsQuiz().equals('Y')}"  th:href="@{/admin/course/quiz/list/{courseId}(courseId=${border.getId()})}"><span class="badge badge-success" th:text="${border.getQuizzes().size()}"></span></a>
<!--                                            <a class="label label-purple" th:if="${border.getIsQuiz().equals('Y')}" th:href="@{/admin/course/quiz/add/{id}(id=${border.getId()})}" th:text="#{label.course.add}">시험등록</a>-->
                                        </td>
                                        <td class="text-center">
                                            <a th:if="${border.getIsSurvey().equals('Y')}" th:href="@{/admin/course/survey/list/{courseId}(courseId=${border.getId()})}"><span class="badge badge-warning" th:text="${border.getSurveys().size()}"></span></a>
<!--                                            <a class="label label-mint" th:if="${border.getIsSurvey().equals('Y')}" th:href="@{/admin/course/survey/add/{id}(id=${border.getId()})}" th:text="#{label.course.add}">설문등록</a>-->
                                        </td>
                                        <td class="text-center">
                                            <a th:href="@{/admin/course/account/list/{courseId}(courseId=${border.getId()})}"><span class="badge badge-warning" th:text="${border.getCourseAccountList().size()}"></span></a>
                                            <!--                                            <a class="label label-mint" th:if="${border.getIsSurvey().equals('Y')}" th:href="@{/admin/course/survey/add/{id}(id=${border.getId()})}" th:text="#{label.course.add}">설문등록</a>-->
                                        </td>
                                        <td class="text-center">
                                            <th:block th:if="${border.getActive() == 1}">
                                                <a th:text="#{label.noActive}" th:href="@{/admin/course/updateActive/{id}(id=${border.getId()})}" class="btn btn-sm btn-default btn-hover-success demo-psi-pen-5 add-tooltip" data-original-title="Active" data-container="body"></a>
                                            </th:block>
                                            <th:block th:if="${border.getActive() == 0}">
                                                <a th:text="#{label.active}" th:href="@{/admin/course/updateActive/{id}(id=${border.getId()})}" class="btn btn-sm btn-default btn-hover-success demo-psi-pen-5 add-tooltip" data-original-title="Active" data-container="body"></a>
                                            </th:block>

                                            <a th:text="#{label.edit}" th:href="@{/admin/course/edit/{id}(id=${border.getId()})}" class="btn btn-sm btn-default btn-hover-success demo-psi-pen-5 add-tooltip" data-original-title="Edit" data-container="body"></a>
                                            <a th:text="#{label.delete}" th:href="@{/admin/course/delete/{id}(id=${border.getId()})}" class="btn btn-sm btn-default btn-hover-danger demo-pli-trash add-tooltip" data-original-title="Delete" data-container="body"></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <nav style="text-align: center;" th:fragment="pagenation">
                                    <ul class="pagination"
                                        th:with="start=${T(Math).floor(borders.number/10)*10 + 1},
                last=(${start + 9 < borders.totalPages ? start + 9 : borders.totalPages})">
                                        <li>
                                            <a th:href="@{/admin/course/list/{typeId}(typeId=${typeId}, page=1)}" aria-label="First">
                                                <span aria-hidden="true">First</span>
                                            </a>
                                        </li>

                                        <li th:class="${borders.first} ? 'disabled'">
                                            <a th:href="${borders.first} ? '#' :@{/admin/course/list/{typeId}(typeId=${typeId}, page=${borders.number})}" aria-label="Previous">
                                                <span aria-hidden="true">&lt;</span>
                                            </a>
                                        </li>

                                        <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == borders.number + 1} ? 'active'">
                                            <a th:text="${page}" th:href="@{/admin/course/list/{typeId}(typeId=${typeId}, page=${page})}"></a>
                                        </li>

                                        <li th:class="${borders.last} ? 'disabled'">
                                            <a th:href="${borders.last} ? '#' : @{/admin/course/list/{typeId}(typeId=${typeId}, page=${borders.number + 2})}" aria-label="Next">
                                                <span aria-hidden="true">&gt;</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a th:href="@{/admin/course/list/{typeId}(typeId=${typeId}, page=${borders.totalPages})}" aria-label="Last">
                                                <span aria-hidden="true">Last</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>

                            </div>
                        </div>

                    </div><!--switch End -->

                </div><!--panel-body End -->
            </div><!-- panel End -->
        </div><!-- Page content End -->
    </div><!-- Content container End -->
</th:block>

<th:block layout:fragment="custom_js">
    <!--DataTables Sample [ SAMPLE ]-->
    <script th:src="@{/default/js/demo/tables-datatables.js}"></script>
</th:block>

</html>


