<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">
    <style>
        .demo-nifty-panel {
            min-height: 300px;
        }

        th {
            background: #FAFAFA;
            margin: 10px;
            text-align: center;
        }

        td {

        }

        .table-head {
            background: #3A444E;
            margin-bottom: 0;
        }

        .panel-control {
            float: left;
        }
    </style>
</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->

        <!--Page content-->
        <!--===================================================-->
        <div id="page-content" style="margin-bottom:0">

            <!-- Basic Data Tables -->
            <!--===================================================-->
            <div class="panel">
                <div class="panel-body">
                    <hr class="table-head">
                    <div class="table-responsive">
                        <table class="table table-bordered" cellspacing="0" width="100%">
                            <tbody>
                            <colgroup><col width="15%" /><col width="35%" /><col width="15%" /><col width="35%" /></colgroup>
                            <tr>
                                <th><span th:text="#{label.gubun}">* 구분</span></th>
                                <td th:text="${course.courseMaster.getCourseName()}" colspan="3"></td>
                            </tr>
                            <tr>
                                <th><span th:text="#{label.course.name}">과정명</span></th>
                                <td th:text="${course.getTitle()}" colspan="3"></td>
                            </tr>
                            <tr>
                                <th><span th:text="#{label.course.requesperiod}">신청기간</span></th>
                                <td>
                                    <th:block th:if="${#strings.equalsIgnoreCase(course.getCourseMaster().getId(), 'BC0101') or #strings.equalsIgnoreCase(course.getCourseMaster().getId(), 'BC0102')}">
                                        <span th:text="${course.getIsAlways().equals('1') ? '상시' : course.getRequestFromDate() + ' ~ ' + course.getToDate()} "></span>
                                    </th:block>
                                </td>
                                <th><span th:text="#{label.course.period}">교육기간</span></th>
                                <td th:text="${course.getIsAlways().equals('1') ? '상시' : course.getFromDate() + ' ~ ' + course.getToDate()} "></td>
                            </tr>
                            <tr>
                                <th><span th:text="#{label.course.daycountandtime}">학습일수/시간</span></th>
                                <td><span th:text="${course.getDay()}"></span> / <span th:text="${course.getHour()}"></span></td>
                                <th><span th:text="#{label.course.place}">교육장소</span></th>
                                <td th:text="${course.getPlace().isEmpty() ? '미정' : course.getPlace()}"></td>
                            </tr>
                            <tr>
                                <th><span th:text="#{label.course.team}">참석대상부서</span></th>
                                <td th:text="${course.getTeam().isEmpty() ? '미정' : course.getTeam()}"></td>
                                <th><span th:text="#{label.course.peoplecount}">교육정원</span></th>
                                <td th:text="${course.getCnt() == 0 ? '인원제한없음' : course.getCnt()}"></td>
                            </tr>
                            <tr>
                                <th><span th:text="#{label.course.isbook}">교재 재공 여부</span></th>
                                <td th:text="${course.getIsBook().equals('Y') ? 'Yes' : 'No'}"></td>
                                <th><span th:text="#{label.course.iscerti}">수료증 발급 여부</span></th>
                                <td th:text="${course.getIsCerti().equals('Y') ? 'Yes' : 'No'}"></td>
                            </tr>
                            <tr>
                                <th><span th:text="#{label.course.isquiz}">시험 진행 여부</span></th>
                                <td th:text="${course.getIsQuiz().equals('Y') ? 'Yes' : 'No' }"></td>
                                <th><span th:text="#{label.course.issurvey}">설문 진행 여부</span></th>
                                <td th:text="${course.getIsSurvey().equals('Y') ? 'Yes' : 'No'}"></td>
                            </tr>
                            <tr>
                                <th><span th:text="#{label.file}">첨부파일</span></th>
                                <td colspan="3">
                                    <div th:each="sections : ${course.getCourseFiles()}">
                                        <a th:href="@{/admin/course/download-file/{id}(id=${sections.getId()})}" th:text="${sections.getFileName()}"></a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
<!--                    <div class="table-responsive">-->
                        <div class="row demo-nifty-panel">
                            <div class="col-lg-12">
                                <!--Panel with Tabs-->
                                <!--===================================================-->
                                <div class="panel panel-primary">
                                    <!--Panel heading-->
                                    <div class="panel-heading">
                                        <div class="panel-control">
                                            <!--Nav tabs-->
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a data-toggle="tab" href="#demo-tabs-box-1" th:text="#{label.course.introduce}">Agenda</a></li>
                                                <li><a data-toggle="tab" href="#demo-tabs-box-2" th:text="#{label.tablecontent}">table of contents</a></li>
                                            </ul>
                                        </div>
<!--                                        <h3 class="panel-title">Course Details</h3>-->
                                    </div>

                                    <!--Tabs Content-->
                                    <div class="tab-content">
                                        <div id="demo-tabs-box-1" class="tab-pane fade active in" style="height:100%; vertical-align:top">
                                            <div th:utext="${course.getContent()}" colspan="4"></div>
                                        </div>
                                        <div id="demo-tabs-box-2" class="tab-pane fade">
                                            <br>
                                            <div th:switch="${course.getSections()}">
                                                <div th:case="null">등록된 강의가 없습니다.</div>
                                                <div th:case="*">
                                                    <hr class="table-head">
                                                    <table class="table table-bordered" cellspacing="0" width="100%">
                                                        <colgroup><col width="5%" /><col width="10%" /><col width="40%" /><col width="25%" /><col width="20%" /></colgroup>
                                                        <thead>
                                                        <th class="text-center" th:text="#{label.no}">No</th>
                                                        <th class="text-center" th:text="#{label.gubun}">구분</th>
                                                        <th class="text-center" th:text="#{label.course.section.name}">강의명</th>
                                                        <th class="text-center" th:text="#{label.period}">학습기간</th>
                                                        <th class="text-center" th:text="#{label.minute}">Date & Times</th>
                                                        </thead>
                                                        <tbody>
                                                        <tr th:each="sections, index : ${course.getSections()}">
                                                            <td class="text-center" th:text="${index.count}"></td>
                                                            <td class="text-center" th:text="#{label.title.section}"></td>
                                                            <td class="text-left">
                                                                <div th:text="${sections.getName()}"></div>
                                                                <div th:text="${sections.getDescription()}"></div>
                                                            </td>
                                                            <td th:text="${sections.getStudyDate()}" class="text-center"></td>
                                                            <td class="text-center" th:text="#{label.course.minute(${sections.getMinute()})}"></td>
                                                        </tr>

                                                        <tr th:each="quiz, index : ${course.getQuizzes()}">
                                                            <td class="text-center" th:text="${index.count}"></td>
                                                            <td class="text-center" th:text="#{label.title.quiz}"></td>
                                                            <td class="text-left">
                                                                <span th:text="${quiz.getName()}"></span>
                                                            </td>
                                                            <th:block th:if="${#strings.equalsIgnoreCase(course.getFromDate(), course.getToDate())}">
                                                                <td th:text="${course.getFromDate()}" class="text-center"></td>
                                                            </th:block>
                                                            <th:block th:unless="${#strings.equalsIgnoreCase(course.getFromDate(), course.getToDate())}">
                                                                <td th:text="${course.getFromDate() + '~' + course.getToDate()}" class="text-center"></td>
                                                            </th:block>
                                                            <td class="text-center" th:text="#{label.course.minute(${quiz.getMinute()})}"></td>
                                                        </tr>
                                                        <tr th:each="survey, index : ${course.getSurveys()}">
                                                            <td class="text-center" th:text="${index.count}"></td>
                                                            <td class="text-center" th:text="#{label.title.survey}"></td>
                                                            <td class="text-left">
                                                                <span th:text="${survey.getName()}"></span>
                                                            </td>
                                                            <th:block th:if="${#strings.equalsIgnoreCase(course.getFromDate(), course.getToDate())}">
                                                                <td th:text="${course.getFromDate()}" class="text-center"></td>
                                                            </th:block>
                                                            <th:block th:unless="${#strings.equalsIgnoreCase(course.getFromDate(), course.getToDate())}">
                                                                <td th:text="${course.getFromDate() + '~' + course.getToDate()}" class="text-center"></td>
                                                            </th:block>
                                                            <td class="text-center"></td>
<!--                                                            <td class="text-center"></td>-->
                                                        </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!--                            <div id="demo-lft-tab-3" class="tab-pane fade" style="height:100%; vertical-align:top">-->
                                        <!--                                <div th:utext="${course.getAgenda()}" colspan="4"></div>-->
                                        <!--                            </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
<!--                    </div>-->

                    <hr class="bg-gray"/>
                    <div class="row">
<!--                        <div class="col-sm-6 input-group pull-left">-->
<!--                            <p class="">-->
<!--                                <a class="btn btn-warning" th:href="@{/admin/course/section/add/{id}(id=${course.getId()})}" th:text="#{label.course.section.add}">강의등록</a>-->
<!--                                <a th:if="${course.getIsQuiz().equals('Y')}" class="btn btn-warning" th:href="@{/admin/course/quiz/add/{id}(id=${course.getId()})}" th:text="#{label.course.quiz.add}">문제등록</a>-->
<!--                                <a th:if="${course.getIsSurvey().equals('Y')}" class="btn btn-warning" th:href="@{/admin/course/survey/add/{id}(id=${course.getId()})}" th:text="#{label.course.survey.add}">설문등록</a>-->
<!--                            </p>-->
<!--                        </div>-->
                        <div class="col-sm-12 input-group pull-right">
                            <p class="text-right">
<!--                                <a th:href="@{/admin/course/edit/{id}(id=${course.getId()})}" class="btn btn-success" th:text="#{label.edit}">수정</a>-->
                                <a th:href="@{/admin/course/list/{typeId}(typeId=${course.getCourseMaster().getId()})}" class="btn btn-success" th:text="#{label.list}">목록</a>
                            </p>
                        </div>
                    </div>



                </div><!--panel-body End -->
            </div><!-- panel End -->




        </div><!-- Page content End -->
    </div><!-- Content container End -->
</th:block>

<th:block layout:fragment="custom_js">
</th:block>

</html>


