<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Meta Data-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>설문완료</title>

    <!--Css lib-->
    <!--Open Sans Font [ OPTIONAL ]-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link rel="stylesheet" href="/default/css/bootstrap.min.css" />

    <!--Themify Icons [ OPTIONAL ]-->
    <link th:href="@{/default/css/nifty.min.css}" rel="stylesheet">


    <!--Themify Icons [ OPTIONAL ]-->
    <link th:href="@{/default/plugins/themify-icons/themify-icons.min.css}" rel="stylesheet">

    <!--Ion Icons [ OPTIONAL ]-->
    <link th:href="@{/default/plugins/ionicons/css/ionicons.min.css}" rel="stylesheet">

    <style>

    </style>

</head>
<!--<body oncontextmenu="return false">-->
<body>
<div id="container">
    <div class="panel" th:classappend="${#strings.equalsIgnoreCase(courseQuizAction.getStatus(), 'COMPLETE')} ? panel-primary : pannel-danger">
        <!--Panel heading-->
        <div class="panel-heading">
            <div class="panel-control">
                <button class="btn btn-default" data-panel="fullscreen">
                    <i class="icon-max demo-psi-maximize-3"></i>
                    <i class="icon-min demo-psi-minimize-3"></i>
                </button>
            </div>
            <h3 class="panel-title" th:text="${courseQuizAction.getStatus()}"></h3>

        </div>
        <!--Panel body-->
        <div class="panel-body">
            <div class="text-center">
                <p>
                    <div th:text="${'취득점수' + courseQuizAction.getScore()}"></div>
                    <div th:text="${'합격점수' + courseQuizAction.getQuiz().getPassCount()}"></div>
                    <div th:text="${'총문항수' + courseQuizAction.getQuiz().getQuizQuestions().size()}"></div>
                </p>
                <button class="btn btn-primary mar-ver" onclick="closeWindow();">확인</button>
            </div>
        </div>
    </div>
</div>

<!--jQuery [ REQUIRED ]-->
<script th:src="@{/default/js/jquery.min.js}"></script>

<!--BootstrapJS [ RECOMMENDED ]-->
<script th:src="@{/default/js/bootstrap.min.js}"></script>

<script>

    // 윈도우 종료 이벤트 추가
    $(window).bind("beforeunload", function (e) {
        opener.location.reload();

        return;
    });

    function closeWindow() {
        this.close();
    }

</script>
</body>
</html>