<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Meta Data-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title th:text="${pageInfo.getPageTitle()}"></title>

    <!--Css lib-->
    <!--Open Sans Font [ OPTIONAL ]-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link rel="stylesheet" th:href="@{/default/css/bootstrap.min.css}" />

    <!--Themify Icons [ OPTIONAL ]-->
    <link th:href="@{/default/css/nifty.min.css}" rel="stylesheet">


    <!--Themify Icons [ OPTIONAL ]-->
    <link th:href="@{/default/plugins/themify-icons/themify-icons.min.css}" rel="stylesheet">

    <!--Ion Icons [ OPTIONAL ]-->
    <link th:href="@{/default/plugins/ionicons/css/ionicons.min.css}" rel="stylesheet">

    <style>

        body {
            padding-top: 250px;
        }

        #layer_top
        {
            /*height:100px;*/
            /*width:100%;*/
            /*color: #555;*/
            /*font-size:12px;*/
            /*position: fixed;*/
            z-index:9999;
            /*top:0px;*/
            /*left:40px;*/
            position: fixed;
            top: 0;
            left: 0;
            right: 0;

            height: 250px;
            padding: 1rem;
            /*background: teal;*/
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        /*#layer_body*/
        /*{*/
        /*    height:35px;*/
        /*    width:95%;*/
        /*    color: #555;*/
        /*    font-size:12px;*/
        /*    position:sticky;*/
        /*    !*z-index:997;*!*/
        /*    top:200px;*/
        /*    left:30px;*/
        /*    overflow-scrolling: auto;*/
        /*}*/


    </style>

</head>
<!--<body oncontextmenu="return false">-->
<body>

<div id="container" class="effect aside-float aside-bright mainnav-lg">

    <div class="panel" id="layer_top">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-7">
                    <h3 class="text-primary" th:text="${surveyAction.getCourseSurvey().getName()}"></h3>
                </div>
                <div class="col-sm-5 text-right">
                    <h3 class="demo-icon btn btn-success" onclick="form_submit();return false;" id="sendAnswer"><span th:text="#{label.course.survey.submit}">설문 제출</span></h3>
                    <h3 class="demo-icon btn btn-warning" onclick="closeWindow();"><i class="ti-close"></i> <span th:text="#{label.end}">종료</span></h3>
                </div>
                <table class="table table-striped table-bordered" cellspacing="0" width="100%" style="overflow-scrolling: auto;">
                    <tbody>
                    <tr>
                        <th:block th:each="question, index : ${surveyAction.getCourseSurvey().getQuestions()}">
                            <td class="text-center" th:if="${#strings.equalsIgnoreCase(question.getSurveyGubun(), 'M')}">
                                <a th:href="${'#' + question.getId()}" th:text="${index.count + '번'}"></a>
                            </td>
                        </th:block>
                    <tr>
                        <th:block th:each="question, index : ${surveyAction.getCourseSurvey().getQuestions()}">
                            <td class="text-center" th:if="${#strings.equalsIgnoreCase(question.getSurveyGubun(), 'M')}">
                                <span th:id="${'question-' + question.getId()}" th:text="${'미입력'}"></span>
                            </td>
                        </th:block>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <div class="panel">
        <div class="panel-body">
            <form class="form-horizontal" id="boardFrm" th:action="@{/mypage/classroom/surveyview-post/{surveyActionId}(surveyActionId=${surveyAction.getId()})}" method="post" >
                <th:block th:each="question, index : ${surveyAction.getCourseSurvey().getQuestions()}">

                    <div class="panel" th:id="${question.getId()}">
                        <div class="panel-body">
                            <div class="row">
                                <div th:text="${index.count + '. ' + question.getQuestion()}"></div>
                            </div>
                            <th:block th:if="${#strings.equalsIgnoreCase(question.getSurveyGubun(), 'S')}">
                                <div class="row">
                                    <div class="form-group pad-ver">
                                        <div class="col-md-12">
                                            <textarea rows="5" style="width:800px;" th:name="${'question-'+question.getId()}"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </th:block>



                            <th:block th:if="${#strings.equalsIgnoreCase(question.getSurveyGubun(), 'M')}">
                            <div class="row">
                                <div class="form-group pad-ver">
                                    <div class="col-md-12 ">
                                        <!-- Radio Buttons -->
                                        <th:block th:unless="${#strings.isEmpty(question.getEx1())}">
                                            <div class="radio" th:unless="${#strings.equalsIgnoreCase(question.getEx1(), '')}">
                                                <input th:id="${question.getId() + '-ex-1'}" class="magic-radio" type="radio" th:name="${'question-'+question.getId()}" th:value="${question.getEx1_score()}">
                                                <label th:for="${question.getId() + '-ex-1'}" th:text="${question.getEx1()}"></label>
                                            </div>
                                        </th:block>
                                        <th:block th:unless="${#strings.isEmpty(question.getEx2())}">
                                            <div class="radio" th:unless="${#strings.equalsIgnoreCase(question.getEx2(), '')}">
                                                <input th:id="${question.getId() + '-ex-2'}" class="magic-radio" type="radio" th:name="${'question-'+question.getId()}" th:value="${question.getEx2_score()}">
                                                <label th:for="${question.getId() + '-ex-2'}" th:text="${question.getEx2()}"></label>
                                            </div>
                                        </th:block>
                                        <th:block th:unless="${#strings.isEmpty(question.getEx3())}">
                                            <div class="radio" th:unless="${#strings.equalsIgnoreCase(question.getEx3(), '')}">
                                                <input th:id="${question.getId() + '-ex-3'}" class="magic-radio" type="radio" th:name="${'question-'+question.getId()}" th:value="${question.getEx3_score()}">
                                                <label th:for="${question.getId() + '-ex-3'}" th:text="${question.getEx3()}"></label>
                                            </div>
                                        </th:block>
                                        <th:block th:unless="${#strings.isEmpty(question.getEx4())}">
                                            <div class="radio" th:unless="${#strings.equalsIgnoreCase(question.getEx4(), '')}">
                                                <input th:id="${question.getId() + '-ex-4'}" class="magic-radio" type="radio" th:name="${'question-'+question.getId()}" th:value="${question.getEx4_score()}">
                                                <label th:for="${question.getId() + '-ex-4'}" th:text="${question.getEx4()}"></label>
                                            </div>
                                        </th:block>
                                        <th:block th:unless="${#strings.isEmpty(question.getEx5())}">
                                            <div class="radio" th:unless="${#strings.equalsIgnoreCase(question.getEx5(), '')}">
                                                <input th:id="${question.getId() + '-ex-5'}" class="magic-radio" type="radio" th:name="${'question-'+question.getId()}" th:value="${question.getEx5_score()}">
                                                <label th:for="${question.getId() + '-ex-5'}" th:text="${question.getEx5()}"></label>
                                            </div>
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                            </th:block>
                        </div>
                    </div>
                </th:block>
            </form>
        </div>
    </div>
</div>

<!--jQuery [ REQUIRED ]-->
<script th:src="@{/default/js/jquery.min.js}"></script>

<!--BootstrapJS [ RECOMMENDED ]-->
<script th:src="@{/default/js/bootstrap.min.js}"></script>

<script th:inline="javascript">

    var tmp_int = 0;

    function radioEvent(name, val) {
        tmp_int += 1;
        $('#' + name).html("<span class='text-success answer'>" + val + "</span>");
        return false;
    }

    $(document).ready(function () {

        $('input[type="radio"]').change(function () {

            radioEvent($(this).prop('name'), $(this).val());
        });
    });

    // 윈도우 종료 이벤트 추가
    $(window).bind("beforeunload", function (e) {

        opener.location.reload();

        return;
    });


    function form_submit() {


        var q_size = [[${surveyAction.getCourseSurvey().getQuestions().size()}]];

        var in_size = 0;
        var textarea_size = 0;

        $( ".answer" ).each(function( index ) {

            in_size += 1;
            // alert($( this ).text());
            // if (isNaN($( this ).text()) == false)            console.log( index + ": " + $( this ).text() );
        });

        $( "textarea" ).each(function( index ) {

            if($( this ).val().length > 0) {
                textarea_size += 1;
            }
        });


        if(q_size == (in_size + textarea_size)) {
            $('#boardFrm').submit();
            closeWindow();
            opener.location.reload();
            alert('설문처리가 완료 되었습니다.');
        } else {
            alert('설문항목중 미입력 항목이 있습니다.');
        }
        // for(var i=1; i<=q_size; i++) {
        //     alert($('#ans' + i).val());
        // }
    }

    function closeWindow() {
        this.close();
    }

    // 새로고침 방지
    function doNotReload(){
        //ctrl+N , ctrl+R, function F5
        if( (event.ctrlKey == true && (event.keyCode == 78 || event.keyCode == 82)) || (event.keyCode == 116))
        {
            event.keyCode = 0;
            event.cancelBubble = true;
            event.returnValue = false;
        }
    }
    document.onkeydown = doNotReload;

</SCRIPT>
</body>
</html>