<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">
    <style>
        .table-head {
            background: #3A444E;
            margin: 0;
            padding: 0;
        }
    </style>

</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->

        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">

            <!-- Basic Data Tables -->
            <!--===================================================-->
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <h4><strong class="text-info"><i class="demo-pli-dot-vertical"></i> 목차</strong></h4>
                        <hr class="table-head">
                        <div class="table-responsive">
                            <table class="table" cellspacing="0" width="100%">
                                <colgroup><col width="5%" /><col width="10%" /><col width="40%" /><col width="10%" /><col width="10%" /><col width="15%" /></colgroup>
                                <thead>
                                <th class="text-center">No</th>
                                <th class="text-center">구분</th>
                                <th class="text-center">과정명</th>
    <!--                            <th class="text-center">기간</th>-->
                                <th class="text-center">시간</th>
                                <th class="text-center">진도율</th>
                                <th class="text-center">상태</th>
                                <th class="text-center" th:text="#{label.actions}"></th>
                                </thead>
                                <tbody>

                                    <th:block th:each="sectionAction, index : ${courseSectionActions}">
                                        <th:block th:if="${sectionAction.getCourseAccount().getCourse().getCourseMaster().getCourseGubun().getMinorCd().equals('BC0101')}">
                                            <tr>
                                                <td class="text-center" th:text="${index.count}"}></td>
                                                <td class="text-center" th:text="#{label.title.section}"}></td>
                                                <td class="text-left" th:text="${sectionAction.getCourseSection().getName()}"}></td>
                <!--                                <td class="text-center" th:text="${section.getFromDate() + ' ~ ' + section.getToDate()}"></td>-->
                                                <td class="text-center">
                                                    <span th:text="${sectionAction.getCourseSection().getMinute()} + '분'"}></td>
                <!--                                <td class="text-center" th:text="${section.getTeacher()}"}></td>-->
                                                <td class="text-center" >

                                                    <div class="progress">
                                                        <th:block th:if="${sectionAction.getTotalUseSecond() > sectionAction.getCourseSection().getSecond() }">
                                                            <div id="time"  class="progress-bar progress-bar-info"
                                                                 th:attr="style=${'width:100%'}"
                                                                 th:text="${'100%'}">0%</div>
                                                        </th:block>
                                                        <th:block th:unless="${sectionAction.getTotalUseSecond() > sectionAction.getCourseSection().getSecond() }">
                                                            <div id="time2"  class="progress-bar progress-bar-info"
                                                                 th:attr="style=${'width:' + T(Math).round((sectionAction.getTotalUseSecond()*1.0) / sectionAction.getCourseSection().getSecond() * 100) + '%'}"
                                                                 th:text="${T(Math).round((sectionAction.getTotalUseSecond()*1.0) / sectionAction.getCourseSection().getSecond() * 100) + ' %'}">0%</div>
                                                        </th:block>
                                                    </div>
                                                </td>
                                                <td class="text-center" >
                                                    <th:block th:if="${#strings.equalsIgnoreCase(sectionAction.getStatus(), 'REQUEST')}">
                                                        <span th:text="${sectionAction.getStatus()}" class="label label-mint"></span>
                                                    </th:block>
                                                    <th:block th:if="${#strings.equalsIgnoreCase(sectionAction.getStatus(), 'ONGOING')}">
                                                        <span th:text="${sectionAction.getStatus()}" class="label label-danger"></span>
                                                    </th:block>
                                                    <th:block th:if="${#strings.equalsIgnoreCase(sectionAction.getStatus(), 'COMPLETE')}">
                                                        <span th:text="${sectionAction.getStatus()}" class="label label-success"></span>
                                                    </th:block>
                                                </td>
                                                <td class="text-center">
                <!--                                    <a href="#" class="btn btn-success" id="popupBtn" onclick="popupPdfView('11', '디티앤사노메딕스')" target="_blank">학습하기</a>-->
                <!--                                    <span th:id="${'id' + index.count}" th:text="${section.getId()}"></span>-->


                                                    <th:block th:if="${#strings.equalsIgnoreCase(sectionAction.getStatus(), 'COMPLETE')}">
                                                        <th:block th:inline="text" th:each="sectionFile : ${sectionAction.getCourseSection().getSectionFiles()}">
<!--                                                            <a href="#" class="label label-table label-success" id="popupBtn1"-->
<!--                                                               th:onclick="|javascript:popupPdfView('${sectionFile.getId()}', '${sectionAction.getId()}');return false;|" target="_blank" th:text="#{label.course.section.request}">학습하기</a>-->
                                                            <span class="label label-table label-success" th:text="${'학습종료'}"></span>
                                                        </th:block>
                                                    </th:block>

                                                    <th:block th:unless="${#strings.equalsIgnoreCase(sectionAction.getStatus(), 'COMPLETE') or #strings.isEmpty(sectionAction.getStatus())}">
                                                        <th:block th:inline="text" th:each="sectionFile : ${sectionAction.getCourseSection().getSectionFiles()}">
                                                            <a href="#" class="label label-table label-info" id="popupBtn"
                                                               th:onclick="|javascript:popupPdfView('${sectionFile.getId()}', '${sectionAction.getId()}');return false;|" target="_blank" th:text="#{label.course.section.request}">학습하기</a>
                                                        </th:block>
                                                    </th:block>


                                                </td>
                                            </tr>
                                        </th:block>
                                     </th:block>

    <!--                            <tr th:each="quizAction, index : ${courseQuizActions}">-->
                                <th:block th:each="quizAction, index : ${quizActions}">
                                <tr>
                                    <td class="text-center" th:text="${index.count}"}>1</td>
                                    <td class="text-center" th:text="#{label.title.quiz}"></td>
                                    <td class="text-left" th:text="${quizAction.getQuiz().getName()}"}></td>
    <!--                                <td class="text-center" th:text="${quiz.getFromDate() + ' ~ ' + quiz.getToDate()}"></td>-->
                                    <td class="text-center" th:text="${quizAction.getQuiz().getMinute() + '분'}"></td>
    <!--                                <td class="text-center"></td>-->
    <!--                                <td class="text-left" >-->
    <!--                                    <th:block th:each="actionQuiz : ${quiz.getQuizActions()}">-->
    <!--                                        <div class="progress">-->
    <!--                                            <div id="time2"  class="progress-bar progress-bar-success"-->
    <!--                                                 th:attr="style=${'width:' + T(Math).round((actionQuiz.getTotalUseSecond()*1.0) / actionQuiz.getSecond() * 100) + '%'}"-->
    <!--                                                 th:text="${T(Math).round((actionQuiz.getTotalUseSecond()*1.0) / actionQuiz.getSecond() * 100) + ' %'}">0%</div>-->
    <!--                                        </div>-->
    <!--                                    </th:block>-->
    <!--                                </td>-->
                                    <td class="text-center">
                                    </td>
                                    <td class="text-center">
                                        <th:block th:if="${#strings.equalsIgnoreCase(quizAction.getStatus(), 'REQUEST')}">
                                            <span th:text="${quizAction.getStatus()}" class="label label-mint"></span>
                                        </th:block>
                                        <th:block th:if="${#strings.equalsIgnoreCase(quizAction.getStatus(), 'ONGOING')}">
                                            <span th:text="${quizAction.getStatus()}" class="label label-danger"></span>
                                        </th:block>
                                        <th:block th:if="${#strings.equalsIgnoreCase(quizAction.getStatus(), 'FAIL')}">
                                            <span th:text="${quizAction.getStatus()}" class="label label-danger"></span>
                                        </th:block>
                                        <th:block th:if="${#strings.equalsIgnoreCase(quizAction.getStatus(), 'COMPLETE')}">
                                            <span th:text="${quizAction.getStatus()}" class="label label-success"></span>
                                        </th:block>
                                    </td>
                                    <td class="text-center">
                                        <th:block th:if="${#strings.equalsIgnoreCase(quizAction.getStatus(), 'REQUEST')}">
                                            <span class="label label-table label-warning" th:text="#{label.course.quiz.request}">미진행</span>
                                        </th:block>
                                        <th:block th:if="${#strings.equalsIgnoreCase(quizAction.getStatus(), 'FAIL')}">
                                            <a href="#" class="label label-table label-danger" id="popupQuiz"
                                               th:onclick="|javascript:popupQuizView('${quizAction.getId()}', 'Y');return false;|" target="_blank" th:text="#{label.course.quiz.reRequest}">재응시</a>
                                        </th:block>
                                        <th:block th:if="${#strings.equalsIgnoreCase(quizAction.getStatus(), 'COMPLETE')}">
                                            <span class="label label-table label-success" th:text="#{label.course.quiz.commit}">시험완료</span>
                                        </th:block>
                                        <th:block th:if="${#strings.equalsIgnoreCase(quizAction.getStatus(), 'ONGOING')}">
                                            <a href="#" class="label label-table label-info" id="popupQuiz2"
                                               th:onclick="|javascript:popupQuizView('${quizAction.getId()}', 'N');return false;|" target="_blank" th:text="#{label.course.quiz.request}">시험응시</a>
                                        </th:block>
                                    </td>
                                </tr>
                                </th:block>

                                <th:block th:each="surveyAction, index : ${surveyActions}">
                                <tr>
                                    <td class="text-center" th:text="${index.count}"}>1</td>
                                    <td class="text-center" th:text="#{label.title.survey}"></td>
                                    <td class="text-left" th:text="${surveyAction.getCourseSurvey().getName()}"}></td>
    <!--                                <td class="text-center" th:text="${survey.getFromDate() + ' ~ ' + survey.getToDate()}"}></td>-->
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center">
                                        <th:block th:if="${#strings.equalsIgnoreCase(surveyAction.getStatus(), 'REQUEST')}">
                                            <span th:text="${surveyAction.getStatus()}" class="label label-mint"></span>
                                        </th:block>
                                        <th:block th:if="${#strings.equalsIgnoreCase(surveyAction.getStatus(), 'COMPLETE')}">
                                            <span th:text="${surveyAction.getStatus()}" class="label label-success"></span>
                                        </th:block>
                                        <th:block th:if="${#strings.equalsIgnoreCase(surveyAction.getStatus(), 'ONGOING')}">
                                            <span th:text="${surveyAction.getStatus()}" class="label label-danger"></span>
                                        </th:block>
                                    </td>
                                    <td class="text-center">
                                        <th:block th:if="${#strings.equalsIgnoreCase(surveyAction.getStatus(), 'REQUEST')}">
                                            <span class="label label-table label-warning" th:text="#{label.course.survey.request}">미진행</span>
                                        </th:block>
                                        <th:block th:if="${#strings.equalsIgnoreCase(surveyAction.getStatus(), 'COMPLETE')}">
                                            <span class="label label-table label-success" th:text="#{label.course.survey.commit}">설문완료</span>
                                        </th:block>
                                        <th:block th:if="${#strings.equalsIgnoreCase(surveyAction.getStatus(), 'ONGOING')}">
                                            <a href="#" class="label label-table label-info" id="popupSurvey2"
                                               th:onclick="|javascript:popupSurveyView('${surveyAction.getId()}');return false;|" target="_blank" th:text="#{label.course.survey.request}">참여</a>
                                        </th:block>
                                    </td>
                                </tr>
                                </th:block>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div><!--panel-body End -->
            </div><!-- panel End -->
        </div><!-- Page content End -->
    </div><!-- Content container End -->
</th:block>

<th:block layout:fragment="custom_js">
    <script>
        function showMessage() {
            alert('준비중입니다..');
        }

        function popupPdfView(id, sectionActionId) {
           var width = 1000;
           var height = 720;

            var title = "디티앤사노메딕스";
            var url = "/mypage/classroom/pdfview/" + id + "/" + sectionActionId;
            // 만들 팝업창 좌우 크기의 1/2 만큼 보정값으로 빼주었음
            var popupX = (window.screen.width / 2) - (width / 2);
            // 만들 팝업창 상하 크기의 1/2 만큼 보정값으로 빼주었음
            var popupY= (window.screen.height / 2) - (height / 2);

            var option = "width =" + width + ", height =" + height + ", menubar=no, directories=no, location = no, scrollbars=yes, resizable=yes";
            option += ", left=" + popupX + ", top=" + popupY;

            window.open(url, title, option);
        }

        function popupQuizView(quizActionId, isNew) {
            var width = 1000;
            var height = 720;

            var title = "디티앤사노메딕스";
            var url = "/mypage/classroom/quizview/" + quizActionId + "/" + isNew;
            // 만들 팝업창 좌우 크기의 1/2 만큼 보정값으로 빼주었음
            var popupX = (window.screen.width / 2) - (width / 2);
            // 만들 팝업창 상하 크기의 1/2 만큼 보정값으로 빼주었음
            var popupY= (window.screen.height / 2) - (height / 2);

            var option = "width =" + width + ", height =" + height + ", menubar=no, directories=no, location = no, scrollbars=yes, resizable=no";
            option += ", left=" + popupX + ", top=" + popupY;

            window.open(url, title, option);
        }

        function popupSurveyView(quizActionId) {
            var width = 1000;
            var height = 720;

            var title = "디티앤사노메딕스";
            var url = "/mypage/classroom/surveyview/" + quizActionId;
            // 만들 팝업창 좌우 크기의 1/2 만큼 보정값으로 빼주었음
            var popupX = (window.screen.width / 2) - (width / 2);
            // 만들 팝업창 상하 크기의 1/2 만큼 보정값으로 빼주었음
            var popupY= (window.screen.height / 2) - (height / 2);

            var option = "width =" + width + ", height =" + height + ", menubar=no, directories=no, location = no, scrollbars=yes, resizable=no";
            option += ", left=" + popupX + ", top=" + popupY;

            window.open(url, title, option);
        }

    </script>
</th:block>

</html>