<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">

</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->

        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">

            <!-- Basic Data Tables -->
            <!--===================================================-->
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title"></h3>
                </div>
                <div class="panel-body">
<!--                    <div>-->
<!--                            <div class="input-group mar-btm pull-right">-->
<!--                                <a th:href="@{/admin/jd/version/add}"-->
<!--                                   class="btn btn-success" th:text="#{label.add}">Add new</a>-->
<!--                            </div>-->
<!--                    </div>-->

                    <h4>Job Description Current Version</h4>
                    <div th:switch="${borders}">
                        <h2 th:case="null">No customer yet!</h2>
                        <div th:case="*">

                            <table id="demo-dt-basic" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th class="text-center col-sm-4" th:text="#{label.title.jd}">이름</th>
                                    <th class="text-center col-sm-2">Version</th>
                                    <th class="text-center col-sm-3">Status</th>
                                    <th class="text-center col-sm-3" th:text="#{label.jd.releaseDate}">등록일</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="border, index : ${borders}">
                                    <td th:text="${border.jobDescription.title + ' (' + border.jobDescription.shortName + ')'}" class="text-left"></td>
                                    <td th:text="${border.version_no}" class="text-center"></td>
                                    <td class="text-center" th:text="${border.status.name()}"></td>
                                    <td th:text="${#dates.format(border.release_date, 'yyyy-MMM-dd')}" class="text-center"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div><!--switch End -->

                </div><!--panel-body End -->
            </div><!-- panel End -->
        </div><!-- Page content End -->
    </div><!-- Content container End -->
</th:block>

<th:block layout:fragment="custom_js">
    <script th:src="@{/default/js/demo/tables-datatables.js}"></script>
    <script>

        function popupPdfView(id) {
            // var width = screen.availWidth;
            // var height = screen.availHeight;

            var width = 800;
            var height = 600;

            var title = "디티앤사노메딕스";
            var url = "/admin/jd/version/viewJdFile/" + id;
            // 만들 팝업창 좌우 크기의 1/2 만큼 보정값으로 빼주었음
            var popupX = (window.screen.width / 2) - (width / 2);
            // 만들 팝업창 상하 크기의 1/2 만큼 보정값으로 빼주었음
            var popupY= (window.screen.height / 2) - (height / 2);


            var option = "width =" + width + ", height =" + height + ", menubar=no, directories=no, location = no, scrollbars=no, resizable=no";
            option += ", left=" + popupX + ", top=" + popupY;

            window.open(url, title, option);
        }

    </script>

</th:block>

</html>


