<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dtnsm.lms.mybatis.mapper.CourseAccountMapper">

    <select id="selectBeforeCourseReportAlarm" parameterType="String" resultType="com.dtnsm.lms.domain.CourseAccount">
        select a.*
        from el_course_account a
            inner join el_course b
                on a.course_id = b.id
            left outer join el_document c
                on a.id = c.course_doc_id
        where b.type_id = #{typeId}
        and a.to_date = convert(varchar(10), getdate()
            + convert(int, #{day} + (dbo.fn_GetTotalHolidays(getdate() + #{day}, getdate())*-1)), 121)
        and c.id is null
    </select>


    <select id="selectBeforeCourseToDateAlarm" parameterType="String" resultType="com.dtnsm.lms.domain.CourseAccount">
        select a.*
        from el_course_account a
            inner join el_course b
                on a.course_id = b.id
        where b.type_id = #{typeId}
        and a.to_date = convert(varchar(10), getdate() + convert(int, #{day}), 121)
        and a.course_status = 'process'
    </select>


<!--  교육기간내 교육을 완료하지 않는 교육과정(1일이 지난경우만 처리) -->
    <select id="getSelfTrainingExpirationToDateAlarm" parameterType="Integer" resultType="com.dtnsm.lms.domain.CourseAccount">
        select a.*
        from el_course_account a
            inner join el_course b
                on a.course_id = b.id
        where b.type_id = 'BC0101'
        and DATEDIFF(dd, a.to_date, convert(varchar(10), getdate(), 121)) = #{day}
        and a.course_status != 'complete'
    </select>


<!--    select b.type_id, a.user_id, c.name, a.from_date, a.to_date, a.course_status-->
<!--    , DATEDIFF(dd, a.from_date, a.to_date)+1 as 교육일수	&#45;&#45; 교육일수-->
<!--    , DATEDIFF(dd, a.to_date, convert(char(10), getdate(), 121)) as 교육초과일수	&#45;&#45;교육초과일수-->
<!--    , convert(varchar(10), getdate() + convert(int, -7), 121)-->
<!--    from el_course_account a-->
<!--    inner join el_course b-->
<!--    on a.course_id = b.id-->
<!--    left outer join account c-->
<!--    on a.user_id = c.user_id-->
<!--    where course_status = 'periodEnd'-->
<!--    and b.type_id = 'BC0101'    -->

</mapper>