<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dtnsm.lms.mybatis.mapper.CourseMapper">

    <select id="selectCourseCount" resultType="com.dtnsm.lms.mybatis.dto.CourseCountVO">
        select
            sum(case when id = 'BC0101' then 1 else 0 end) as 'col01'
            , sum(case when id = 'BC0102' then 1 else 0 end) as 'col02'
            , sum(case when id = 'BC0103' then 1 else 0 end) as 'col03'
            , sum(case when id = 'BC0104' then 1 else 0 end) as 'col04'
            , sum(course_cnt) as total_cnt
        from (
                select a.id
                --, a.course_name
                , count(*) as course_cnt
                from el_course_master a
                    inner join el_course b
                        on a.id = b.type_id
                group by a.id) x

    </select>


    <select id="selectCourseCalenda1" parameterType="String" resultType="com.dtnsm.lms.mybatis.dto.CourseCalendarVO">
        select id, title, request_from_date, request_to_date, from_date, to_date, status, active, type_id
        from el_course
        WHERE request_from_date between #{start} and #{end}
        and type_id not in ('BC0101')
        and active  = 1
        union
        select id, title, request_from_date, request_to_date, from_date, to_date, status, active, type_id
        from el_course
        WHERE request_to_date between #{start} and #{end}
        and type_id not in ('BC0101')
        and active  = 1
    </select>

    <select id="selectCourseCalenda2" parameterType="String" resultType="com.dtnsm.lms.mybatis.dto.CourseCalendarVO">
        select id, title, request_from_date, request_to_date, from_date, to_date, status, active, type_id
        from el_course
        WHERE from_date between #{start} and #{end}
        and type_id not in ('BC0101')
        and active  = 1
        union
        select id, title, request_from_date, request_to_date, from_date, to_date, status, active, type_id
        from el_course
        WHERE to_date between #{start} and #{end}
        and type_id not in ('BC0101')
        and active  = 1
    </select>


    <select id="selectUserCourseCalenda1" parameterType="String" resultType="com.dtnsm.lms.mybatis.dto.CourseCalendarVO">
        select b.id, title, request_date as request_from_date, request_date as request_to_date, a.from_date, a.to_date, status, active, type_id
        from el_course_account a
            inner join el_course b
                on a.course_id = b.id
        WHERE a.request_date between #{start} and #{end}
        and a.user_id like #{userId} + '%'
--         and b.type_id not in ('BC0101')
        and b.active  = 1
    </select>

    <select id="selectUserCourseCalenda2" parameterType="String" resultType="com.dtnsm.lms.mybatis.dto.CourseCalendarVO">
        select b.id, title, request_date as from_date, request_date as request_to_date, a.from_date, a.to_date, status, active, type_id
        from el_course_account a
            inner join el_course b
                on a.course_id = b.id
        WHERE a.from_date between #{start} and #{end}
        and a.user_id like #{userId} + '%'
--         and type_id not in ('BC0101')
        union
        select b.id, title, request_date as from_date, request_date as request_to_date, a.from_date, a.to_date, status, active, type_id
        from el_course_account a
            inner join el_course b
                on a.course_id = b.id
        WHERE a.to_date between #{start} and #{end}
        and a.user_id like #{userId} + '%'
--         and b.type_id not in ('BC0101')
    </select>

<!--    <insert id="insertCity">-->
<!--      INSERT INTO CITY (NAME, COUNTRY, POPULATION)-->
<!--      VALUES (#{name}, #{country}, #{population})-->
<!--    </insert>-->

</mapper>