<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dtnsm.lms.mybatis.mapper.CVFinderMapper">
    <select id="findCV" parameterType="com.dtnsm.lms.mybatis.dto.CVFindParam" resultType="com.dtnsm.lms.mybatis.dto.CVFindResult">
        select
            id,
            sum(DATEDIFF(DAY, start_date, case when end_date is null then getdate() else end_date end)) days
        from(
            select
                distinct
                cv.id,
                ca.start_date,
                ca.end_date
            from el_curriculum_vitae cv left join el_cv_career_history ca
            on cv.id = ca.cv_id
            left join el_cv_experience ex
            on cv.id = ex.cv_id
            left join account acc
            on cv.account_user_id = acc.user_id
            where cv.status = 'CURRENT'
            and ca.clinical_trial_experience = 1
            and acc.enabled = #{enabled}
            <if test="usernameList != null">
                and cv.account_user_id in
                <foreach collection="usernameList" item="username" index="index" separator="," open="(" close=")">
                    #{username}
                </foreach>
            </if>
            <if test="ta != null">
            and ex.ta = #{ta}
            </if>
            <if test="indication != null">
            and ex.indication = #{indication}
            </if>
        ) aa group by id
    </select>

    <select id="findUpdateBinderUsers" resultType="com.dtnsm.lms.domain.Account">
      select u.email, u.name, a.remainday from(
        select
            username as userid,
            datediff(day, convert(date, getdate()), dateadd(year, 1, max(convert(date, case when date_of_review is null then request_date else date_of_review end)))) remainday
        FROM el_training_record_review
        where status in('REQUEST', 'REVIEWED')
        group by username
        ) a left join account u
        on a.userid = u.user_id
        where remainday in(21, 14, 7, 3, 1)
        and u.enabled = 1
        and u.user_type = 'U'
    </select>

    <select id="findBinderRegistUsers" resultType="com.dtnsm.lms.domain.Account">
        select * from (
            select
            email,
            indate,
            dateadd(week, 8, convert(date, indate)) week8,
            user_id as userId,
            name,
            datediff(day, convert(date, getdate()), dateadd(week, 8, convert(date, indate))) remainDay
            from account
            where enabled = 1
            and dateadd(week, 8, convert(date, indate)) > getdate()
            and convert(date, indate) >= convert(date, '2020-03-01')
            and user_type = 'U'
            and user_id not in(select distinct username from el_training_record_review)
            ) a where remainDay in(7, 3, 1)
    </select>
    <select id="findByParentUserId" parameterType="string" resultType="string">
        with temp as (
        select user_id, parent_user_id from account where parent_user_id = #{parentUserid} and user_id <![CDATA[<>]]> 'khkim' and enabled = 1
        union all
        select b.user_id, b.parent_user_id from temp a
        inner join account b on b.parent_user_id = a.user_id
        and b.parent_user_id is not null
        and b.enabled = 1
        )
        select user_id from temp
        option(maxrecursion 5);
    </select>
</mapper>
