<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css"></th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->
        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">

            <!-- Basic Data Tables -->
            <!--===================================================-->
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">공지사항 수정</h3>
                </div>
                <div class="panel-body">
                    <!--===================================================-->
                    <!--End Horizontal Form-->
                    <form class="form-horizontal" id="boardFrm" action="#" th:action="@{/admin/course/survey/edit-post/{id}(id=${courseSurvey.getId()})}" th:object="${courseSurvey}" method="post" enctype="multipart/form-data">
                        <input type="hidden" th:value="${id}" id="id" name="id">
                        <input type="hidden" th:field="*{type}" id="type" >
<!--                        <div class="form-group">-->
<!--                            <label class="col-sm-2 control-label" th:text="#{label.gubun}">구분</label>-->
<!--                            <div class="col-sm-10">-->
<!--                                <select th:field="*{type}" class="form-control" readonly="readonly">-->
<!--                                    <option th:each="code : ${codeList}" th:value="${code.getMinorCd()}" th:text="${code.getMinorNm()}"></option>-->
<!--                                </select>-->
<!--                            </div>-->
<!--                            <span th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></span>-->
<!--                        </div>-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="name" th:text="#{label.course.survey.name}">설문명</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{name}" id="name" placeholder="설문명" class="form-control" required="required">
                            </div>
                            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="fromDate" th:text="#{label.course.survey.period}">설문기간</label>
                            <div class="col-sm-10">
                                <div id="demo-dp-range">
                                    <div class="input-daterange input-group" id="datepicker2">
                                        <input type="text" th:field="*{fromDate}" id="fromDate" placeholder="from" class="form-control" required="required">
                                        <span th:if="${#fields.hasErrors('fromDate')}" th:errors="*{fromDate}"></span>
                                        <span class="input-group-addon">to</span>
                                        <input type="text" th:field="*{toDate}" id="toDate" placeholder="to" class="form-control" required="required">
                                        <span th:if="${#fields.hasErrors('toDate')}" th:errors="*{toDate}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="questionCount" th:text="#{label.questioncount}">질문수</label>
                            <div class="col-sm-4">
                                <input type="number" th:field="*{questionCount}" id="questionCount" placeholder="" class="form-control" required="required">
                            </div>
                            <span th:if="${#fields.hasErrors('questionCount')}" th:errors="*{questionCount}"></span>
                            <label class="col-sm-2 control-label" for="itemCount" th:text="#{label.itemcount}">항목수</label>
                            <div class="col-sm-4">
                                <input type="number" th:field="*{itemCount}" id="itemCount" placeholder="" class="form-control" required="required">
                            </div>
                            <span th:if="${#fields.hasErrors('itemCount')}" th:errors="*{itemCount}"></span>
                        </div>
                        <div class="panel-footer text-right">
                            <button class="btn btn-primary" type="submit" id="submit-all" th:text="#{label.save}">
                                <i class="fa fa-upload-cloud"></i> 저장
                            </button>
                        </div>
                    </form>
                </div><!--panel-body End -->
            </div><!-- panel End -->
        </div><!-- Page content End -->
    </div><!-- Content container End -->
</th:block>

<th:block layout:fragment="custom_js">

    <!--Dropzone [ OPTIONAL ]-->
<!--    <script th:src="@{/default/plugins/dropzone/dropzone.min.js}"></script>-->

    <script type="text/javascript" th:src="@{/editor/js/HuskyEZCreator.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/default/js/custom/course-editor.js}" charset="utf-8"></script>

<!--    <script type="text/javascript" th:src="@{/default/js/custom/course-file.js}" charset="utf-8"></script>-->

<!--    <script type="text/javascript" th:src="@{/default/js/custom/course-add.js}" charset="utf-8"></script>-->

    <script>
        $('#demo-dp-range .input-daterange').datepicker({
            // format: "MM dd, yyyy",
            format: "yyyy-mm-dd",
            todayBtn: "linked",
            autoclose: true,
            todayHighlight: true
        });

    </script>

    <!--Form File Upload [ SAMPLE ]-->
<!--    <script th:src="@{/default/js/demo/form-file-upload.js}"></script>-->
</th:block>

</html>