<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">

    <!--Morris.js [ OPTIONAL ]-->
    <link th:href="@{/default/plugins/morris-js/morris.min.css}" rel="stylesheet">

    <style>
        .table-head {
            background: #3A444E;
            margin: 0;
            padding: 0;
        }

        td {
            text-align: center;
        }
    </style>
</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->

        <!--Page content-->
        <!--===================================================-->
        <div id="page-content" style="margin-bottom:0">


            <div class="panel">
                <div class="panel-body">
                    <div class="row text-left">
                        <div class="col-sm-12">
                            <p class="text-right">
<!--                                <button class="btn btn-primary" id="pdfsave">PDF저장</button>-->
                                <button class="btn btn-primary" onclick="saveAsPdf();">PDF저장</button>
                                <a class="btn btn-primary" th:href="@{/admin/course/{typeId}/{courseId}/survey(typeId=${typeId}, courseId=${courseId})}"><i class="demo-pli-back"></i> Back</a>
                            </p>
                        </div>
                    </div>
                    <div th:switch="${borders}">
                        <div th:case="null">No customer yet!</div>
                        <div th:case="*">
<!--                            <div class="table-responsive">-->
<!--                                <hr class="table-head">-->
                                <table id="demo-dt-basic1" class="table" cellspacing="0" width="100%" style="margin-top:0">
                                    <tr>
                                        <td class="text-left" colspan="7">
                                            <h3 class="title text-info"><span th:text="${courseTitle}"></span></h3>
                                        </td>
                                    </tr>
                                    <th:block th:each="border, index : ${borders}">

                                        <tr>
                                            <td class="text-left" colspan="7">
                                                <div th:text="${border.getId()}" th:id="${'question-' + index.index}" style="color:white"></div>
                                                <h4 th:utext="${'Q' + index.count + '. ' + #strings.replace(border.getTitle(), '{0}', '<span class=''text-info''>' + courseTitle + '</span>')}"></h4>
                                            </td>
                                        </tr>
<!--                                        <th:block th:if="${border.getEx3()}">-->
                                        <tr>
                                            <td class="text-center" colspan="7">
                                                <!-- Bar Chart -->
                                                <!---------------------------------->
                                                <div class="panel">
<!--                                                    <div class="panel-heading">-->
<!--                                                        <h3 class="panel-title">Bar Chart</h3>-->
<!--                                                    </div>-->
                                                    <div class="panel-body">
                                                        <div th:id="${'demo-morris-bar' + index.index}" style="height: 250px"></div>
                                                    </div>
                                                </div>
                                                <!---------------------------------->
                                            </td>
                                        </tr>
<!--                                        </th:block>-->
                                        <tr style="background: #FAFAFA;">
                                            <th class="text-center col-sm-1">구분</th>
                                            <th:block th:unless="${isSelf}">
                                                <th class="text-center col-sm-1">매우만족</th>
                                                <th class="text-center col-sm-1">만족</th>
                                                <th class="text-center col-sm-1">보통</th>
                                                <th class="text-center col-sm-1">불만족</th>
                                                <th class="text-center col-sm-1">매우불만족</th>
                                            </th:block>
                                            <th:block th:if="${border.getEx3()}">
                                                <th class="text-center col-sm-1">예</th>
                                                <th class="text-center col-sm-1">아니오</th>
                                            </th:block>
                                            <th class="text-center col-sm-1">총계</th>
                                        </tr>
                                        <tr>

                                            <th:block th:unless="${isSelf}">
                                                <td rowspan="2" style="vertical-align: middle">만족도</td>
                                                <td th:text="${border.getEx1() + '%'}"></td>
                                                <td th:text="${border.getEx2() + '%'}"></td>
                                                <td th:text="${border.getEx3() + '%'}"></td>
                                                <td th:text="${border.getEx4() + '%'}"></td>
                                                <td th:text="${border.getEx5() + '%'}"></td>
                                            </th:block>
                                            <th:block th:if="${isSelf}">
                                                <td rowspan="2" style="vertical-align: middle">이해도</td>
                                                <td th:text="${border.getEx1() + '%'}"></td>
                                                <td th:text="${border.getEx5() + '%'}"></td>
                                            </th:block>
                                            <td th:text="${border.getTotal()}" rowspan="2" style="vertical-align: middle"></td>
                                        </tr>
                                        <tr>
                                            <th:block th:unless="${isSelf}">
                                                <td th:text="${border.getEx6()}"></td>
                                                <td th:text="${border.getEx7()}"></td>
                                                <td th:text="${border.getEx8()}"></td>
                                                <td th:text="${border.getEx9()}"></td>
                                                <td th:text="${border.getEx10()}"></td>
                                            </th:block>
                                            <th:block th:if="${isSelf}">
                                                <td th:text="${border.getEx6()}"></td>
                                                <td th:text="${border.getEx10()}"></td>
                                            </th:block>
                                        </tr>
                                    </th:block>
                                    <th:block th:each="shoutQuestion, index : ${shoutQuestions}">
                                        <tr>
                                            <td class="text-left" colspan="7">
                                                <div th:text="${shoutQuestion.getId()}" th:id="${'question-' + index.index}" style="color:white"></div>
                                                <h4 th:text="${shoutQuestion.getQuestion()}"></h4>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left" colspan="7">
                                                <ul th:each="answer, index : ${shoutQuestionsAnswer}">
                                                    <li th:if="${ shoutQuestion.getId() == answer.getQuestionId()}" th:text="${answer.getUserAnswer()}"></li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </th:block>

                                </table>
<!--                            </div>-->
                        </div>
                    </div><!--switch End -->

                </div><!--panel-body End -->
            </div><!-- panel End -->
        </div>
    </div>
</th:block>


<th:block layout:fragment="custom_js">

    <!--Morris.js [ OPTIONAL ]-->
    <script th:src="@{/default/plugins/morris-js/morris.min.js}"></script>
    <script th:src="@{/default/plugins/morris-js/raphael-js/raphael.min.js}"></script>

    <script th:src="@{/default/plugins/html2canvas/bluebird.min.js}"></script>

    <script type = "text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script type = "text/javascript" src = "https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>


    <script th:inline="javascript">
        var row_cnt = [[${borders.size()}]];
        var course_id = [[${courseId}]];
        var isSelf = [[${isSelf}]];


        $( document ).ready(function() {


            if (isSelf) {


                for (var i = 0; i < row_cnt; i++) {


                    var question_id = $('#question-' + i).text();


                    var json = (function () {
                        var json2 = null;

                        var allData = {"courseId": course_id, "questionId": question_id};

                        $.ajax({
                            'async': false,
                            'global': false,
                            'type': 'POST',
                            'url': '/report/surveyChartData',
                            'data': allData,
                            'dataType': "json",
                            'success': function (data) {
                                json2 = data;
                            }
                        });
                        return json2;
                    })
                    ();


                    var chartJsonArray = new Array();

                    $.each(json, function(key, value){

                        var chartJsonObject = new Object();

                        // 0:예, 4:아니오
                        if (key == 0 || key == 4) {
                            chartJsonObject.title = key == 0 ? "예" : "아니오";
                            chartJsonObject.ex1 = value.ex1;
                            chartJsonObject.ex2 = value.ex2;
                            chartJsonArray.push(chartJsonObject);
                        }
                    });

                    // MORRIS BAR CHART
                    // =================================================================
                    // Require MorrisJS Chart
                    // -----------------------------------------------------------------
                    // http://morrisjs.github.io/morris.js/
                    // =================================================================
                    Morris.Bar({
                        element: 'demo-morris-bar' + i,
                        data: chartJsonArray,
                        xkey: 'title',
                        ykeys: ['ex2'],
                        labels: ['이해도'],
                        gridEnabled: true,
                        gridLineColor: 'rgba(0,0,0,.1)',
                        gridTextColor: '#8f9ea6',
                        gridTextSize: '11px',
                        barColors: ['#1abc9c'],
                        resize: true,
                        hideHover: 'auto'
                    });
                }

            } else {

                for (var i = 0; i < row_cnt; i++) {


                    var question_id = $('#question-' + i).text();


                    var json = (function () {
                        var json2 = null;

                        var allData = {"courseId": course_id, "questionId": question_id};

                        $.ajax({
                            'async': false,
                            'global': false,
                            'type': 'POST',
                            'url': '/report/surveyChartData',
                            'data': allData,
                            'dataType': "json",
                            'success': function (data) {
                                json2 = data;
                            }
                        });
                        return json2;
                    })
                    ();

                    // MORRIS BAR CHART
                    // =================================================================
                    // Require MorrisJS Chart
                    // -----------------------------------------------------------------
                    // http://morrisjs.github.io/morris.js/
                    // =================================================================
                    Morris.Bar({
                        element: 'demo-morris-bar' + i,
                        data: json,
                        xkey: 'title',
                        ykeys: ['ex2'],
                        labels: ['만족도'],
                        gridEnabled: true,
                        gridLineColor: 'rgba(0,0,0,.1)',
                        gridTextColor: '#8f9ea6',
                        gridTextSize: '11px',
                        barColors: ['#1abc9c'],
                        resize: true,
                        hideHover: 'auto'
                    });
                }
            }
        });

        //
        // function safePdf() {
        //     var doc = new jsPDF();
        //     doc.fromHTML(document.getElementById("demo-dt-basic1"), 15, 15, {
        //         'width': 170
        //     });
        //     console.log(doc);
        //     doc.save("설문통계.pdf");
        // }

        // $('#pdfsave').click(function() {
        //
        //     alert('test');
        //
        //     html2canvas(document.getElementById("demo-dt-basic1")).then(function(canvas) {
        //         var imgData = canvas.toDataURL("image/png");
        //         var doc = new jsPDF('p', 'mm', [297, 210]);
        //         doc.addImage(imgData, 'PNG', 10, 10, 190, 95);
        //         doc.save('sample-file.pdf');
        //     });
        // });


        function saveAsPdf() {

            html2canvas(document.getElementById("demo-dt-basic1")).then(function(canvas) {

                var name = '설문통계';
                var imgData = canvas.toDataURL('image/png');
                var imgWidth = 210;
                var pageHeight = 295;
                var imgHeight = canvas.height * imgWidth / canvas.width;
                var heightLeft = imgHeight;
                var doc = new jsPDF('p', 'mm');

                var x = 3;
                var y = 10;

                doc.addImage(imgData, 'PNG', x, y, imgWidth-6, imgHeight-5);   // addImage(imageData, format, x, y, width, height, alias, compression, rotation)
                heightLeft -= pageHeight;

                while (heightLeft >= 0) {
                    y = heightLeft - imgHeight;
                    doc.addPage();
                    doc.addImage(imgData, 'PNG', x, y, imgWidth-6, imgHeight-5);   // addImage(imageData, format, x, y, width, height, alias, compression, rotation)
                    heightLeft -= pageHeight;
                }

                doc.save(name + '.pdf');



                // var imgData = canvas.toDataURL('image/png');
                // var imgWidth = 210;
                // var pageHeight = imgWidth / 1.414;
                // var imgHeight = canvas.height * imgWidth / canvas.width;
                //
                // var doc = new jsPDF({
                //     'orientation': 'l',
                //     'unit': 'mm',
                //     'format': 'a4'
                // });
                //
                // doc.addImage(imgData, 'PNG', 0, 0, imgWidth, imgHeight);
                // doc.save(name);
                // console.log('Reached here?');


                //캔버스를 이미지로 변환
                // var imgData = canvas.toDataURL('image/png');
                //
                // var imgWidth = 210; // 이미지 가로 길이(mm) A4 기준
                // var pageHeight = imgWidth * 1.414;  // 출력 페이지 세로 길이 계산 A4 기준
                //
                // var imgHeight = canvas.height * imgWidth / canvas.width;
                //
                // var heightLeft = imgHeight;
                //
                // var doc = new jsPDF({
                //     'orientation': 'p', // p(종), l(횡)
                //     'unit': 'mm',
                //     'format': 'a4'
                // });
                // var top = 10;
                // var left = 5;
                //
                //
                //
                // // 첫 페이지 출력
                // doc.addImage(imgData, 'PNG', left, top, imgWidth, imgHeight);
                // heightLeft -= pageHeight;
                //
                // // 한 페이지 이상일 경우 루프 돌면서 출력
                // while (heightLeft >= 20) {
                //     position = heightLeft - imgHeight;
                //     doc.addPage();
                //     doc.addImage(imgData, 'PNG', left, top, imgWidth, imgHeight);
                //     heightLeft -= pageHeight;
                // }
                //
                // //doc.internal.scaleFactor = 0.8;
                //
                // // 파일 저장
                // doc.save(name);



            });
        }

    </script>
</th:block>

</html>


