<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">
    <!--Select2 [ OPTIONAL ]-->
    <link th:href="@{/default/plugins/select2/css/select2.min.css}" rel="stylesheet">

    <style>
        .table-head {
            background: #3A444E;
            margin: 0;
            padding: 0;
        }
    </style>
</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->

        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">

            <!-- Basic Data Tables -->
            <!--===================================================-->
            <div class="panel">
                <div class="panel-body">
                    <div th:switch="${userJobDescriptions}">
                        <div th:case="null">Job Title 정보가 존재하지 않습니다.</div>
                        <div th:case="*">
                            <hr class="table-head">
                            <div class="table-responsive">
                                <table id="customer-list-page" class="table" cellspacing="0" width="100%">
                                    <thead>
                                    <tr style="background: #FAFAFA;">
                                        <th class="text-center">번호</th>
                                        <th class="text-center">Job Title</th>
                                        <th class="text-center">배정일</th>
                                        <th class="text-center">동의일</th>
                                        <th class="text-center">승인일</th>
<!--                                        <th class="text-center">상태</th>-->
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user, index : ${userJobDescriptions}">
                                        <td th:text="${index.count}" class="text-center"></td>
                                        <td class="text-center">
                                            <span th:text="|${user.jobDescriptionVersion.jobDescription.title} v${user.jobDescriptionVersion.version_no}|">-</span>
                                            <th:block th:if="${user.jobDescriptionVersion.jobDescriptionVersionFile != null}">
                                                <a class="btn btn-purple btn-xs" th:href="@{/employees/jd/{id}/print(id=${user.id})}"><i class="fa fa-file-pdf-o"></i> Job Description</a>
                                            </th:block>
                                        </td>
                                        <td th:text="${#dates.format(user.assignDate, 'yyyy-MM-dd')}" class="text-center"></td>
                                        <td class="text-center">
                                            <th:block th:if="${user.agreeDate == null}">
                                                <button class="btn btn-info btn-xs" data-target="#agree-modal" th:attr="data-id=${user.id}" data-toggle="modal"><i class="fa fa-file-pdf-o"></i> View</button>
                                            </th:block>
                                            <span th:if="${user.agreeDate != null}" th:text="${#dates.format(user.assignDate, 'yyyy-MM-dd')}"></span>
                                        </td>
                                        <td class="text-center">
                                            <span th:if="${user.approvedDate != null}" th:text="${#dates.format(user.approvedDate, 'yyyy-MM-dd')}"></span>
                                        </td>
                                        </td>
<!--                                        <td th:text="${user.status.label}" class="text-center"></td>-->
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div><!--switch End -->
                </div><!--panel-body End -->
            </div><!-- panel End -->
        </div><!-- Page content End -->
    </div><!-- Content container End -->

    <!--Default Bootstrap Modal-->
    <!--===================================================-->
    <div class="modal fade" id="agree-modal" role="dialog" tabindex="-1" aria-labelledby="agree-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="f" id="agreeForm" method="post">
                    <input type="hidden" id="id" name="id"/>
                    <!--Modal header-->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                        <h4 class="modal-title">Job Description</h4>
                    </div>

                    <!--Modal body-->
                    <div class="modal-body">
                        <p class="text-semibold">
                            I acknowledge that I have read and understand my given role and responsibilities
                            and am capable of performing all of the stated requirements.
                        </p>
                    </div>

                    <!--Modal footer-->
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                        <button class="btn btn-primary">Agree</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--===================================================-->
    <!--End Default Bootstrap Modal-->
</th:block>

<th:block layout:fragment="custom_js">
    <script>
        // $('#selectOption').chosen({width:'100%'});
        $(document).ready(function() {

            $("#agree-modal").on('show.bs.modal', function(e) {
                var id = $(e.relatedTarget).data('id');
                $("#id").val(id);
            });
        });
    </script>
</th:block>

</html>


