<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">
    <!--Select2 [ OPTIONAL ]-->
    <link th:href="@{/default/plugins/select2/css/select2.min.css}" rel="stylesheet">

    <style>
        .table-head {
            background: #3A444E;
            margin: 0;
            padding: 0;
        }

        .pdf_content {
            padding:20px 0 20px 0;
            background-color:#fafafa;
        }

        .pdf_content svg {
            background-color:#fff;
            border:1px solid #333;
            box-shadow: 5px 5px 5px;
        }
    </style>
</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->

        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">
            <div class="tab-base">
                <ul class="nav nav-tabs">
                    <li id="current">
                        <a href="/mypage/jd/approved">Current</a>
                    </li>
                    <li id="superseded">
                        <a href="/mypage/jd/superseded">Old Version</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <!-- Basic Data Tables -->
                    <!--===================================================-->
                    <div class="panel">
                        <div class="panel-body">
                            <div th:switch="${userJobDescriptions}">
                                <div th:case="null">Job Title 정보가 존재하지 않습니다.</div>
                                <div th:case="*">
                                    <hr class="table-head">
                                    <div class="table-responsive">
                                        <table id="customer-list-page" class="table" cellspacing="0" width="100%">
                                            <thead>
                                            <tr style="background: #FAFAFA;">
                                                <th class="text-center">번호</th>
                                                <th class="text-center">Job Title</th>
                                                <th class="text-center">배정일</th>
                                                <th class="text-center">동의일</th>
                                                <th class="text-center">승인일</th>
        <!--                                        <th class="text-center">상태</th>-->
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="user, index : ${userJobDescriptions}">
                                                <td th:text="${index.count}" class="text-center"></td>
                                                <td>
                                                    <span th:text="|${user.jobDescriptionVersion.jobDescription.title} v${user.jobDescriptionVersion.version_no}|">-</span>
                                                    <th:block th:if="${user.status.name() eq 'APPROVED' or user.status.name() eq 'REVOKE' or user.status.name() eq 'SUPERSEDED'}">
                                                        <input th:value="${user.htmlContent}" th:id="|user_jd_cont_${user.id}|" th:type="hidden">
                                                        <button class="btn btn-purple btn-xs" data-target="#current-modal" th:attr="data-id=${user.id},data-page=${user.jobDescriptionVersion.jobDescriptionVersionFile.pageCount}" data-toggle="modal"><i class="fa fa-file-pdf-o"></i> Job Description</button>
                                                    </th:block>
<!--                                                    <th:block th:if="${user.status.name() eq 'ASSIGNED' or user.status.name() eq 'AGREE'}">-->
<!--                                                        <a class="btn btn-purple btn-xs" th:href="@{/mypage/jd/{id}/view(id=${user.id})}"><i class="fa fa-file-pdf-o"></i> Job Description</a>-->
<!--                                                    </th:block>-->
                                                </td>
                                                <td th:text="${#dates.format(user.assignDate, 'yyyy-MM-dd')}" class="text-center"></td>
                                                <td class="text-center">
                                                    <th:block th:if="${user.status.name() eq 'ASSIGNED'}">
                                                        <input th:value="${user.jobDescriptionVersion.jobDescriptionVersionFile.htmlContent}" th:id="|jd_cont_${user.id}|" th:type="hidden">
                                                        <button class="btn btn-info btn-xs" data-target="#agree-modal" th:attr="data-id=${user.id},data-page=${user.jobDescriptionVersion.jobDescriptionVersionFile.pageCount}" data-toggle="modal"><i class="fa fa-eye"></i> Agree</button>
        <!--                                                <a class="btn btn-info btn-xs" th:href="@{/mypage/jd/viewFile/{id}(id=${user.jobDescriptionVersion.jobDescriptionVersionFile.id})}"><i class="fa fa-file-pdf-o"></i> View</a>-->
                                                    </th:block>
                                                    <span th:if="${user.agreeDate != null}" th:text="${#dates.format(user.assignDate, 'yyyy-MM-dd')}"></span>
                                                </td>
                                                <td class="text-center">
                                                    <span th:if="${user.approvedDate != null}" th:text="${#dates.format(user.approvedDate, 'yyyy-MM-dd')}"></span>
                                                </td>
                                                </td>
        <!--                                        <td th:text="${user.status.label}" class="text-center"></td>-->
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                            </div><!--switch End -->
                        </div><!--panel-body End -->
                    </div><!-- panel End -->
                </div>
            </div>
        </div><!-- Page content End -->
    </div><!-- Content container End -->

    <!--Default Bootstrap Modal-->
    <!--===================================================-->
    <div class="modal fade" id="agree-modal" role="dialog" tabindex="-1" aria-labelledby="agree-modal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form name="f" id="agreeForm" method="post" action="/mypage/jd">
                    <input type="hidden" id="id" name="id"/>
                    <!--Modal header-->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                        <h4 class="modal-title">Job Description</h4>
                    </div>

                    <!--Modal body-->
                    <div class="modal-body">
                        <div id="preview_cont" class="text-center pdf_content"></div>
                    </div>

                    <!--Modal footer-->
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                        <button class="btn btn-primary">Agree</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--===================================================-->
    <!--End Default Bootstrap Modal-->
    <!--Default Bootstrap Modal-->
    <!--===================================================-->
    <div class="modal fade" id="current-modal" role="dialog" tabindex="-1" aria-labelledby="current-modal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                    <h4 class="modal-title">Job Description</h4>
                </div>

                <!--Modal body-->
                <div class="modal-body">
                    <div id="preview_jd_cont" class="text-center pdf_content"></div>
                </div>

                <!--Modal footer-->
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--===================================================-->
    <!--End Default Bootstrap Modal-->
</th:block>

<th:block layout:fragment="custom_js">
    <script>
        // $('#selectOption').chosen({width:'100%'});
        $(document).ready(function() {

            $("#agree-modal").on('show.bs.modal', function(e) {
                var id = $(e.relatedTarget).data('id');
                $("#id").val(id);
                $("#preview_cont").html($("#jd_cont_" + id).val());
            });
            $("#current-modal").on('show.bs.modal', function(e) {
                var id = $(e.relatedTarget).data('id');
                $("#id").val(id);
                $("#preview_jd_cont").html($("#user_jd_cont_" + id).val());
            });

            var pathname = location.pathname;
            var isSuperseded = pathname.indexOf("superseded") != -1;
            if(isSuperseded) {
                $("#superseded").addClass("active");
            } else {
                $("#current").addClass("active");
            }
        });
    </script>
</th:block>

</html>


