<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">

    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link rel="stylesheet" th:href="@{/default/plugins/jquery-ui/jquery-ui.min.css}" />

    <!--Themify Icons [ OPTIONAL ]-->
<!--    <link th:href="@{/default/plugins/multiple-picker/jquery-ui.multidatespicker.css}" rel="stylesheet">-->

    <link rel="stylesheet" type="text/css" th:href="@{/default/plugins/multiple-picker/mdp.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/default/plugins/multiple-picker/prettify.css}">

        <style type="text/css">
            .height-fix-pannel {
                min-height: 160px;
            }
            .table-head {
                background: #3A444E;
                height: 0.1em;
                margin: 0;
                padding: 0;
            }
            body {
                /*font-size: x-small !important;*/
                /*height: 600px;                /*font-size: x-small !important;*/
                /*height: 600px;                /*font-size: x-small !important;*/
                /*height: 600px;*/
            }
            table {
                border-top: 1px solid #EDEDED;
                margin-top: 0px;
            }

            tr {
            }
            td {
                padding: 5px;
            }

            h5{
                margin-bottom: 0px;

            }

            .panel-body {
                padding-top: 15px;
                padding-bottom: 15px;
            }

        </style>
</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">
        <!--===================================================-->
        <div id="page-content">

            <!-- 메인 Lay out -->
            <div class="row">

                <div class="col-md-9">
                    <div class="row">
                        <div class="eq-height">
                            <div class="col-sm-6 col-lg-6 eq-box-lg">
                                <div class="panel height-fix-pannel">
                                    <div class="panel-body">
                                        <h5 class="col-md-6" th:text="#{label.title.notice}" style="padding-bottom: 10px">공지사항</h5>
                                        <small class="text-semibold text-main text-right col-md-6" style="margin-bottom: 0px"><br><a href="/border/list/BA0101">more ></a></small>
                                        <div class="row">
                                            <div class="col-md-12" th:switch="${borders}">
                                                <h2 th:case="null">No customer yet!</h2>
                                                <div th:case="*">
                                                    <table id="customer-list-page" class="" cellspacing="0" width="100%">
                                                        <tbody>
                                                        <tr th:each="border, index : ${borders}">
                                                            <td>
                                                                <a th:href="@{/border/view/{id}(id=${border.getId()})}">
                                                                    <th:block th:if="${#strings.length(border.getTitle()) > 30}">
                                                                        <span th:text="${#strings.substring(border.getTitle(), 0, 30) + '...'}"></span>
                                                                    </th:block>
                                                                    <th:block th:unless="${#strings.length(border.getTitle()) > 30}">
                                                                        <span th:text="${border.getTitle()}"></span>
                                                                    </th:block>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div><!--switch End -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6 eq-box-lg">
                                <div class="panel height-fix-pannel">
                                    <div class="panel-body">
                                        <h5 class="col-md-6" th:text="#{label.title.news}" style="padding-bottom: 10px">What's New</h5>
                                        <small class="text-semibold text-main text-right col-md-6" style="margin-bottom: 0px"><br><a href="/border/list/BA0104">more ></a></small>

                                        <div th:switch="${borders2}">
                                            <h2 th:case="null"></h2>
                                            <div th:case="*">
                                                <table id="customer-list-page2" class="" cellspacing="0" width="100%">
                                                    <tbody>
                                                    <tr th:each="border, index : ${borders2}">
                                                        <td>
                                                            <a th:href="@{/border/view/{id}(id=${border.getId()})}">
                                                                <th:block th:if="${#strings.length(border.getTitle()) > 30}">
                                                                    <span th:text="${#strings.substring(border.getTitle(), 0, 30) + '...'}"></span>
                                                                </th:block>
                                                                <th:block th:unless="${#strings.length(border.getTitle()) > 30}">
                                                                    <span th:text="${border.getTitle()}"></span>
                                                                </th:block>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div><!--switch End -->
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="eq-height">
                            <div class="col-sm-6 col-lg-6 eq-box-lg">
                                <div class="panel height-fix-pannel">
                                    <div class="panel-body">
                                        <h5 class="col-md-6" th:text="#{label.title.alarm}" style="padding-bottom: 10px">알림사항</h5>
<!--                                        <small class="text-semibold text-main text-right col-md-6" style="margin-bottom: 0px"><br><a href="#">more ></a></small>-->
                                        <div th:switch="${alarmList}">
                                            <h2 th:case="null"></h2>
                                            <div th:case="*">
                                                <table id="" class="" cellspacing="0" width="100%">
                                                    <tbody>
                                                    <tr th:each="border, index : ${alarmList}">
                                                        <td class="text-left col-md-4" th:text="${#dates.format(border.getCreatedDate(), 'yyyy/MM/dd hh:mm')}">
                                                        </td>
<!--                                                        <td class="text-left col-md-2">-->
<!--                                                            <span th:utext="${border.getAlarmGubun().getLabel()}"></span>-->
<!--                                                        </td>-->
                                                        <td class="text-left col-md-6">
                                                            <span th:utext="${border.getTitle()}"></span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div><!--switch End -->
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-6 col-lg-6 eq-box-lg">
                                <div class="panel height-fix-pannel">
                                    <!--Panel body-->
                                    <div class="panel-body">
                                        <div class="panel-control">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a href="#demo-tabs-box-1" data-toggle="tab">결재요청 <span class="badge badge-purple" th:text="${app1List.size()}"></span></a></li>
                                                <li class=""><a href="#demo-tabs-box-2" data-toggle="tab">진행중 <span class="badge badge-purple" th:text="${app1CommitList.size()}"></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="tab-content">
                                            <div class="tab-pane fade in active" id="demo-tabs-box-1">
                                                <table id="customer-list-page6" class="" cellspacing="0" width="100%">
                                                    <tbody>
                                                    <tr th:each="app1, index : ${app1List}">
                                                        <td class="col-md-3" th:text="${app1.getCourseAccount().getRequestDate()}"></td>

                                                        <td class="col-md-9 text-left">
                                                            <a th:href="@{/course/approvalAppr1/{id}(id=${app1.getId()})}">
                                                                <th:block th:if="${#strings.length(app1.getCourseAccount().getCourse().getTitle()) > 30}">
                                                                    <span th:text="${#strings.substring(app1.getCourseAccount().getCourse().getTitle(), 0, 30) + '...'}"></span>
                                                                </th:block>
                                                                <th:block th:unless="${#strings.length(app1.getCourseAccount().getCourse().getTitle()) > 30}">
                                                                    <span th:text="${app1.getCourseAccount().getCourse().getTitle()}"></span>
                                                                </th:block>
                                                            </a>
                                                        </td>
                                                        <!--                                                        <td class="col-md-2" th:text="${app1.getCourseAccount().getAccount().getName()}"></td>-->
                                                    </tr>
                                                    <tr th:each="app1, index : ${app2List}">
                                                        <td class="col-md-3" th:text="${app1.getDocument().getRequestDate()}"></td>
                                                        <td class="col-md-9 text-left">
                                                            <a th:href="@{/document/approvalAppr1/{id}(id=${app1.getId()})}">
                                                                <th:block th:if="${#strings.length(app1.getDocument().getTitle()) > 30}">
                                                                    <span th:text="${#strings.substring(app1.getDocument().getTitle(), 0, 30) + '...'}"></span>
                                                                </th:block>
                                                                <th:block th:unless="${#strings.length(app1.getDocument().getTitle()) > 30}">
                                                                    <span th:text="${app1.getDocument().getTitle()}"></span>
                                                                </th:block>
                                                            </a>
                                                        </td>
                                                        <!--                                                        <td class="col-md-2" th:text="${app1.getDocumentAccount().getAccount().getName()}"></td>-->
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="tab-pane fade in" id="demo-tabs-box-2">
                                                <table id="customer-list-page7" class="table" cellspacing="0" width="100%">
                                                    <tbody>
                                                    <tr th:each="app1, index : ${app1CommitList}">
                                                        <!--                                                <td class="col-md-2" th:text="${#temporals.createDate(app1.getRequestDate(), 'yyyy-MM-dd')}"></td>-->
                                                        <td class="col-md-3" th:text="${app1.getRequestDate()}"></td>

                                                        <td class="col-md-9 text-left">
                                                            <a th:href="@{/course/approval/{id}(id=${app1.getId()})}">
                                                                <th:block th:if="${#strings.length(app1.getCourse().getTitle()) > 30}">
                                                                    <span th:text="${#strings.substring(app1.getCourse().getTitle(), 0, 30) + '...'}"></span>
                                                                </th:block>
                                                                <th:block th:unless="${#strings.length(app1.getCourse().getTitle()) > 30}">
                                                                    <span th:text="${app1.getCourse().getTitle()}"></span>
                                                                </th:block>
                                                            </a>
                                                        </td>
                                                        <!--                                                        <td class="col-md-2" th:text="${app1.getAccount().getName()}"></td>-->
                                                    </tr>
                                                    <tr th:each="app1, index : ${app2CommitList}">
                                                        <!--                                                <td class="col-md-2" th:text="${#temporals.createDate(app1.getRequestDate(), 'yyyy-MM-dd')}"></td>-->
                                                        <td class="col-md-3" th:text="${app1.getRequestDate()}"></td>

                                                        <td class="col-md-9 text-left">
                                                            <a th:href="@{/document/approval/{id}(id=${app1.getId()})}">
                                                                <th:block th:if="${#strings.length(app1.getTitle()) > 30}">
                                                                    <span th:text="${#strings.substring(app1.getTitle(), 0, 30) + '...'}"></span>
                                                                </th:block>
                                                                <th:block th:unless="${#strings.length(app1.getTitle()) > 30}">
                                                                    <span th:text="${app1.getTitle()}"></span>
                                                                </th:block>
                                                            </a>
                                                        </td>
                                                        <!--                                                        <td class="col-md-2" th:text="${app1.getAccount().getName()}"></td>-->
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="eq-height">

                            <div class="col-sm-6 col-lg-6 eq-box-lg">
                                <div class="panel height-fix-pannel">
                                    <div class="panel-body">
                                        <h5 class="col-md-6" th:text="#{label.title.guide}" style="padding-bottom: 10px">법규/가이드라인</h5>
                                        <small class="text-semibold text-main text-right col-md-6" style="margin-bottom: 0px"><br><a href="/border/list/BA0104">more ></a></small>

                                        <div th:switch="${borders2}">
                                            <h2 th:case="null"></h2>
                                            <div th:case="*">
                                                <table id="customer-list-page14" class="" cellspacing="0" width="100%">
                                                    <tbody>
                                                    <tr th:each="border, index : ${borders3}">
                                                        <td>
                                                            <a th:href="@{/border/view/{id}(id=${border.getId()})}">
                                                                <th:block th:if="${#strings.length(border.getTitle()) > 30}">
                                                                    <span th:text="${#strings.substring(border.getTitle(), 0, 30) + '...'}"></span>
                                                                </th:block>
                                                                <th:block th:unless="${#strings.length(border.getTitle()) > 30}">
                                                                    <span th:text="${border.getTitle()}"></span>
                                                                </th:block>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div><!--switch End -->
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-6 col-lg-6 eq-box-lg">
                                <div class="panel height-fix-pannel">
                                    <div class="panel-body">
                                        <h5 class="col-md-6" th:text="#{label.title.month}" style="padding-bottom: 10px">월간일정</h5>
                                        <small class="text-semibold text-main text-right col-md-6" style="margin-bottom: 0px"><br><a href="/info/requestMonth">more ></a></small>

                                        <div id="dayList" class="text-left">
                                            <table id="customer-list-page5" class="" cellspacing="0" width="100%">
                                                <tbody>
                                                <tr th:each="reqMonth, index : ${monthRequestList}">
                                                    <td>
                                                        <a th:href="@{/course/view/{id}(id=${reqMonth.getId()})}">
                                                            <span  th:text="${reqMonth.getRequestFromDate()}"></span>&nbsp;
                                                            <th:block th:if="${#strings.length(reqMonth.getTitle()) > 30}">
                                                                <span th:text="${#strings.substring(reqMonth.getTitle(), 0, 30) + '...'}"></span>
                                                            </th:block>
                                                            <th:block th:unless="${#strings.length(reqMonth.getTitle()) > 30}">
                                                                <span th:text="${reqMonth.getTitle()}"></span>
                                                            </th:block>
                                                        </a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Main Col -->
                <div class="col-md-3">
                    <div class="row">
                        <div class="panel panel-warning panel-colorful media middle pad-all">
                            <div class="media-left">
                                <div class="pad-hor">
                                    <i class="demo-pli-list-view icon-3x"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <p class="text-2x mar-no text-semibold">
                                    <a th:href="@{/approval/listApprProcess}" th:text="${courseApprCount}" style="color:white"></a>
                                    /
                                    <a th:href="@{/approval/listMyProcess}" th:text="${courseProcessCount}" style="color:white"></a>
                                </p>
                                <p class="mar-no">교육신청 미결/진행중</p>
                            </div>
                        </div>
                    </div>
<!--                    <div class="row">-->
<!--                        <div class="panel panel-mint panel-colorful media middle pad-all">-->
<!--                            <div class="media-left">-->
<!--                                <div class="pad-hor">-->
<!--                                    <i class="demo-pli-list-view icon-3x"></i>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="media-body">-->
<!--                                <p class="text-2x mar-no text-semibold">-->
<!--                                    <a th:href="@{/approval/document/listApprProcess}" th:text="${documentApprCount}" style="color:white"></a>-->
<!--                                    /-->
<!--                                    <a th:href="@{/approval/document/listMyProcess}" th:text="${documentProcessCount}" style="color:white"></a>-->
<!--                                </p>-->
<!--                                <p class="mar-no">전자결재 미결 / 진행중</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="row">
                        <div class="panel panel-info panel-colorful media middle pad-all">
                            <div class="media-left">
                                <div class="pad-hor">
                                    <i class="demo-pli-file icon-3x"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <p class="text-2x mar-no text-semibold">
                                    <th:block th:if="${schedule != null}">
                                    <a href="#" id="popupBtn"
                                       th:onclick="|javascript:popupPdfView('${schedule.getId()}');return false;|" target="_blank" style="color:white">View</a>
                                    </th:block>
                                </p>
                                <p class="mar-no">Employee training matrix</p>
                            </div>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-md-6"></div>
                            <div class="panel">
                                <div class="panel-body">
                                    <h5 class="col-md-6" th:text="#{label.title.customer}" style="padding-bottom: 10px">협약기관</h5>
                                    <small class="text-semibold text-main text-right col-md-6" style="margin-bottom: 0px"><br><a th:href="@{/customer/list-page}">more ></a></small>

                                    <div th:switch="${customers}">
                                        <h2 th:case="null">No customer yet!</h2>
                                        <div th:case="*">
                                            <table id="customer-list-page1" class="" cellspacing="0" width="100%">
                                                <tbody>
                                                <tr th:each="customer, index : ${customers}">
                                                    <td>
                                                        <a th:href="@{/customer/view/{id}(id=${customer.getId()})}" th:text="${customer.getName()}"></a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div><!--switch End -->
                                </div>
                            </div>
                         <div class="col-md-6">
                             <div id="custom-date-format"></div>
                         </div>
                     </div>
                </div>
            </div>
        </div><!-- Page content End -->
    </div><!-- Content container End -->
</th:block>

<th:block layout:fragment="custom_js">

    <!--jQuery [ REQUIRED ]-->
<!--    <script th:src="@{/default/plugins/jquery-ui/jquery-ui.min.js}"></script>-->

    <script th:src="@{/default/plugins/multiple-picker/jquery-1.7.2.js}"></script>
    <script th:src="@{/default/plugins/jquery-ui/jquery.ui.core.js}"></script>
    <script th:src="@{/default/plugins/jquery-ui/jquery.ui.datepicker.js}"></script>

    <!--        &lt;!&ndash;Bootstrap Timepicker [ OPTIONAL ]&ndash;&gt;-->
    <script th:src="@{/default/plugins/multiple-picker/jquery-ui.multidatespicker.js}"></script>
    <script type="text/javascript" th:src="@{/default/plugins/multiple-picker/prettify.js}"></script>
    <script type="text/javascript" th:src="@{/default/plugins/multiple-picker/lang-css.js}"></script>

    <script>

        function popupPdfView(id) {
            var width = 1000;
            var height = 673;

            var title = "디티앤사노메딕스";
            var url = "/info/matrix/pdfview/" + id;
            // 만들 팝업창 좌우 크기의 1/2 만큼 보정값으로 빼주었음
            var popupX = (window.screen.width / 2) - (width / 2);
            // 만들 팝업창 상하 크기의 1/2 만큼 보정값으로 빼주었음
            var popupY= (window.screen.height / 2) - (height / 2);

            var option = "width =" + width + ", height =" + height + ", menubar=no, directories=no, location = no, scrollbars=no, resizable=no";
            option += ", left=" + popupX + ", top=" + popupY;

            window.open(url, title, option);
        }

        $(document).ready(function() {

            var nowDate = new Date();

            var startDateTime = new Date(nowDate.getFullYear(), nowDate.getMonth(), 1);
            var endDateTime = new Date(nowDate.getFullYear(), nowDate.getMonth()+1, 0);

            setData(startDateTime, endDateTime);

            $('#custom-date-format').multiDatesPicker({
                // dateFormat: "yyyy-mm-dd",
                defaultDate: new Date(),
                //addDates: data,
                // numberOfMonths: [2,2],
                onChangeMonthYear: function (year, month, inst) {
                    startDateTime = new Date(year, month-1, 1);
                    endDateTime = new Date(startDateTime.getFullYear(), startDateTime.getMonth()+1, 0);

                    setData(startDateTime, endDateTime);
                },
                beforeShow: function (input, inst) {
                    alert("before");
                },
                onSelect: function (dateText, inst) {
                    $('#custom-date-format').multiDatesPicker('removeDates',  $('#custom-date-format').multiDatesPicker('getDates'));
                    setData(startDateTime, endDateTime);

                    $.ajax({
                        url: "/info/api/home/calendarData", // 클라이언트가 요청을 보낼 서버의 URL 주소
                        data: {start: dateText},                // HTTP 요청과 함께 서버로 보낼 데이터
                        type: "GET",                             // HTTP 요청 방식(GET, POST)
                        dataType: "json",                         // 서버에서 보내줄 데이터의 타입
                        success: function (data) {

                            var html="";
                            for(var i=0; i<data.length; i++) {
                                html += data[i];
                            }

                            $('#dayList').val("");
                            $('#dayList').html(html);
                        },
                        error: function (request, status, error) {
                            alert('error');
                        }
                    });
                }
            });

            function setData(startDatetime, endDateTime) {
                var startDate = getFormatDate(startDatetime);
                var endDate = getFormatDate(endDateTime);

                $.ajax({
                    url: "/info/api/home/calendar", // 클라이언트가 요청을 보낼 서버의 URL 주소
                    data: {start: startDate, end: endDate},                // HTTP 요청과 함께 서버로 보낼 데이터
                    type: "GET",                             // HTTP 요청 방식(GET, POST)
                    dataType: "json",                         // 서버에서 보내줄 데이터의 타입
                    success: function (data) {

                        if(data.length != 0) {
                            $('#custom-date-format').multiDatesPicker('addDates', data);
                        }
                    },
                    error: function (request, status, error) {
                        alert('error');
                    }
                });
            }

            /** * yyyyMMdd 포맷으로 반환 */
            function getFormatDate(date){

                //alert("포맷:" + date);
                var year = date.getFullYear(); //yyyy
                var month = (date.getMonth()+1); //M
                month = month >= 10 ? month : '0' + month; //month 두자리로 저장
                var day = date.getDate(); //d
                day = day >= 10 ? day : '0' + day; //day 두자리로 저장
                return year + '-' + month + '-' + day;
            }
        });


    </script>


</th:block>

</html>


