<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="footer">

</div>
</div>
</div>
<!-- END OF CONTAINER -->

<!--JAVASCRIPT-->
<!--=================================================-->

<!--jQuery [ REQUIRED ]-->
<script th:src="@{/js/jquery.min.js}"></script>

<!--BootstrapJS [ RECOMMENDED ]-->
<script th:src="@{/js/bootstrap.min.js}"></script>

<!--NiftyJS [ RECOMMENDED ]-->
<script th:src="@{/js/nifty.min.js}"></script>

<!--=================================================-->

<!--Switchery [ OPTIONAL ]-->
<script th:src="@{/plugins/switchery/switchery.min.js}"></script>

<!--Bootstrap Select [ OPTIONAL ]-->
<script th:src="@{/plugins/bootstrap-select/bootstrap-select.min.js}"></script>

<!--Bootstrap Tags Input [ OPTIONAL ]-->
<script th:src="@{/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js}"></script>

<!--Chosen [ OPTIONAL ]-->
<script th:src="@{/plugins/chosen/chosen.jquery.min.js}"></script>

<!--noUiSlider [ OPTIONAL ]-->
<script th:src="@{/plugins/noUiSlider/nouislider.min.js}"></script>

<!--Select2 [ OPTIONAL ]-->
<script th:src="@{/plugins/select2/js/select2.min.js}"></script>

<!--Bootstrap Timepicker [ OPTIONAL ]-->
<script th:src="@{/plugins/bootstrap-timepicker/bootstrap-timepicker.min.js}"></script>

<!--Bootstrap Datepicker [ OPTIONAL ]-->
<script th:src="@{/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js}"></script>

<!--Form Component [ SAMPLE ]-->
<script th:src="@{/js/demo/form-component.js}"></script>

<!--DataTables [ OPTIONAL ]-->
<script th:src="@{/plugins/datatables/media/js/jquery.dataTables.js}"></script>
<script th:src="@{/plugins/datatables/media/js/dataTables.bootstrap.js}"></script>
<script th:src="@{/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js}"></script>

<!--DataTables Sample [ SAMPLE ]-->
<script th:src="@{/js/demo/tables-datatables.js}"></script>

</body>

</th:block>
</html>


