<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">
    <!--Select2 [ OPTIONAL ]-->
    <link th:href="@{/default/plugins/select2/css/select2.min.css}" rel="stylesheet">

    <style>
        .table-head {
            background: #3A444E;
            margin: 0;
            padding: 0;
        }
    </style>
</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->

        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">
            <form name="f" id="blindcvForm" method="post" action="/finder/blindcv">
                <input type="hidden" name="username" id="username">
                <input type="hidden" name="blind" id="blind">
            </form>
            <div class="panel">
                <div class="panel-heading">
                    <h6 class="panel-title">
                        CV 검색 조건을 선택해 주세요.
                    </h6>
                </div>
                <div class="panel-body">
                <form method="post" class="col-xs-12" th:object="${cvFindParam}">
                    <table class="table table-bordered">
                        <thead>
                        <tr class="bg-gray-light">
                            <th>경력</th>
<!--                            <th>Therapheutic Area</th>-->
                            <th>Indication</th>
                            <th>Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <input type="number" class="form-control" th:field="*{career}" step="1" min="0" max="50" required>
                            </td>
                            <td>
                                <select class="form-control indication-list" th:field="*{indication}">
                                    <option th:each="ind : ${indicationList}" th:value="${ind}" th:text="${ind}"></option>
                                </select>
                            </td>
<!--                            <td>-->
<!--                                <select class="form-control indication-list" th:field="*{indication}">-->
<!--                                    <optgroup th:each="taa : ${taList}" th:label="${taa}">-->
<!--                                        <option value="" selected>-&#45;&#45; All -&#45;&#45;</option>-->
<!--                                        <option th:each="indication : ${indicationMap.get(taa)}" th:value="${indication}" th:text="${indication}"></option>-->
<!--                                    </optgroup>-->
<!--                                </select>-->
<!--                            </td>-->
<!--                            <td>-->
<!--                                <select class="form-control indication-list" th:field="*{indication}">-->
<!--                                    &lt;!&ndash;<option value="" selected>-&#45;&#45; All -&#45;&#45;</option>&ndash;&gt;-->
<!--                                    <option th:each="indication : ${indicationList}" th:value="${indication}" th:text="${indication}"></option>-->
<!--                                </select>-->
<!--                            </td>-->
                            <td>
                                <input type="text" class="form-control" th:field="*{name}">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="text-right">
                        <button type="submit" class="btn btn-info"><i class="fa fa-search"></i> Search</button>
                    </div>
                </form>
                </div>
            </div>
            <div class="panel" th:if="${(cvList == null || cvList.size() == 0) && cvFindParam.career > 0}">
                <div class="panel-body text-center">
                    ** 검색 결과가 존재하지 않습니다. **
                </div>
            </div>

            <div class="panel" th:if="${cvList != null && cvList.size() > 0}">
                <div class="panel-body">
                    <div class="pad-hor mar-top">
                        <h3 class="text-thin mar-no"><span th:text="${cvList.size()}"></span> results found</h3>
<!--                        <small>Request time  (0.23 seconds)</small>-->
                    </div>

                    <hr>

                    <ul class="list-group bord-no">
                        <li class="list-group-item list-item-lg" th:each="cv, stat : ${cvList}">
                            <div class="media-heading">
                                <div class="pull-right">
                                    <button class="btn btn-info" name="blind_btn" th:attr="data-username=${cv.account.userId},data-blind=true"><i class="fa fa-file-text-o"></i> Blind CV</button>
                                    <button class="btn btn-info" name="blind_btn" th:attr="data-username=${cv.account.userId},data-blind=false"><i class="fa fa-file-text-o"></i> Unblind CV</button>
                                </div>
<!--                                <span class="label label-primary v-middle">New</span>-->
                                <a class="btn-link text-lg text-semibold v-middle" href="#"><span th:text="|${cv.account.engName}|"></span> </a>
                            </div>
<!--                            <p><a class="btn-link text-success" href="#">http://www.example.com/nifty/admin</a></p>-->
                            <div>
                                <table class="table table-bordered">
                                    <thead>
                                    <tr class="bg-gray-light">
                                        <th>No.</th>
                                        <th>Company Name</th>
                                        <th>Period</th>
                                        <th>Clinical Trial Experience</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="ca, stat : ${cv.careerHistories}">
                                        <td th:text="${stat.index + 1}"></td>
                                        <td th:text="${ca.companyName}"></td>
                                        <td th:text="|${#dates.format(ca.startDate, 'dd/MMM/yyyy')} ~ ${ca.present ? 'Present' : #dates.format(ca.endDate, 'dd/MMM/yyyy')}|"></td>
                                        <td><i th:if="${ca.clinicalTrialExperience}" class="fa fa-check text-success"></i></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- Page content End -->
    </div><!-- Content container End -->
</th:block>

<th:block layout:fragment="custom_js">

    <!--cyj-->
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.js"></script>
    <link href="//rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.css" rel="stylesheet">

    <script>
        $('#indication').editableSelect();

        // $(document).on("select.editable-select", "#indication", function(e) {
        //     var val = $(this).val();
        //     console.log(val);
        // });

        // $("#ta").change(function(e) {
        //     var val = $(this).val();
        //     if(val) {
        //         $("#indication").removeAttr("disabled");
        //         var $sel = $("#indication");
        //         $('optgroup', $sel).hide();//.addClass('bg-gray');
        //         var optgroup = $('optgroup[label="' + val + '"]', $sel);
        //         setTimeout(function () {
        //             optgroup.show();//.addClass('bg-gray');
        //             optgroup.find('option:eq(0)').attr("selected", "selected");
        //             $sel.trigger("change");
        //         }, 300);
        //     } else {
        //         $("#indication").attr("disabled", "disabled");
        //     }
        //
        //     // console.log($sel.find("option").eq(0));//.addClass('bg-gray').trigger("change");
        // }).trigger("change");

        $("button[name='blind_btn']").click(function() {
           $('#username').val($(this).data('username'));
           $('#blind').val($(this).data('blind'));
           $("#blindcvForm").submit();
        });
    </script>
</th:block>

</html>




