<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">

</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->

        <!--Page content-->
        <!--===================================================-->
        <div id="page-content" style="margin-bottom:0">

            <!-- Basic Data Tables -->
            <!--===================================================-->
            <div class="panel">
                <div class="panel-heading">
<!--                    <h3 class="panel-title" th:text="${courseAccount.getStatus()}"></h3>-->
                </div>
                <div class="panel-body">
                    <hr style="border:1.2px solid #0a6aa1">
                    <h4 class="text-success">* 결재 정보</h4>
                    <div class="row">
                        <div class="col-sm-4">
                            <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <tbody>
                                <tr>
                                    <td>신청일자</td>
                                    <td th:text="${documentAccount.getFWdate()} ? ${#dates.format(documentAccount.getFWdate(), 'yyyy-MMM-dd')} : ${documentAccount.getFWdate()}" class="text-center"></td>
                                </tr>
                                <tr>
                                    <td>신청부서</td>
                                    <td th:text="${documentAccount.getAccount().getOrgDepart()}"></td>
                                </tr>
                                <tr>
                                    <td>신 청 자</td>
                                    <td th:text="${documentAccount.getAccount().getName()}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-6">
                            <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <colgroup>
                                    <col width="10%">
                                    <col width="30%">
                                    <col width="30%">
                                    <col width="30%">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <td rowspan="3" style="vertical-align: middle" class="text-center" >
                                        <div>결<br/><br/>재</div>
                                    </td>
                                    <th:block th:each="border, index : ${documentAccount.getDocumentAccountOrders()}">
                                        <td th:text="${border.getFUser().getName()}" class="text-center">
                                        </td>
                                    </th:block>
                                </tr>
                                <tr>
                                    <th:block th:each="border, index : ${documentAccount.getDocumentAccountOrders()}">
                                        <td th:switch="${border.getFStatus()}" class="text-center">
                                            <span th:case="${'0'}" class="text-info" th:text="${''}"></span>
                                            <span th:case="${'1'}" class="text-success" th:text="${'승인'}"></span>
                                            <span th:case="${'2'}" class="text-danger" th:text="${'반려'}"></span>
                                        </td>
                                    </th:block>
                                </tr>
                                <tr>
                                    <th:block th:each="border, index : ${documentAccount.getDocumentAccountOrders()}">
                                        <td th:text="${border.getFDate()} ? ${#dates.format(border.getFDate(), 'yyyy/MMM/dd')} : ${border.getFDate()}" class="text-center"></td>
                                        </td>
                                    </th:block>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <tbody>
                        <colgroup><col width="10%" /><col width="40%" /><col width="10%" /><col width="40%" /></colgroup>
                        <tr>
                            <th><span th:text="#{label.subject}">구분</span></th>
                            <td th:text="${document.getTitle()}" colspan="3"></td>
                        </tr>
                        <th:block th:if="${document.getDocumentFiles().size() > 0}">
                        <tr>
                            <th><span>*</span> <span th:text="#{label.file}"></span></th>
                            <td colspan="3">
                                <div th:each="uploadFile : ${document.getDocumentFiles()}">
                                    <a th:href="@{/document/download-file/{id}(id=${uploadFile.getId()})}" th:text="${uploadFile.getFileName()}"></a>
                                </div>
                            </td>
                        </tr>
                        </th:block>
                        <tr>
                            <th><span th:text="#{label.course.name}">과정명</span></th>
                            <td th:utext="${document.getContent()}" colspan="3"></td>
                        </tr>
                        </tbody>
                    </table>

                </div><!--panel-body End -->
            </div><!-- panel End -->


        </div><!-- Page content End -->
    </div><!-- Content container End -->
</th:block>

<th:block layout:fragment="custom_js">
</th:block>

</html>


