<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">
    <!--Dropzone [ OPTIONAL ]-->
    <link th:href="@{/default/plugins/dropzone/dropzone.min.css}" rel="stylesheet">

    <link th:href="@{/default/plugins/bootstrap-timepicker/bootstrap-timepicker.min.css}" rel="stylesheet">


    <!--Bootstrap Datepicker [ OPTIONAL ]-->
    <link th:href="@{/default/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css}" rel="stylesheet">

</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->
        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">

            <!-- Basic Data Tables -->
            <!--===================================================-->
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="#{label.course.name} + ' : ' + ${courseName}"></h3>
                </div>
                <div class="panel-body">
                    <!--===================================================-->
                    <!--End Horizontal Form-->
                    <form class="form-horizontal" id="boardFrm" action="#" th:action="@{/admin/course/{typeId}/{courseId}/section/add-post(typeId=${typeId}, courseId=${courseId}, page=${param.page}, title=${param.title}, active=${param.active}, status=${param.status})}" th:object="${courseSection}" method="post" enctype="multipart/form-data" >
                        <input type="hidden" th:value="__${courseId}__" name="courseId">
<!--                        <input type="hidden" th:field="*{type}" id="type" >-->
<!--                        <div class="form-group">-->
<!--                            <label class="col-sm-2 control-label" th:text="#{label.gubun}">구분</label>-->
<!--                            <div class="col-sm-10">-->
<!--                                <select th:field="*{type}" class="form-control" readonly="readonly">-->
<!--                                    <option th:each="code : ${codeList}" th:value="${code.getMinorCd()}" th:text="${code.getMinorNm()}"></option>-->
<!--                                </select>-->
<!--                            </div>-->
<!--                            <span th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></span>-->
<!--                        </div>-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="name" th:text="#{label.course.section.name}">강의명</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{name}" id="name" placeholder="강의명" class="form-control" required="required">
                            </div>
                            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="editor" th:text="#{label.course.section.desc}">소개</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" th:field="*{description}" name="description" id="editor" style="width: 100%; height: 100px;"></textarea>
                            </div>
                            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                        </div>

                        <!-- 오프라인 교육인 경우만  -->
                        <th:block th:unless="${#strings.equalsIgnoreCase(courseSection.getCourse().getCourseMaster().getCourseGubun().getMinorCd(), 'BC0101')}">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="teacher" th:text="#{label.teacher}">강사명</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{teacher}" id="teacher" placeholder="" class="form-control">
                            </div>
                            <span th:if="${#fields.hasErrors('teacher')}" th:errors="*{teacher}"></span>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="studyDate" th:text="#{label.course.section.studyDate}">학습일</label>
                            <div class="col-sm-10">
                                <div id="demo-dp-range">
                                    <div id="demo-dp-component">
                                        <div class="input-group date">
                                            <input type="text" th:field="*{studyDate}" id="studyDate" class="form-control" required="required">
                                            <span class="input-group-addon"><i class="demo-pli-calendar-4"></i></span>
                                        </div>
                                        <span th:if="${#fields.hasErrors('studyDate')}" th:errors="*{studyDate}"></span>
                                    </div>

                                </div>
                            </div>
                        </div>
<!--                            <div class="col-sm-4">-->
<!--                                <div id="demo-dp-range2">-->
<!--                                    <div id="demo-dp-component2">-->
<!--                                        <div class="input-group date">-->
<!--                                            <input type="text" th:field="*{toDate}" class="form-control">-->
<!--                                            <span class="input-group-addon"><i class="demo-pli-calendar-4"></i></span>-->
<!--                                        </div>-->
<!--                                        <span th:if="${#fields.hasErrors('toDate')}" th:errors="*{toDate}"></span>-->
<!--                                    </div>-->
<!--                                    <div class="input-group date">-->
<!--                                        <input id="demo-tp-com2" type="text" th:field="*{toTime}" class="form-control">-->
<!--                                        <span class="input-group-addon"><i class="demo-pli-clock"></i></span>-->
<!--                                        <span th:if="${#fields.hasErrors('toTime')}" th:errors="*{toTime}"></span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                        </th:block>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="hour" th:text="#{label.hour}">학습시간(시)</label>
                            <div class="col-sm-10">
                                <input type="number" step=".01" th:field="*{hour}" id="hour" placeholder="" class="form-control" required="required">
                            </div>
                            <span th:if="${#fields.hasErrors('hour')}" th:errors="*{hour}"></span>
                        </div>
                        <th:block th:if="${#strings.equalsIgnoreCase(typeId, 'BC0101')}">
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><i class="fa fa-file-pdf-o text-info"></i> <span th:text="#{label.course.section.file}">강의파일</span></label>
                            <div class="col-sm-10">
                                <input type="file" name="files" id="files" accept=".pdf">
                            </div>
                        </div>
                        </th:block>
                        <div class="panel-footer text-right">
                            <button class="btn btn-primary" type="submit" id="submit-all" th:text="#{label.save}">
                                <i class="fa fa-upload-cloud"></i> 저장
                            </button>
                            <a class="btn btn-primary" th:href="@{/admin/course/{typeId}/{courseId}/section(typeId=${typeId}, courseId=${courseId}, page=${param.page}, title=${param.title}, active=${param.active}, status=${param.status})}"><i class="demo-pli-back"></i> Back</a>
                        </div>
                    </form>
                </div><!--panel-body End -->
            </div><!-- panel End -->
        </div><!-- Page content End -->
    </div><!-- Content container End -->

</th:block>

<th:block layout:fragment="custom_js">
    <!--Dropzone [ OPTIONAL ]-->
<!--    <script th:src="@{/default/plugins/dropzone/dropzone.js}"></script>-->


<!--    <script type="text/javascript" th:src="@{/editor/js/HuskyEZCreator.js}" charset="utf-8"></script>-->
<!--    <script type="text/javascript" th:src="@{/default/js/custom/course-editor.js}" charset="utf-8"></script>-->

    <!--Bootstrap Timepicker [ OPTIONAL ]-->
    <script th:src="@{/default/plugins/bootstrap-timepicker/bootstrap-timepicker.min.js}"></script>


    <!--Bootstrap Datepicker [ OPTIONAL ]-->
    <script th:src="@{/default/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js}"></script>

<!--    <script type="text/javascript" th:src="@{/default/js/custom/course-file.js}" charset="utf-8"></script>-->

<!--    <script type="text/javascript" th:src="@{/default/js/custom/course-add.js}" charset="utf-8"></script>-->

<!--    <script th:src="@{/default/js/demo/form-component.js}"></script>-->

    <script th:inline="javascript">
        /*<![CDATA[*/
        var typeId = /*[[${typeId}]]*/;
        /*]]>*/

        $('#demo-dp-component .input-group.date').datepicker({
            // format: "MM dd, yyyy",
            format: "yyyy-mm-dd",
            todayBtn: "linked",
            autoclose: true,
            todayHighlight: true
        });

        //전송버튼
        $("#boardFrm").submit(function(e){

            if(!isSubmit()) {
                e.preventDefault();
                return;
            }

        });

        function isSubmit() {

            var name = $("#name").val();
            if(!name) {
                alert('강의명을 입력하세요');
                return false;
            }

            var hour = $("#hour").val();
            if(!hour || hour == 0) {
                alert('강의 시간을 입력하세요');
                return false;
            }

            if (typeId == "BC0101") {
                var sectionFile = $('#files').val();

                if (!sectionFile) {
                    alert("강의 파일을 선택하세요.");
                    return false;
                } else {
                    /**
                     * lastIndexOf('.')
                     * 뒤에서부터 '.'의 위치를 찾기위한 함수
                     * 검색 문자의 위치를 반환한다.
                     * 파일 이름에 '.'이 포함되는 경우가 있기 때문에 lastIndexOf() 사용
                     */
                    fileExt = sectionFile.slice(sectionFile.lastIndexOf(".") + 1).toLocaleLowerCase();
                    if (fileExt != "pdf") {
                        alert("강의파일은 PDF만 가능합니다.");
                        return false;
                    }
                }
            }

            return true;
        }

    </script>


</th:block>

</html>

