<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">
    <style>
        .table-head {
            background: #3A444E;
            margin: 0;
            padding: 0;
        }
    </style>
</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->

        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">

            <!-- Basic Data Tables -->
            <!--===================================================-->
            <div class="panel">
                <div class="panel-body">
                    <br>
                    <div th:switch="${borders}">
                        <div th:case="null">No customer yet!</div>
                        <div th:case="*">
                            <div class="row" style="margin-bottom: 5px;" >
                                <div class="col-sm-8">
                                    <b class="text-info"><span th:text="#{label.course.name}"></span> : <span th:text="${courseName}"></span></b>
                                </div>
                                <div class="col-sm-4 text-right">
                                    <a id="demo-btn-addrow" class="btn btn-purple" th:href="@{/admin/course/{typeId}/{courseId}/section/add(typeId=${typeId}, courseId=${courseId}, page=${param.page}, title=${param.title}, active=${param.active}, status=${param.status})}"><i class="demo-pli-add"></i> Add</a>
<!--                                    <a class="btn btn-primary" href="javascript:history.back();"><i class="demo-pli-back"></i> Back</a>-->
                                    <a class="btn btn-primary" th:href="@{/admin/course/{typeId}(typeId=${typeId}, page=${param.page}, title=${param.title}, active=${param.active}, status=${param.status})}"><i class="demo-pli-back"></i> Back</a>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <hr class="table-head">
                                <table id="demo-dt-basic1" class="table" cellspacing="0" width="100%" style="margin-top:0">
                                    <thead>
                                    <tr style="background: #FAFAFA;">
                                        <th class="text-center" th:text="#{label.no}">번호</th>
                                        <th class="text-center" th:text="#{label.subject}">제목</th>
                                        <!-- 오프라인 교육인 경우만  -->
                                        <th:block th:unless="${#strings.equalsIgnoreCase(gubunId, 'BC0101')}">
                                        <th class="text-center col-sm-2" th:text="#{label.course.period}">학습일</th>
                                        </th:block>
                                        <!-- 오프라인 교육인 경우만  -->
                                        <th:block th:if="${#strings.equalsIgnoreCase(gubunId, 'BC0101')}">
                                        <th class="text-center col-sm-1" th:text="#{label.course.section.file}"></th>
                                        </th:block>
                                        <th class="text-center col-sm-1" th:text="#{label.hour}">시간</th>
                                        <th class="text-center col-sm-1" th:text="#{label.minute}">분</th>
                                        <th class="text-center col-sm-2" th:text="#{label.actions}">Edit</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="border, index : ${borders}">
                                        <td th:text="${index.count}" class="text-center"></td>
                                        <td>
                                            <div th:text="${border.getName()}"></div>
                                            <div th:utext="${border.getDescription().replaceAll('\r\n', '<br>')}"></div>
                                        </td>
                                        <th:block th:unless="${#strings.equalsIgnoreCase(gubunId, 'BC0101')}">
                                        <td th:text="${border.getStudyDate()}" class="text-center"></td>
                                        </th:block>
                                        <th:block th:if="${#strings.equalsIgnoreCase(gubunId, 'BC0101')}">
                                        <td class="text-center">
                                            <div th:each="uploadFile : ${border.getSectionFiles()}">
                                                <a th:href="@{/admin/course/{typeId}/{courseId}/section/download-file/{id}(typeId=${typeId}, courseId=${courseId}, id=${uploadFile.getId()})}"><span class="badge badge-mint" th:text="#{label.download}"></span></a>
                                            </div>
                                        </td>
                                        </th:block>
                                        <td th:text="${border.getHour()}" class="text-center"></td>
                                        <td th:text="${border.getMinute()}" class="text-center"></td>
                                        <td class="text-center">
                                            <a th:text="#{label.edit}" th:href="@{/admin/course/{typeId}/{courseId}/section/edit(typeId=${typeId}, courseId=${courseId}, id=${border.getId()}, page=${param.page})}" class="btn btn-sm btn-default btn-hover-success demo-psi-pen-5 add-tooltip" data-original-title="Edit" data-container="body"></a>
                                            <a th:text="#{label.delete}" th:href="@{/admin/course/{typeId}/{courseId}/section/delete/{id}(typeId=${typeId}, courseId=${courseId}, id=${border.getId()}, page=${param.page})}" class="btn btn-sm btn-default btn-hover-danger demo-pli-trash add-tooltip" data-original-title="Delete" data-container="body"></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div><!--switch End -->

                </div><!--panel-body End -->
            </div><!-- panel End -->
        </div><!-- Page content End -->
    </div><!-- Content container End -->
</th:block>

<th:block layout:fragment="custom_js">
    <!--DataTables Sample [ SAMPLE ]-->
    <script th:src="@{/default/js/demo/tables-datatables.js}"></script>
</th:block>

</html>


