<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">
    <style>
        .table-head {
            background: #3A444E;
            margin: 0;
            padding: 0;
        }
    </style>
</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->

        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">

            <!-- Basic Data Tables -->
            <!--===================================================-->
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title"></h3>
                </div>
                <div class="panel-body">
                    <div>
                        <div class="col-sm-6" style="vertical-align: top; margin-bottom: 2px;">
                            <span th:text="#{label.list.title(${borders.getTotalElements()})}"></span>
                        </div>
                        <div class="col-sm-6">
                            <form class="form-horizontal" th:action="@{/admin/border/{typeid}(typeid=__${typeId}__)}" method="get">
                                <div class="input-group mar-btm">
                                    <select id="selectOption" class="selectpicker" name="searchType">
                                        <option value="all" th:selected="${#strings.equalsIgnoreCase(param.searchType,'all')}">&nbsp;&nbsp;All&nbsp;&nbsp;</option>
                                        <option value="subject" th:selected="${#strings.equalsIgnoreCase(param.searchType,'subject')}">&nbsp;&nbsp;Subject&nbsp;&nbsp;</option>
                                        <option value="content" th:selected="${#strings.equalsIgnoreCase(param.searchType,'content')}">&nbsp;&nbsp;Content&nbsp;&nbsp;</option>
                                    </select>
                                    <input type="text" name="searchText" placeholder="Search" class="form-control" th:value="${param.searchText}">
                                    <span class="input-group-btn">
					                    <button class="btn btn-primary" type="submit">Search</button>
                                        <a class="btn btn-purple" th:href="@{/admin/border/{typeId}/add(typeId=${typeId})}"><i class="demo-pli-add"></i> Add</a>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <br>

                    <div th:switch="${borders}">
                        <h2 th:case="null">No customer yet!</h2>
                        <div th:case="*">
                            <hr>
                            <hr class="table-head">
                            <table id="customer-list-page" class="table" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th class="text-center col-sm-1" th:text="#{label.no}">번호</th>
                                    <th class="text-center" th:text="#{label.subject}">제목</th>
                                    <th class="text-center col-sm-1">! <i class="ion-paperclip"></i></th>
                                    <th class="text-center col-sm-2" th:text="#{label.createby}">작성자</th>
                                    <th class="text-center col-sm-2" th:text="#{label.createdate}">등록일</th>
                                    <th class="text-center col-sm-1" th:text="#{label.readcount}">조회수</th>
                                    <th class="text-center col-sm-2" th:text="#{label.edit}"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="border, index : ${borders}" th:class="${border.getIsNotice().equals('1')} ? 'text-success'">
                                    <td th:text="${borders.getTotalElements() - index.index}" class="text-center"></td>
                                    <td><a th:href="@{/admin/border/{typeId}/view/{id}(typeId=${typeId}, id=${border.getId()})}" th:text="${border.getTitle()}" th:class="${border.getIsNotice().equals('1')} ? 'text-success' : 'text-info'">Edit</a></td>
                                    <td  class="text-center">
                                        <span th:if="${#strings.equalsIgnoreCase(border.isNotice, '1')}" clsss="text-success">!</span>
                                        <span th:if="${border.getBorderFiles().size() > 0}" class="demo-icon"><i class="ion-paperclip"></i><span></span></span>
                                    </td>
                                    <td th:text="${border.getAccount().getName()}" class="text-center"></td>
                                    <td th:text="${border.getCreatedDate()} ? ${#dates.format(border.getCreatedDate(), 'yyyy-MM-dd HH:mm:ss')} : ${border.getCreatedDate()}" class="text-center"></td>
                                    <td class="text-center">
                                        <th:block th:if="${border.getViewCnt() > 0}">
                                            <a href="#" th:onclick="|javascript:displayModel('${border.getId()}');|" id="modal-show"><span class="badge badge-default" th:text="${border.getViewCnt()}"></span></a>
                                        </th:block>
                                        <th:block th:unless="${border.getViewCnt() > 0}">
                                            <span class="badge badge-default" th:text="${border.getViewCnt()}"></span>
                                        </th:block>
                                    </td>
                                    <td class="text-center">
                                        <a th:text="#{label.edit}" th:href="@{/admin/border/{typeId}/edit/{id}(typeId=${typeId}, id=${border.getId()})}" class="btn btn-sm btn-default btn-hover-success demo-psi-pen-5 add-tooltip" data-original-title="Edit" data-container="body"></a>
                                        <a th:text="#{label.delete}" th:href="@{/admin/border/delete/{id}(id=${border.getId()})}" class="btn btn-sm btn-default btn-hover-danger demo-pli-trash add-tooltip" data-original-title="Delete" data-container="body"></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <nav th:replace="fragments/common/pagenation_border_admin :: pagenation"> </nav>
                        </div>
                    </div><!--switch End -->

                </div><!--panel-body End -->
            </div><!-- panel End -->

            <!--Default Bootstrap Modal-->
            <!--===================================================-->
            <div class="modal fade" id="demo-default-modal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!--Modal header-->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                            <h4 class="modal-title">조회자 목록</h4>
                        </div>

                        <!--Modal body-->
                        <div class="modal-body">
                            <div id="borderViewList"></div>
                        </div>

                        <!--Modal footer-->
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                            <!--                            <button class="btn btn-primary">Save changes</button>-->
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- Page content End -->
    </div><!-- Content container End -->
</th:block>

<th:block layout:fragment="custom_js">

    <script>
        // 게시판 읽은 사람을 조회 한다.
        function displayModel(borderId) {

            var url = "/api/border/borderViewAccountList";

            // View Account List
            $.ajax({
                type: "GET",
                url: url,
                data: {
                    'borderId': borderId
                },
                // dataType: 'JSON',
                async: false,
                success: function (data) {

                    $('#borderViewList').html(data);

                    $("#demo-default-modal").modal()
                },
                error: function (e) {
                }
            });
        }

    </script>
</th:block>

</html>


