<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">
    <style>
        th {
            background: #FAFAFA;
            margin: 10px;
            text-align: center;
        }

        td {

        }

        .table-head {
            background: #3A444E;
            margin-bottom: 0;
        }
    </style>
</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->

        <!--Page content-->
        <!--===================================================-->
        <div id="page-content" style="margin-bottom:0">

            <!-- Basic Data Tables -->
            <!--===================================================-->
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title"></h3>
                </div>
                <div class="panel-body">
                    <table class="table" cellspacing="0" width="100%">
                        <colgroup><col width="15%" /><col width="85%" /></colgroup>
                        <tr>
                            <th><span th:text="#{label.subject}"></span> </th>
                            <td><span th:text="${border.getTitle()}"></span></td>
                        </tr>
                        <tr>
                            <th><span th:text="#{label.createby}"></span></th>
                            <td th:text="${border.getAccount().getName()}" class="text-left"></td>
                        </tr>
                        <tr>
                            <th><span th:text="#{label.createdate}"></span></th>
                            <td th:text="${border.getCreatedDate()} ? ${#dates.format(border.getCreatedDate(), 'yyyy-MM-dd HH:mm:ss')} : ${border.getCreatedDate()}" class="text-left"></td>
                        </tr>
                        <tr>
                            <th><span th:text="#{label.readcount}"></span></th>
                            <td class="text-left">
                                <a href="#" th:onclick="|javascript:displayModel('${border.getId()}');|" id="modal-show"><span class="badge badge-default" th:text="${border.getViewCnt()}"></span></a>
                            </td>

                        </tr>
                        <tr>
                            <th><span th:text="#{label.file}"></span></th>
                            <td>
                                <div th:each="uploadFile : ${border.getBorderFiles()}">
                                    <a th:href="@{/border/download-file/{id}(id=${uploadFile.getId()})}" th:text="${uploadFile.getFileName()}" target="_blank"></a>
                                </div>
                            </td>
                        </tr>
                        <tr style="height:400px;">
                            <td th:utext="${border.getContent()}" colspan="2" style="height:400px; vertical-align:top; overflow-scrolling: auto"></td>
                        </tr>
                    </table>
                    <hr class="bg-gray"/>
                    <div class="input-group pull-right">
                        <p>
                            <a th:href="@{/admin/border/edit/{id}(id=${border.getId()})}"
                               class="btn btn-warning" th:text="#{label.edit}">수정</a>
                            <a th:href="@{/admin/border/list/{typeId}(typeId=${border.getBorderMaster().getId()})}"
                               class="btn btn-success" th:text="#{label.list}">목록</a>
                        </p>
                    </div>
                </div><!--panel-body End -->
            </div><!-- panel End -->


            <!--Default Bootstrap Modal-->
            <!--===================================================-->
            <div class="modal fade" id="demo-default-modal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!--Modal header-->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                            <h4 class="modal-title">조회자 목록</h4>
                        </div>

                        <!--Modal body-->
                        <div class="modal-body">
                            <div id="borderViewList"></div>
                        </div>

                        <!--Modal footer-->
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                            <!--                            <button class="btn btn-primary">Save changes</button>-->
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- Page content End -->
    </div><!-- Content container End -->
</th:block>

<th:block layout:fragment="custom_js">

    <script>
        // 게시판 읽은 사람을 조회 한다.
        function displayModel(borderId) {

            var url = "/api/border/borderViewAccountList";

            // View Account List
            $.ajax({
                type: "GET",
                url: url,
                data: {
                    'borderId': borderId
                },
                // dataType: 'JSON',
                async: false,
                success: function (data) {
                    $('#borderViewList').html(data);

                    $("#demo-default-modal").modal()
                },
                error: function (e) {
                }
            });
        }

    </script>
</th:block>
</html>


