<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">

</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->
        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">

            <div class="panel">
                <div class="panel-body">

            <!-- Main Form Wizard -->
            <!--===================================================-->
                    <div id="demo-main-wz">

                        <!--nav-->
                        <ul class="row wz-steps wz-icon-bw wz-nav-off mar-top">
                            <li class="col-xs-2" th:classappend="${cv.pos == 0 ? 'active' : ''}">
                                <a>
<!--                                    <span class="text-danger"><i class="demo-pli-student-hat icon-2x"></i></span>-->
                                    <h5 class="mar-no">EDUCATION</h5>
                                </a>
                            </li>
                            <li class="col-xs-2" th:classappend="${cv.pos == 1 ? 'active' : ''}">
                                <a>
<!--                                    <span class="text-warning"><i class="demo-pli-male icon-2x"></i></span>-->
                                    <h5 class="mar-no">CAREER HISTORY</h5>
                                </a>
                            </li>
                            <li class="col-xs-2" th:classappend="${cv.pos == 2 ? 'active' : ''}">
                                <a>
<!--                                    <span class="text-info"><i class="demo-pli-home icon-2x"></i></span>-->
                                    <h5 class="mar-no">LICENSES & CERTIFICATION</h5>
                                </a>
                            </li>
                            <li class="col-xs-2" th:classappend="${cv.pos == 3 ? 'active' : ''}">
                                <a>
<!--                                    <span class="text-info"><i class="demo-pli-home icon-2x"></i></span>-->
                                    <h5 class="mar-no">PROFESSIONAL AFFILIATIONS
                                    </h5>
                                </a>
                            </li>
                            <li class="col-xs-2" th:classappend="${cv.pos == 4 ? 'active' : ''}">
                                <a>
<!--                                    <span class="text-info"><i class="demo-pli-home icon-2x"></i></span>-->
                                    <h5 class="mar-no">SKILLS</h5>
                                </a>
                            </li>
                            <li class="col-xs-2" th:classappend="${cv.pos == 5 ? 'active' : ''}">
                                <a>
<!--                                    <span class="text-info"><i class="demo-pli-home icon-2x"></i></span>-->
                                    <h5 class="mar-no">EXPERIENCE</h5>
                                </a>
                            </li>
                        </ul>

                        <!--progress bar-->
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-primary"></div>
                        </div>


                        <!--form-->
                        <form class="form-horizontal" id="boardFrm2" action="#" th:action="@{/mypage/cv/edit}" th:object="${cv}" method="post">
                            <div class="panel-body">
                                <!-- wz form -->
                                <div th:include="fragments/cv/education"></div>
                                <div th:include="fragments/cv/careerHistory"></div>
                                <div th:include="fragments/cv/license"></div>
                                <div th:include="fragments/cv/professional"></div>
                                <div th:include="fragments/cv/skills"></div>
                                <div th:include="fragments/cv/experience"></div>
                                <!-- end wz-form-->
                            </div>


                            <!--Footer buttons-->
                            <div class="pull-right pad-rgt mar-btm">
                                <button type="submit" name="prev" class="previous btn btn-primary" th:disabled="${cv.pos == 0}"><i class="fa fa-caret-left"></i> Previous</button>
                                <button type="submit" name="next" class="next btn btn-primary" th:disabled="${cv.pos == 5}">Next <i class="fa fa-caret-right"></i></button>
                                <button type="button" class="finish btn btn-success" th:disabled="${cv.pos != 5}"><i class="fa fa-check"></i> Finish</button>
                            </div>

                        </form>
                    </div>
            <!--===================================================-->
            <!-- End of Main Form Wizard -->
                </div>
            </div>
        </div><!-- Page content End -->
    </div><!-- Content container End -->
    <th:block th:if="${target != null}">
        <script th:inline="javascript">
            /*<![CDATA[*/
            var target = [[${target}]];
            // alert(target);
            location.href = location.pathname + '#' + target;
            /*]]>*/
        </script>
    </th:block>
</th:block>

<th:block layout:fragment="custom_js">
    <!--Bootstrap Wizard [ OPTIONAL ]-->
<!--    <script th:src="@{/default/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js}"></script>-->
    <script>
        $(document).ready(function() {
            $('.input-daterange').datepicker({
                format: "M yyyy",
                startView: 1,
                minViewMode: 1,
                autoclose: true,
                orientation: "bottom auto"
            });
            $('.issueDate').datepicker({
                format: "M yyyy",
                startView: 1,
                minViewMode: 1,
                autoclose: true,
                orientation: "bottom auto"
            });
            $('.membershipDate').datepicker({
                format: "yyyy",
                startView: 2,
                minViewMode: 2,
                autoclose: true,
                orientation: "bottom auto"
            });

            $(".edu-present").change(function(e) {
                if($(this).is(":checked")) {
                    $("#educations"+$(this).data("index")+"\\.endDate").val("").attr("readonly", "readonly");
                } else {
                    $("#educations"+$(this).data("index")+"\\.endDate").removeAttr("readonly");
                }
            });
            $(".career-present").change(function(e) {
                if($(this).is(":checked")) {
                    $("#careerHistories"+$(this).data("index")+"\\.endDate").val("").attr("readonly", "readonly");
                } else {
                    $("#careerHistories"+$(this).data("index")+"\\.endDate").removeAttr("readonly");
                }
            });

            $(".edu-present, .career-present").trigger("change");


        });

        /*<![CDATA[*/
        var progress = [[${cv.progress}]];
        /*]]>*/
        $('#demo-main-wz').find('.progress-bar').css({width:progress + '%',left:"0%", 'position':'relative', 'transition':'all .5s'});
    </script>

</th:block>

</html>
