<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">
    <link th:href="@{/default/plugins/select2/css/select2.min.css}" rel="stylesheet">
</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->
        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">

            <div class="panel">
                <div class="panel-body">

            <!-- Main Form Wizard -->
            <!--===================================================-->
                    <div id="demo-main-wz">
                        <!--nav-->
                        <ul class="row wz-steps wz-icon-bw wz-nav-off mar-top">
                            <li class="col-xs-2" th:classappend="${cv.pos == 0 ? 'active' : ''}">
                                <a data-id="0" th:styleappend="${((cv.id != null && cv.id > 0) || cv.parentId != null) ? 'cursor: pointer !important' : ''}">
<!--                                    <span class="text-danger"><i class="demo-pli-student-hat icon-2x"></i></span>-->
                                    <h5 class="mar-no">EDUCATION</h5>
                                </a>
                            </li>
                            <li class="col-xs-2" th:classappend="${cv.pos == 1 ? 'active' : ''}">
                                <a data-id="1" th:styleappend="${((cv.id != null && cv.id > 0) || cv.parentId != null) ? 'cursor: pointer !important' : ''}">
<!--                                    <span class="text-warning"><i class="demo-pli-male icon-2x"></i></span>-->
                                    <h5 class="mar-no">CAREER HISTORY</h5>
                                </a>
                            </li>
                            <li class="col-xs-2" th:classappend="${cv.pos == 2 ? 'active' : ''}">
                                <a data-id="2" th:styleappend="${((cv.id != null && cv.id > 0) || cv.parentId != null) ? 'cursor: pointer !important' : ''}">
<!--                                    <span class="text-info"><i class="demo-pli-home icon-2x"></i></span>-->
                                    <h5 class="mar-no">LICENSES & CERTIFICATION</h5>
                                </a>
                            </li>
                            <li class="col-xs-2" th:classappend="${cv.pos == 3 ? 'active' : ''}">
                                <a data-id="3" th:styleappend="${((cv.id != null && cv.id > 0) || cv.parentId != null) ? 'cursor: pointer !important' : ''}">
<!--                                    <span class="text-info"><i class="demo-pli-home icon-2x"></i></span>-->
                                    <h5 class="mar-no">PROFESSIONAL AFFILIATIONS
                                    </h5>
                                </a>
                            </li>
                            <li class="col-xs-2" th:classappend="${cv.pos == 4 ? 'active' : ''}">
                                <a data-id="4" th:styleappend="${((cv.id != null && cv.id > 0) || cv.parentId != null) ? 'cursor: pointer !important' : ''}">
<!--                                    <span class="text-info"><i class="demo-pli-home icon-2x"></i></span>-->
                                    <h5 class="mar-no">SKILLS</h5>
                                </a>
                            </li>
                            <li class="col-xs-2" th:classappend="${cv.pos == 5 ? 'active' : ''}">
                                <a data-id="5" th:styleappend="${((cv.id != null && cv.id > 0) || cv.parentId != null) ? 'cursor: pointer !important' : ''}">
<!--                                    <span class="text-info"><i class="demo-pli-home icon-2x"></i></span>-->
                                    <h5 class="mar-no">EXPERIENCE</h5>
                                </a>
                            </li>
                        </ul>

                        <!--progress bar-->
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-primary"></div>
                        </div>


                        <!--form-->
                        <form class="form-horizontal" id="cvForm" th:action="@{/mypage/cv/edit}" th:object="${cv}" method="post">
                            <div class="panel-body">
                                <input type="hidden" name="currentPos" id="currentPos" th:value="${cv.pos}"/>
                                <input type="hidden" name="goto" id="goto"/>
                                <!-- wz form -->
                                <div th:include="fragments/cv/education"></div>
                                <div th:include="fragments/cv/careerHistory"></div>
                                <div th:include="fragments/cv/license"></div>
                                <div th:include="fragments/cv/professional"></div>
                                <div th:include="fragments/cv/skills"></div>
                                <div th:include="fragments/cv/experience"></div>
                                <!-- end wz-form-->
                            </div>


                            <!--Footer buttons-->
                            <div class="pull-right pad-rgt mar-btm">
                                <button type="submit" name="prev" class="previous btn btn-primary" th:value="${cv.pos - 1}" th:if="${cv.pos > 0}"><i class="fa fa-caret-left"></i> Previous</button>
                                <button type="submit" name="next" class="next btn btn-primary" th:value="${cv.pos + 1}" th:if="${cv.pos < 5}">Next <i class="fa fa-caret-right"></i></button>
                                <button type="submit" name="_submit" id="regBtn" value="TEMP" data-loading-text="저장중..." class="btn btn-success" th:if="${cv.pos == 5}"><i class="fa fa-check"></i> Registration</button>
                            </div>

                        </form>
                    </div>
            <!--===================================================-->
            <!-- End of Main Form Wizard -->
                </div>
            </div>
        </div><!-- Page content End -->
    </div><!-- Content container End -->
    <th:block th:if="${target != null}">
        <script th:inline="javascript">
            /*<![CDATA[*/
            var target = [[${target}]];
            // alert(target);
            location.href = location.pathname + '#' + target;
            /*]]>*/
        </script>
    </th:block>
</th:block>

<th:block layout:fragment="custom_js">
    <script th:src="@{/default/plugins/select2/js/select2.min.js}"></script>
    <!--Bootstrap Wizard [ OPTIONAL ]-->
<!--    <script th:src="@{/default/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js}"></script>-->
    <script th:if="${((cv.id != null && cv.id > 0) || cv.parentId != null)}">
        $(".wz-steps > li > a").click(function() {
            var currentPos = $("#currentPos").val();
            var pos = $(this).data("id");
            if(currentPos != pos) {
                $("#goto").val(pos);
                $("#cvForm").submit();
            }
        });
    </script>
    <script>
        $("select.degreeType").change(function() {
           var t = $(this).val();
            var thesisTitleId = "#educations"+$(this).data("index")+"\\.thesisTitle";
            var nameOfSupervisorId = "#educations"+$(this).data("index")+"\\.nameOfSupervisor";
           if(t == 'BACHELORS') {
                $(thesisTitleId).val("").attr("disabled", "disabled");
                $(nameOfSupervisorId).val("").attr("disabled", "disabled");
           } else {
               $(thesisTitleId).removeAttr("disabled");
               $(nameOfSupervisorId).removeAttr("disabled");
           }
        }).trigger("change");
        // $(document).ready(function() {
            $("select.name-of-university").change(function(e) {
               var _val = $(this).val();
               var otherId = "#educations"+$(this).data("index")+"\\.nameOfUniversityOther";
               if(_val == "Others") {
                   $(otherId).removeAttr("disabled");
               } else {
                   $(otherId).val("").attr("disabled", "disabled");
               }
            }).trigger("change");

            $("select.city-country").change(function(e) {
               var _val = $(this).val();
               var otherId = "#educations"+$(this).data("index")+"\\.cityCountryOther";
               if(_val == "Others") {
                   $(otherId).removeAttr("disabled");
               } else {
                   $(otherId).val("").attr("disabled", "disabled");
               }
            }).trigger("change");

        $(".edu-present").change(function(e) {
            if($(this).is(":checked")) {
                $("#educations"+$(this).data("index")+"\\.endDate").val("").attr("disabled", "disabled");
            } else {
                $("#educations"+$(this).data("index")+"\\.endDate").removeAttr("disabled");
            }
        }).trigger("change");
    </script>
    <script>
            $("select.ch-city-country").change(function(e) {
               var _val = $(this).val();
               var otherId = "#careerHistories"+$(this).data("index")+"\\.cityCountryOther";
               if(_val == "Others") {
                   $(otherId).removeAttr("disabled");
               } else {
                   $(otherId).val("").attr("disabled", "disabled");
               }
            }).trigger("change");
    </script>
    <script>
            $("select.license-country").change(function(e) {
               var _val = $(this).val();
               var otherId = "#licenses"+$(this).data("index")+"\\.licenseInCountryOther";
               if(_val == "Others") {
                   $(otherId).removeAttr("disabled");
               } else {
                   $(otherId).val("").attr("disabled", "disabled");
               }
            }).trigger("change");
    </script>
    <script>
            $("select.skill-language").change(function(e) {
               var _val = $(this).val();
               var otherId = "#languages"+$(this).data("index")+"\\.languageOther";
               if(_val == "Others") {
                   $(otherId).removeAttr("disabled");
               } else {
                   $(otherId).val("").attr("disabled", "disabled");
               }
            }).trigger("change");

            $('.input-daterange').datepicker({
                format: "M yyyy",
                startView: 1,
                minViewMode: 1,
                autoclose: true,
                orientation: "bottom auto"
            });
            $('.issueDate').datepicker({
                format: "M yyyy",
                startView: 1,
                minViewMode: 1,
                autoclose: true,
                orientation: "bottom auto"
            });
            $('.membershipDate').datepicker({
                format: "yyyy",
                startView: 2,
                minViewMode: 2,
                autoclose: true,
                orientation: "bottom auto"
            });


            $(".career-present").change(function(e) {
                if($(this).is(":checked")) {
                    $("#careerHistories"+$(this).data("index")+"\\.endDate").attr("disabled", "disabled");
                } else {
                    $("#careerHistories"+$(this).data("index")+"\\.endDate").removeAttr("disabled");
                }
            }).trigger("change");
            $(".member-present").change(function(e) {
                if($(this).is(":checked")) {
                    $("#memberships"+$(this).data("index")+"\\.endYear").attr("disabled", "disabled");
                } else {
                    $("#memberships"+$(this).data("index")+"\\.endYear").removeAttr("disabled");
                }
            }).trigger("change");

            $("select.indication-list").change(function(e) {
                var val = $(this).val();
                var index = $(this).data("index");
                if("Others" == val) {
                    $("#experiences"+index+"\\.indicationOther").removeAttr("disabled");
                } else {
                    $("#experiences"+index+"\\.indicationOther").attr("disabled", "disabled");
                }
            });
            $("select.skill-cert").change(function(e) {
                var val = $(this).val();
                var index = $(this).data("index");
                var cindex = $(this).data("cindex");
                if("Others" == val) {
                    $("#languages"+index+"\\.languageCertifications"+cindex+"\\.certificateProgramOther").removeAttr("disabled");
                } else {
                    $("#languages"+index+"\\.languageCertifications"+cindex+"\\.certificateProgramOther").attr("disabled", "disabled");
                }
            }).trigger("change");
            $("select.phase-list").change(function(e) {
                var val = $(this).val();
                var index = $(this).data("index");
                if("Others" == val) {
                    $("#experiences"+index+"\\.phaseOther").removeAttr("disabled");
                } else {
                    $("#experiences"+index+"\\.phaseOther").attr("disabled", "disabled");
                }
            }).trigger("change");
            $("select.role-list").select2();
            $("select.role-list").change(function(e) {
                var val = $(this).val();
                var index = $(this).data("index");
                if("Others" == val || val.indexOf("Others") != -1) {
                    $("#experiences"+index+"\\.roleOther").removeAttr("disabled");
                } else {
                    $("#experiences"+index+"\\.roleOther").attr("disabled", "disabled");
                }
            }).trigger("change");

            $("select.ta-list").change(function(e) {
                var val = $(this).val();
                var index = $(this).data("index");
                if("Others" == val) {
                    $("#experiences"+index+"\\.taOther").removeAttr("disabled");
                } else {
                    $("#experiences"+index+"\\.taOther").attr("disabled", "disabled");
                }

                var $sel = $("#experiences"+index+"\\.indication");
                var $val = $("#experiences"+index+"\\.indication option:selected").val();
                $('optgroup', $sel).hide();//.addClass('bg-gray');
                var optgroup = $('optgroup[label="' + val + '"]', $sel);
                setTimeout(function() {
                    optgroup.show();//.addClass('bg-gray');
                    optgroup.find('option:eq(0)').attr("selected", "selected");
                    $sel.val($val).trigger("change");
                }, 300);

                // console.log($sel.find("option").eq(0));//.addClass('bg-gray').trigger("change");
            }).trigger("change");

            $("#regBtn").click(function() {
                $(this).button('loading');
            });
    </script>
    <script>
        /*<![CDATA[*/
        var progress = [[${cv.progress}]];
        /*]]>*/
        $('#demo-main-wz').find('.progress-bar').css({width:progress + '%',left:"0%", 'position':'relative', 'transition':'all .5s'});
    </script>

</th:block>

</html>
