<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">
    <!--Dropzone [ OPTIONAL ]-->
    <link th:href="@{/default/plugins/dropzone/dropzone.min.css}" rel="stylesheet">

    <!--Bootstrap Timepicker [ OPTIONAL ]-->
    <link th:href="@{/default/plugins/bootstrap-timepicker/bootstrap-timepicker.min.css}" rel="stylesheet">


    <!--Bootstrap Datepicker [ OPTIONAL ]-->
    <link th:href="@{/default/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css}" rel="stylesheet">

</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->
        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">

            <!-- Basic Data Tables -->
            <!--===================================================-->
            <div class="panel">
                <div class="panel-heading">
<!--                    <h3 class="panel-title">교육 등록</h3>-->
                </div>
                <div class="panel-body">
                    <!--===================================================-->
                    <!--End Horizontal Form-->
                    <form class="form-horizontal" id="boardFrm" action="#" th:action="@{/admin/course/{typeId}/{courseId}/quiz/add-post(typeId=${typeId}, courseId=${courseId})}" th:object="${courseQuiz}" method="post" enctype="multipart/form-data" >
<!--                        <input type="hidden" th:value="${id}" id="id" name="id">-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="name" th:text="#{label.course.quiz.name}">시험명</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{name}" id="name" placeholder="quiz name" class="form-control" required="required">
                            </div>
                            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="hour" th:text="#{label.hour}">시험시간(시)</label>
                            <div class="col-sm-2">
                                <input type="number" step="any" th:field="*{hour}" id="hour" placeholder="" class="form-control" required="required">
                            </div>
                            <span th:if="${#fields.hasErrors('hour')}" th:errors="*{hour}"></span>
                            <label class="col-sm-2 control-label" for="passCount" th:text="#{label.course.quiz.pathCount}">합격문항수</label>
                            <div class="col-sm-4">
                                <input type="number" th:field="*{passCount}" id="passCount" placeholder="" class="form-control" required="required">
                            </div>
                            <span th:if="${#fields.hasErrors('passCount')}" th:errors="*{passCount}"></span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><i class="fa fa-file-excel-o text-info"></i> <span th:text="#{label.course.quiz.file}">문제파일</span></label>
                            <div class="col-sm-10">
                                <input type="file" name="file" accept=".xlsx">
                            </div>
                        </div>
                        <div class="panel-footer text-right">
                            <button class="btn btn-primary" type="submit" id="submit-all" th:text="#{label.save}">
                                <i class="fa fa-upload-cloud"></i> 저장
                            </button>
                            <a class="btn btn-primary" th:href="@{/admin/course/{typeId}/{courseId}/quiz(typeId=${typeId}, courseId=${courseId})}"><i class="demo-pli-back"></i> Back</a>
                        </div>
                    </form>
                </div><!--panel-body End -->
            </div><!-- panel End -->
        </div><!-- Page content End -->
    </div><!-- Content container End -->

</th:block>

<th:block layout:fragment="custom_js">


    <!--Bootstrap Timepicker [ OPTIONAL ]-->
    <script th:src="@{/default/plugins/bootstrap-timepicker/bootstrap-timepicker.min.js}"></script>


    <!--Bootstrap Datepicker [ OPTIONAL ]-->
    <script th:src="@{/default/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js}"></script>

    <script>

        $('#demo-dp-range .input-daterange').datepicker({
            // format: "MM dd, yyyy",
            format: "yyyy-mm-dd",
            todayBtn: "linked",
            autoclose: true,
            todayHighlight: true
        });

    </script>


</th:block>

</html>

