<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<div id="page-head" th:fragment="content-title">

    <!--Page Title-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div id="page-title">
        <h1 class="page-header text-overflow" th:text="${pageInfo.getPageTitle()}"></h1>
    </div>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--End page title-->

    <!--Breadcrumb-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

    <ol class="breadcrumb">
        <li><a href="#"><i class="demo-pli-home"></i></a></li>
        <li><a href="#" th:text="${pageInfo.getParentTitle()}"></a></li>
        <li class="active" th:text="${pageInfo.getPageTitle()}"></li>
    </ol>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--End breadcrumb-->

</div>

</html>