<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<div class="mainnav-widget" th:fragment="widget">

    <!-- Show the button on collapsed navigation -->
    <div class="show-small">
        <a href="#" data-toggle="menu-widget" data-target="#demo-wg-server">
            <i class="demo-pli-monitor-2"></i>
        </a>
    </div>

    <!-- Hide the content on collapsed navigation -->
    <div id="demo-wg-server" class="hide-small mainnav-widget-content">
        <ul class="list-group">
            <li class="list-header pad-no mar-ver">Server Status</li>
            <li class="mar-btm">
                <span class="label label-primary pull-right">15%</span>
                <p>CPU Usage</p>
                <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-primary" style="width: 15%;">
                        <span class="sr-only">15%</span>
                    </div>
                </div>
            </li>
            <li class="mar-btm">
                <span class="label label-purple pull-right">75%</span>
                <p>Bandwidth</p>
                <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-purple" style="width: 75%;">
                        <span class="sr-only">75%</span>
                    </div>
                </div>
            </li>
            <li class="pad-ver"><a href="#" class="btn btn-success btn-bock">View Details</a></li>
        </ul>
    </div>
</div>

</html>