<!DOCTYPE html>
<html lang="ko"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<ul id="mainnav-menu" class="list-group" th:fragment="menu">

    <th:block sec:authorize="hasRole('ROLE_USER')">
        <!--Category name-->
        <li class="list-header">User Menu</li>

        <!--Menu list item-->
        <li>
            <a href="#">
                <i class="demo-pli-home"></i>
                <span class="menu-title">교육안내</span>
                <i class="arrow"></i>
            </a>

            <!--Submenu-->
            <ul class="collapse">
<!--                <li><a data-th-href="@{/info/month}">교육월간일정</a></li>-->
                <li><a data-th-href="@{/info/totalMonth}">교육월간일정</a></li>
                <li><a data-th-href="@{/info/year/{sctype}(sctype=${T(com.dtnsm.lms.domain.constant.ScheduleType).CALENDAR})}">교육연간일정</a></li>
                <li class="list-divider"></li>
                <li><a data-th-href="@{/info/request}">교육신청</a></li>

            </ul>
        </li>

        <!--Menu list item-->
        <li>
            <a href="#">
                <i class="demo-pli-home"></i>
                <span class="menu-title">학습지원</span>
                <i class="arrow"></i>
            </a>

            <!--Submenu-->
            <ul class="collapse">
                <li><a href="#" data-th-href="@{/border/{typeId}(typeId='BA0101')}" th:text="#{label.title.notice}">공지사항</a></li>
                <li><a href="#" data-th-href="@{/border/{typeId}(typeId='BA0102')}" th:text="#{label.title.news}">법령정보</a></li>
                <li><a href="#" data-th-href="@{/border/{typeId}(typeId='BA0103')}" th:text="#{label.title.guide}">가이드라인</a></li>
                <li><a href="#" data-th-href="@{/border/{typeId}(typeId='BA0104')}" th:text="#{label.title.pds}">자료실</a></li>
            </ul>
        </li>

        <!--Menu list item-->
<!--        <li>-->
<!--            <a href="#">-->
<!--                <i class="demo-pli-home"></i>-->
<!--                <span class="menu-title">Digital Binder</span>-->
<!--                <i class="arrow"></i>-->
<!--            </a>-->

<!--            &lt;!&ndash;Submenu&ndash;&gt;-->
<!--            <ul class="collapse">-->
<!--                <li><a data-th-href="@{/binder/cv/list}">CV</a></li>-->
<!--                <li><a data-th-href="@{/binder/jd/list}">JD</a></li>-->
<!--                <li><a data-th-href="@{/binder/tmlog}">Employee Training Log(TM)</a></li>-->
<!--                <li><a data-th-href="@{/binder/soplog}">Employee Training Log(eSOP)</a></li>-->
<!--                <li><a data-th-href="@{/binder/certi}">Certificates</a></li>-->
<!--            </ul>-->
<!--        </li>-->



        <li>
            <a href="#">
                <i class="demo-pli-home"></i>
                <span class="menu-title">교육결재</span>
                <i class="arrow"></i>
            </a>

            <!--Submenu-->
            <ul class="collapse">
                <li><a href="#" data-th-href="@{/approval/mainRequest1}">내부결재</a></li>
                <li><a href="#" data-th-href="@{/approval/mainRequest2}">외부결재</a></li>
                <li><a href="#" data-th-href="@{/approval/mainApproval}">결재함</a></li>
<!--                <li><a href="#" data-th-href="@{/approval/listApprProcess}">미결함 <span class="badge badge-purple" id="course-my-approval"></span></a></li>-->
<!--                <li><a href="#" data-th-href="@{/approval/listMyProcess}">내진행함 <span class="badge badge-purple" id="course-my-process"></span></a></li>-->
<!--                <li><a href="#" data-th-href="@{/approval/listMyComplete}">내완료함</a></li>-->
<!--                <li><a href="#" data-th-href="@{/approval/listMyReject}">내반려함</a></li>-->
<!--                <li><a href="#" data-th-href="@{/approval/listMyAll}">내전체함</a></li>-->
<!--                <li><a href="#" data-th-href="@{/approval/listApprAll}">결재함</a></li>-->
<!--                <li th:text="${T(com.dtnsm.lms.util.GlobalUtil).apprProcessCount()}"></li>-->
<!--                <li><a href="#app-process" data-toggle="tab">결재요청 <span class="badge badge-purple" th:text="${app1List.size()}"></span></a></li>-->
            </ul>

        </li>

<!--        <li>-->
<!--            <a href="#">-->
<!--                <i class="demo-pli-home"></i>-->
<!--                <span class="menu-title">전자결재</span>-->
<!--                <i class="arrow"></i>-->
<!--            </a>-->

<!--            &lt;!&ndash;Submenu&ndash;&gt;-->
<!--            <ul class="collapse">-->
<!--                <li><a href="#" data-th-href="@{/document/templateView}">기안작성</a></li>-->
<!--                <li><a href="#" data-th-href="@{/approval/document/listApprProcess}">미결함 <span class="badge badge-purple" id="document-my-approval"></span></a></li>-->
<!--                <li><a href="#" data-th-href="@{/approval/document/listMyProcess}">내진행함 <span class="badge badge-purple" id="document-my-process"></span></a></li>-->
<!--                <li><a href="#" data-th-href="@{/approval/document/listMyComplete}">내완료함</a></li>-->
<!--                <li><a href="#" data-th-href="@{/approval/document/listMyReject}">내반려함</a></li>-->
<!--                <li><a href="#" data-th-href="@{/approval/document/listMyAll}">내전체함</a></li>-->
<!--                <li><a href="#" data-th-href="@{/approval/document/listApprAll}">결재함</a></li>-->
<!--            </ul>-->
<!--        </li>-->

        <!--Menu list item-->
        <li>
            <a href="#">
                <i class="demo-pli-home"></i>
                <span class="menu-title">마이페이지</span>
                <i class="arrow"></i>
            </a>

            <!--Submenu-->
            <ul class="collapse">
                <li><a data-th-href="@{/mypage/main}">교육현황</a></li>
<!--                <li><a data-th-href="@{/info/monthUser}">나의월간일정</a></li>-->
                <li><a data-th-href="@{/mypage/uploadTrainingLog}">Training Log Upload</a></li>
                <li><a data-th-href="@{/mypage/courseTraingLog}">Employee Training Log</a></li>
                <li class="list-divider"></li>
                <li><a data-th-href="@{/mypage/cv}">Curriculum Vitae</a></li>
                <li><a data-th-href="@{/mypage/jd/approved}">Job Description</a></li>
                <li><a data-th-href="@{/mypage/certificate/file}">수료증 Upload</a></li>
<!--                <li><a data-th-href="@{/mypage/certificate/view}">수료증발급</a></li>-->
                <li class="list-divider"></li>
                <li><a data-th-href="@{/mypage/myInfo}">사용자정보</a></li>
<!--                <li><a data-th-href="@{/mypage/quiz}">시험/시험결과/수료증발급</a></li>-->
<!--                <li><a data-th-href="@{/mypage/myinfo}">사용자정보</a></li>-->
            </ul>
        </li>
        <li>
            <a href="/binder">
                <i class="demo-pli-home"></i>
                <span class="menu-title">Digital Binder</span>
<!--                <i class="arrow"></i>-->
            </a>
        </li>
        <th:block th:with="isManager = ${#authorization.getAuthentication().getPrincipal().isManager()}">
            <th:block th:if="${isManager == true}">
                <li>
                    <a href="#">
                        <i class="demo-pli-home"></i>
                        <span class="menu-title">Team/Department</span>
                        <i class="arrow"></i>
                    </a>

                    <!--Submenu-->
                    <ul class="collapse">
<!--                        <li><a data-th-href="@{/employees/cv/current}">Curriculum Vitae</a></li>-->
                        <li><a data-th-href="@{/employees/jd/approved}">직무 관리</a></li>
                        <li><a data-th-href="@{/employees/review}">바인더 검토</a></li>
                        <li><a data-th-href="@{/employees/finder}">CV Finder</a></li>
                    </ul>
                </li>
            </th:block>
        </th:block>
        <li class="list-divider"></li>

    </th:block>

    <!--  ROLE_ADMIN  관리자만 보이게 -->
    <th:block sec:authorize="hasRole('ROLE_MANAGER')">

        <!--Category name-->
        <li class="list-header">Manager Menu</li>

        <li>
            <a href="#">
                <i class="demo-pli-gear"></i>
                <span class="menu-title">교육과정</span>
                <i class="arrow"></i>
            </a>

            <!--Submenu-->
            <ul class="collapse">

                <li><a href="#" data-th-href="@{/admin/course/{typeId}(typeId='BC0101')}">Self training</a></li>
                <li><a href="#" data-th-href="@{/admin/course/{typeId}(typeId='BC0102')}">Class training</a></li>
                <li><a href="#" data-th-href="@{/admin/course/{typeId}(typeId='BC0103')}">부서별 교육</a></li>
                <li><a href="#" data-th-href="@{/admin/course/{typeId}(typeId='BC0104')}">외부 교육</a></li>
            </ul>
        </li>

        <li>
            <a href="#">
                <i class="demo-pli-gear"></i>
                <span class="menu-title">교육과정기준정보</span>
                <i class="arrow"></i>
            </a>

            <!--Submenu-->
            <ul class="collapse">
                <li><a href="#" data-th-href="@{/admin/registration/courseManager}">교육과정관리자</a></li>
                <li><a href="#" data-th-href="@{/admin/course-master}">교육과정유형</a></li>
                <li><a href="#" data-th-href="@{/admin/survey}">설문</a></li>
                <li><a href="#" data-th-href="@{/admin/certificate/number}">수료증채번</a></li>
                <li><a href="#" data-th-href="@{/admin/certificate/info}">수료증정보</a></li>
                <li><a href="#" data-th-href="@{/admin/schedule/{sctype}(sctype=${T(com.dtnsm.lms.domain.constant.ScheduleType).CALENDAR})}">연간일정</a></li>
                <li><a href="#" data-th-href="@{/admin/schedule/{sctype}(sctype=${T(com.dtnsm.lms.domain.constant.ScheduleType).MATRIX})}">Employee Matrix</a></li>
                <li><a href="#" data-th-href="@{/admin/document/template}">결재양식등록</a></li>
            </ul>
        </li>

        <li>
            <a href="#">
                <i class="demo-pli-gear"></i>
                <span class="menu-title">교육결재</span>
                <i class="arrow"></i>
            </a>

            <!--Submenu-->
            <ul class="collapse">
                <li><a href="#" data-th-href="@{/admin/approval/mainRequest1}">내부결재</a></li>
                <li><a href="#" data-th-href="@{/admin/approval/mainRequest2}">외부결재</a></li>
<!--                <li><a href="#" data-th-href="@{/admin/approval/listApprProcess}">진행함 <span class="badge badge-purple" id="course-my-process2"></span></a></li>-->
<!--                <li><a href="#" data-th-href="@{/admin/approval/listApprComplete}">완료함</a></li>-->
<!--                <li><a href="#" data-th-href="@{/admin/approval/listApprReject}">반려함</a></li>-->
<!--                <li><a href="#" data-th-href="@{/admin/approval/document/listApprComplete}">완료함</a></li>-->
            </ul>
        </li>

<!--        <li>-->
<!--            <a href="#">-->
<!--                <i class="demo-pli-gear"></i>-->
<!--                <span class="menu-title">전자결재</span>-->
<!--                <i class="arrow"></i>-->
<!--            </a>-->

<!--            &lt;!&ndash;Submenu&ndash;&gt;-->
<!--            <ul class="collapse">-->
<!--                <li><a href="#" data-th-href="@{/admin/document/template/list}">보고서양식등록</a></li>-->
<!--                <li><a href="#" data-th-href="@{/admin/approval/document/listApprProcess}">진행함 <span class="badge badge-purple" id="document-my-process2"></span></a></li>-->
<!--                <li><a href="#" data-th-href="@{/admin/approval/document/listApprComplete}">완료함</a></li>-->
<!--                <li><a href="#" data-th-href="@{/admin/approval/document/listApprReject}">반려함</a></li>-->

<!--            </ul>-->
<!--        </li>-->

        <li>
            <a href="#">
                <i class="demo-pli-gear"></i>
                <span class="menu-title">게시판</span>
                <i class="arrow"></i>
            </a>

            <!--Submenu-->
            <ul class="collapse">
                <li><a href="#" data-th-href="@{/admin/border/{typeId}(typeId='BA0101')}" th:text="#{label.title.notice}">공지사항</a></li>
                <li><a href="#" data-th-href="@{/admin/border/{typeId}(typeId='BA0102')}" th:text="#{label.title.news}">법령정보</a></li>
                <li><a href="#" data-th-href="@{/admin/border/{typeId}(typeId='BA0103')}" th:text="#{label.title.guide}">가이드라인</a></li>
                <li><a href="#" data-th-href="@{/admin/border/{typeId}(typeId='BA0104')}" th:text="#{label.title.pds}">자료실</a></li>
            </ul>
        </li>

        <li>
            <a href="#" data-th-href="@{/admin/customer}">
                <i class="demo-pli-gear"></i>
                <span class="menu-title">협약기관</span>
<!--                <i class="arrow"></i>-->
            </a>

            <!--Submenu-->
<!--            <ul class="collapse">-->
<!--                <li><a href="#" data-th-href="@{/admin/customer/list}">협약기관</a></li>-->
<!--            </ul>-->
        </li>

        <li>
            <a href="#">
                <i class="demo-pli-gear"></i>
                <span class="menu-title">Report</span>
                <i class="arrow"></i>
            </a>

            <!--Submenu-->
            <ul class="collapse">
                <li><a href="#" data-th-href="@{/admin/report/course/self}">Self Training 교육현황</a></li>
                <li><a href="#" data-th-href="@{/admin/report/training/head}">Employee Training Log 집계</a></li>
                <li><a href="#" data-th-href="@{/admin/report/training/detail}">Employee Training Log</a></li>
                <li><a href="#" data-th-href="@{/admin/report/certificate/head}">수료증 집계</a></li>
                <li><a href="#" data-th-href="@{/admin/report/certificate/detail}">수료증</a></li>
<!--                <li><a href="#" data-th-href="@{/admin/report/bind/target}">바인더 작업 대상</a></li>-->
            </ul>
        </li>

        <li>
            <a href="/admin/jd/list">
                <i class="demo-pli-gear"></i>
                <span class="menu-title">Job Description</span>
                <!--                <i class="arrow"></i>-->
            </a>
        </li>
        <li>
            <a href="/finder">
                <i class="demo-pli-gear"></i>
                <span class="menu-title">CV Finder</span>
                <!--                <i class="arrow"></i>-->
            </a>
        </li>


<!--        <li>-->
<!--            <a href="#">-->
<!--                <i class="demo-pli-gear"></i>-->
<!--                <span class="menu-title">문제은행</span>-->
<!--                <i class="arrow"></i>-->
<!--            </a>-->

<!--            &lt;!&ndash;Submenu&ndash;&gt;-->
<!--            <ul class="collapse">-->
<!--                <li><a href="#" data-th-href="@{/admin/munjeBank/list/{munjeType}(munjeType=${T(com.dtnsm.lms.domain.constant.MunjeType).QUIZ})}">시험문제등록</a></li>-->
<!--                <li><a href="#" data-th-href="@{/admin/munjeBank/list/{munjeType}(munjeType=${T(com.dtnsm.lms.domain.constant.MunjeType).SURVEY})}">설문문제등록</a></li>-->
<!--            </ul>-->
<!--        </li>-->

        <li class="list-divider"></li>

    </th:block>
    <!--  ROLE_ADMIN  관리자만 보이게 -->
    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
        <!--Category name-->
        <li class="list-header">Admin Menu</li>

<!--        <li>-->
<!--            <a href="#">-->
<!--                <i class="demo-pli-file-html"></i>-->
<!--                <span class="menu-title">파일관리</span>-->
<!--                <i class="arrow"></i>-->
<!--            </a>-->

<!--            &lt;!&ndash;Submenu&ndash;&gt;-->
<!--            <ul class="collapse">-->
<!--                <li><a data-th-href="@{/admin/file/list}">파일등록</a></li>-->
<!--            </ul>-->
<!--        </li>-->

        <!--Menu list item-->
        <li>
            <a href="#">
                <i class="demo-pli-file-html"></i>
                <span class="menu-title">기준정보관리</span>
                <i class="arrow"></i>
            </a>

            <!--Submenu-->
            <ul class="collapse">
                <li><a data-th-href="@{/admin/code/major}">Major Code</a></li>
                <li><a data-th-href="@{/admin/code/minor}">Minor Code</a></li>
                <li><a href="#" data-th-href="@{/admin/border-master}">게시판</a></li>
            </ul>
        </li>

        <li>
            <a href="#">
                <i class="demo-pli-file-html"></i>
                <span class="menu-title">사용자관리</span>
                <i class="arrow"></i>
            </a>

            <!--Submenu-->
            <ul class="collapse">
                <li><a href="#" data-th-href="@{/admin/registration/account}">사용자</a></li>
                <li><a href="#" data-th-href="@{/admin/registration/role}">Role</a></li>
                <!--                <li><a href="#" data-th-href="@{/admin/registration/accountRole/list}">사용자별Role관리</a></li>-->

            </ul>
        </li>

        <li>
            <a href="#">
                <i class="demo-pli-file-html"></i>
                <span class="menu-title">그룹웨어조직정보</span>
                <i class="arrow"></i>
            </a>

            <!--Submenu-->
            <ul class="collapse">
                <!--                <li><a href="#" data-th-href="@{/admin/depart/treeView}">조직도</a></li>-->
<!--                <li><a href="#" data-th-href="@{/admin/depart}">부서조회</a></li>-->
                <li><a href="#" data-th-href="@{/admin/user}">사원조회</a></li>
            </ul>
        </li>

        <li class="list-divider"></li>

    </th:block>

</ul>

</html>
