<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div id="mainnav-profile" class="mainnav-profile" th:fragment="profile">
    <div class="profile-wrap text-center">
        <div class="pad-btm">
            <img class="img-circle img-md" data-th-src="@{/default/img/profile-photos/1.png}" alt="Profile Picture">
        </div>
<!--        <a href="#profile-nav" class="box-block" data-toggle="collapse" aria-expanded="false">-->
<!--                                            <span class="pull-right dropdown-toggle">-->
<!--                                                <i class="dropdown-caret"></i>-->
<!--                                            </span>-->
            <p class="mnp-name">
                <span sec:authentication="principal.username"></span>(<span sec:authentication="principal.userId" id="sec-user-name"></span>)
            </p>
            <span class="mnp-desc" sec:authentication="principal.email"></span>


<!--        </a>-->
    </div>
    <div id="profile-nav" class="collapse list-group bg-trans">
        <a href="#" class="list-group-item">
            <i class="demo-pli-male icon-lg icon-fw"></i> View Profile
        </a>
        <a href="#" class="list-group-item">
            <i class="demo-pli-gear icon-lg icon-fw"></i> Settings
        </a>
        <a href="#" class="list-group-item">
            <i class="demo-pli-information icon-lg icon-fw"></i> Help
        </a>
        <a href="#" class="list-group-item">
            <i class="demo-pli-unlock icon-lg icon-fw"></i> Logout
        </a>
    </div>
</div>

<script type="text/javascript">
    alert('text');
    /*[# sec:authorize="hasRole('ROLE_ADMIN')"]*/
    document.writeln("ADMIN !!!");
    /*[/]*/

</script>
</html>