<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">
</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->

        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">

            <!-- Basic Data Tables -->
            <!--===================================================-->
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <hr class="table-head">
                        <table class="table" cellspacing="0" width="100%">
                            <thead>
                            <tr style="background: #FAFAFA;">
                                <th class="text-center">No</th>
                                <th class="text-center col-md-1">교육유형</th>
                                <th class="text-center col-md-6">과정명</th>
                                <th class="text-center col-md-2">교육기간</th>
<!--                                <th class="text-center">상태</th>-->
                                <th class="text-center col-md-2">수료증발급</th>
                            </thead>
                            </tr>
                            <div th:switch="${borders}">
                                <h2 th:case="null">수료증 발급 과정이 존재하지 않습니다.</h2>
                                <div th:case="*">
                                    <tbody>
                                    <th:block th:each="courseAccount, index : ${borders}">
                                        <tr>
                                            <td class="text-center" th:text="${index.count}"}></td>
                                            <td class="text-left" th:text="${courseAccount.getCourse().getCourseMaster().getCourseName()}"></td>
                                            <td class="text-left" th:text="${courseAccount.getCourse().getTitle()}"}></td>
                                            <td class="text-center" th:text="${courseAccount.getFromDate() + ' ~ ' + courseAccount.getToDate()}"></td>
<!--                                            <td class="text-center" th:text="${courseAccount.getCourseStatus()}"></td>-->
                                            <td class="text-center">
                                                <th:block th:if="${courseAccount.getCertificateBindDate() == null}">
                                                    <a href="#" class="btn btn-info" id="popupBtn"
                                                       th:onclick="|javascript:popupPdfView('${courseAccount.getId()}', '1');return false;|" target="_blank"><i class="fa fa-print"></i> 발급</a>
                                                </th:block>
                                                <th:block th:unless="${courseAccount.getCertificateBindDate() == null}">
                                                    <a href="#" class="btn btn-mint" id="popupBtn2"
                                                       th:onclick="|javascript:popupPdfView('${courseAccount.getId()}', '2');return false;|" target="_blank"><i class="fa fa-print"></i> 보기</a>
                                                </th:block>
                                            </td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </div>
                            </div>
                        </table>
                        <nav style="text-align: center;">
                            <ul class="pagination"
                                th:with="start=${T(Math).floor(borders.number/10)*10 + 1}, last=(${start + 9 < borders.totalPages ? start + 9 : borders.totalPages})">
                                <li>
                                    <a th:href="@{/mypage/certificate/view(page=1)}" aria-label="First">
                                        <span aria-hidden="true">First</span>
                                    </a>
                                </li>

                                <li th:class="${borders.first} ? 'disabled'">
                                    <a th:href="${borders.first} ? '#' :@{/mypage/certificate/view(page=${borders.number})}" aria-label="Previous">
                                        <span aria-hidden="true">&lt;</span>
                                    </a>
                                </li>

                                <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == borders.number + 1} ? 'active'">
                                    <a th:text="${page}" th:href="@{/mypage/certificate/view(page=${page})}"></a>
                                </li>

                                <li th:class="${borders.last} ? 'disabled'">
                                    <a th:href="${borders.last} ? '#' : @{/mypage/certificate/view(page=${borders.number + 2})}" aria-label="Next">
                                        <span aria-hidden="true">&gt;</span>
                                    </a>
                                </li>

                                <li>
                                    <a th:href="@{/mypage/certificate/view(page=${borders.totalPages})}" aria-label="Last">
                                        <span aria-hidden="true">Last</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>


                </div><!--panel-body End -->
            </div><!-- panel End -->
        </div><!-- Page content End -->
    </div><!-- Content container End -->
</th:block>

<th:block layout:fragment="custom_js">


    <script>
        function showMessage() {
            alert('준비중입니다..');
        }

        function popupPdfView(id, flag) {
            var popupName;

            if(flag == 1) popupName = "/mypage/certificate/print/";
            else popupName = "/mypage/certificate/printView/";

            var width = 800;
            var height = 630;  //1.414;

            var title = "디티앤사노메딕스";
            var url = popupName + id;
            // 만들 팝업창 좌우 크기의 1/2 만큼 보정값으로 빼주었음
            var popupX = (window.screen.width / 2) - (width / 2);
            // 만들 팝업창 상하 크기의 1/2 만큼 보정값으로 빼주었음
            var popupY= (window.screen.height / 2) - (height / 2);

            var option = "width =" + width + ", height =" + height + ", menubar=no, directories=no, location = no, scrollbars=no, resizable=no";
            option += ", left=" + popupX + ", top=" + popupY;

            window.open(url, title, option);
        }


    </script>
</th:block>

</html>