<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">
    <!--Select2 [ OPTIONAL ]-->
    <link th:href="@{/default/plugins/select2/css/select2.min.css}" rel="stylesheet">

    <style>
        .table-head {
            background: #3A444E;
            margin: 0;
            padding: 0;
        }
    </style>
</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->

        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">
            <div class="tab-base">

                <!--Nav Tabs-->
                <ul class="nav nav-tabs">
                    <li th:classappend="${status.name() == 'REQUEST' ? 'active' : ''}">
                        <a href="/employees/review?status=REQUEST">요청</a>
                    </li>
                    <li th:classappend="${status.name() == 'REVIEWED' ? 'active' : ''}">
                        <a href="/employees/review?status=REVIEWED">완료</a>
                    </li>
                </ul>
                <div class="tab-content">
            <!-- Basic Data Tables -->
            <!--===================================================-->
                <div class="panel">
                    <div class="panel-body">
                        <div th:switch="${trainingRecord}">
                            <div th:case="null">No customer yet!</div>
                            <div th:case="*">
                                <hr class="table-head">
                                <div class="table-responsive">
                                    <table id="customer-list-page" class="table" cellspacing="0" width="100%">
                                        <thead>
                                        <tr style="background: #FAFAFA;">
                                            <th class="text-center">No.</th>
                                            <th class="text-center">Name</th>
                                            <th th:if="${status.name() == 'REQUEST'}" class="text-center">Date of Request</th>
                                            <th th:if="${status.name() == 'REVIEWED'}" class="text-center">Date of Review</th>
                                            <th class="text-center">Review Details</th>
                                            <th class="text-center">#Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:if="${trainingRecord.size() == 0}">
                                            <td class="text-center" colspan="6">검토 요청이 없습니다.</td>
                                        </tr>
                                        <tr th:each="tr, index : ${trainingRecord}">
                                            <td th:text="${index.count}" class="text-center"></td>
                                            <td th:text="${tr.account.engName}" class="text-center"></td>
                                            <td th:if="${status.name() == 'REQUEST'}" th:text="${#dates.format(tr.requestDate, 'dd-MMM-yyyy')}" class="text-center"></td>
                                            <td th:if="${status.name() == 'REVIEWED'}" th:text="${#dates.format(tr.dateOfReview, 'dd-MMM-yyyy')}" class="text-center"></td>
                                            <td class="text-center">
                                                <span th:if="${tr.curriculumVitae != null}"><i class="fa fa-check-square-o"></i> CV</span>
                                                <span th:if="${tr.trainingRecordReviewJdList != null && tr.trainingRecordReviewJdList.size() > 0}"><i class="fa fa-check-square-o"></i> JD</span>
                                                <span th:if="${tr.trainingRecord != null && tr.trainingRecord.sopFileName != null}"><i class="fa fa-check-square-o"></i> Training Lop(SOP)</span>
                                                <span th:if="${tr.trainingRecord != null && tr.trainingRecord.tmFileName != null}"><i class="fa fa-check-square-o"></i> Training Lop(TM)</span>
                                            </td>
                                            <td class="text-center">
                                                <a class="btn btn-sm btn-info" th:if="${tr.status.name() == 'REQUEST'}" th:href="@{/employees/review/{id}(id=${tr.id})}"><i class="fa fa-eye"></i> Review</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                        </div><!--switch End -->
                    </div><!--panel-body End -->
                </div><!-- panel End -->
                </div>
            </div>
        </div><!-- Page content End -->
    </div><!-- Content container End -->
</th:block>

<th:block layout:fragment="custom_js">
    <script>
        // $('#selectOption').chosen({width:'100%'});
    </script>
</th:block>

</html>


