<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">
    <!--Select2 [ OPTIONAL ]-->
    <link th:href="@{/default/plugins/select2/css/select2.min.css}" rel="stylesheet">

    <style>
        .table-head {
            background: #3A444E;
            margin: 0;
            padding: 0;
        }
    </style>
    <script>
        function loaded_frame(iframeId) {
            var the_height = document.getElementById(iframeId).contentWindow.document.body.scrollHeight;
            document.getElementById(iframeId).height= the_height + 'px';
            document.getElementById(iframeId).style.overflow = "hidden";
        }
    </script>
<!--    <script type="text/javascript">-->
<!--        function loadedFrame(id) {-->
<!--            alert('insof loaded111 : ' + $);-->
<!--            alert($ instanceof Object);-->
<!--            if($ instanceof Object) {-->
<!--                $("#" + id).css("height", $(this).contents().find("body").height() + "px");-->
<!--            }-->
<!--        }-->
<!--    </script>-->
</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->

        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">
            <div class="panel">
                <div class="panel-body">


            <!--===================================================-->
            <div class="panel" th:if="${trainingRecord.curriculumVitae != null}">
                <div class="panel-heading">
                    <h3 class="panel-title">Curriculum Vitae</h3>
                </div>
                <div class="panel-body">
                    <iframe frameborder="0" style="width:100%;" id="cvframe" onload="loaded_frame('cvframe');"></iframe>

                    <textarea style="display:none;" th:id="cvtext" th:text="${trainingRecord.curriculumVitae.htmlContent}"></textarea>
                    <script>
                        document.getElementById('cvframe').contentWindow.document.write(document.getElementById("cvtext").value);
                    </script>
                </div><!--panel-body End -->
            </div><!-- panel End -->
            <th:block th:if="${trainingRecord.trainingRecordReviewJdList != null && trainingRecord.trainingRecordReviewJdList.size() > 0}">
            <div class="panel" th:each="jd, stat : ${trainingRecord.trainingRecordReviewJdList}">
                <div class="panel-heading">
                    <h3 class="panel-title">Job Description(<span th:text="${jd.userJobDescription.jobDescriptionVersion.jobDescription.title}"></span>)</h3>
                </div>
                <div class="panel-body">
<!--                    <div th:utext="${jd.userJobDescription.htmlContent}"></div>-->
                    <iframe frameborder="0" style="width:100%;" id="jdframe" onload="loaded_frame('jdframe');"></iframe>

                    <textarea style="display:none;" th:id="jdtext" th:text="${jd.userJobDescription.htmlContent}"></textarea>
                    <script>
                        document.getElementById('jdframe').contentWindow.document.write(document.getElementById("jdtext").value);
                    </script>
                </div><!--panel-body End -->
            </div><!-- panel End -->
            </th:block>
                <th:block th:if="${trainingRecord.trainingRecord != null}">
                    <div class="panel" th:if="${trainingRecord.trainingRecord.sopHtmlContent != null}">
                        <div class="panel-heading">
                            <h3 class="panel-title">Training Log(SOP)</h3>
                        </div>
                        <div class="panel-body">
                            <div th:utext="${trainingRecord.trainingRecord.sopHtmlContent}"></div>
                        </div><!--panel-body End -->
                    </div><!-- panel End -->
                    <div class="panel" th:if="${trainingRecord.trainingRecord.tmHtmlContent != null}">
                        <div class="panel-heading">
                            <h3 class="panel-title">Training Log(TM)</h3>
                        </div>
                        <div class="panel-body">
                            <div th:utext="${trainingRecord.trainingRecord.tmHtmlContent}"></div>
                        </div><!--panel-body End -->
                    </div><!-- panel End -->
                    </th:block>
                </div>
                <div class="panel-footer">
                    <form name="f" id="reviewForm" method="post">
                        <input type="hidden" name="status" id="status"/>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="control-label">Reason</label>
                                    <input type="text" placeholder="반려 사유를 입력해 주세요." class="form-control" name="reason" id="reason"/>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-right">
                                <button type="button" id="rejectBtn" class="btn btn-danger"><i class="fa fa-rotate-left"></i> Reject </button>
                                <button type="button" id="completeBtn" class="btn btn-primary"><i class="fa fa-check"></i> Complete </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- Page content End -->
    </div><!-- Content container End -->
</th:block>

<th:block layout:fragment="custom_js">
    <script>
        $("#completeBtn").click(function(e) {
            // $("#reason").val("").hide();


           if(confirm('검토 완료 처리 하시겠습니까?')) {
               $("#status").val("REVIEWED");
               $("#reviewForm").submit();
           }
        });
        $("#rejectBtn").click(function(e) {
            // if(!$("#reason").is(":visible")) {
            //     $("#reason").val("").show();
            // }

            if(!$("#reason").val()) {
                alert('반려 사유를 입력해 주세요.');
                $("#reason").focus();
                // e.preventDefault();
                // return false;
            } else if(confirm('반려 처리 하시겠습니까?')) {
               $("#status").val("REJECTED");
               $("#reviewForm").submit();
           }


        });
        $(function() {
            loaded_frame('cvframe');
            loaded_frame('jdframe');
            setTimeout(function() {
                loaded_frame('cvframe');
                loaded_frame('jdframe');
            }, 500);
        });




        // $(function(){
        //     $("iframe").load(function(){ //iframe 컨텐츠가 로드 된 후에 호출됩니다.
        //         alert('loaded');
                // var frame = $(this);
                // var doc = (frame.contentDocument) ? frame.contentDocument : frame.contentWindow.document;
                // $(this).height(doc.body.scrollHeight);
                // $(this).width(doc.body.scrollWidth);
            // });
        // });
    </script>
</th:block>

</html>


