<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">
    <!--Dropzone [ OPTIONAL ]-->
    <link th:href="@{/default/plugins/dropzone/dropzone.min.css}" rel="stylesheet">

</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->
        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">

            <!-- Basic Data Tables -->
            <!--===================================================-->
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">공지사항 등록</h3>
                </div>
                <div class="panel-body">
                    <!--===================================================-->
                    <!--End Horizontal Form-->
                    <form class="form-horizontal" id="boardFrm" action="#" th:action="@{/documem/border/add-post}" th:object="${border}" method="post" enctype="multipart/form-data" >
                        <input type="hidden" th:field="*{id}" id="id" name="id">
                        <input type="hidden" th:field="*{borderMaster.id}" id="type-id" name="type-id">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="title">제목</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{title}" id="title" placeholder="제목" class="form-control col-sm-10" required="required">
                            </div>
                            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="checkbox">
                                &nbsp;&nbsp;<input id="isNotice" name="isNotice" class="magic-checkbox" type="checkbox" value="1">
                                <label for="isNotice">공지글</label>
                            </div>
                        </div>

                        <!-- 부서별 교육 신청시만 -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="mailList" th:text="#{label.course.account.add}">교육대상자</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="mailList" id="mailList" multiple="multiple">
                                    <option th:each="user : ${mailList}" th:value="${user.getUserId()}" th:text="${user.getName()}"></option>
                                </select>
                            </div>
                            <div class="col-sm-1 pull-right">
                                <a class="btn btn-primary" id="btnOrg" th:text="#{label.organization}">조직도</a>
                            </div>
                        </div>

                        <div id="editSection"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="editor">내용</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" th:field="*{content}" name="content" id="editor" style="width: 100%; height: 300px;" required></textarea>
                            </div>
                            <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="editor">첨부파일1</label>
                            <div class="col-sm-10">
                                <input type="file" name="files">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="editor">첨부파일2</label>
                            <div class="col-sm-10">
                                <input type="file" name="files">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="editor">첨부파일3</label>
                            <div class="col-sm-10">
                                <input type="file" name="files">
                            </div>
                        </div>

                        <div class="panel-footer text-right">
<!--                            <button id="dz-upload-btn" class="btn btn-primary">-->
<!--                                <i class="fa fa-upload-cloud"></i> 저장-->
<!--                            </button>-->

                            <button class="btn btn-primary" type="submit"><i class="fa fa-upload-cloud"></i> <span th:text="#{label.save}"></span></button>
                            <a th:href="@{/admin/border/list/{typeId}(typeId=${border.getBorderMaster().getId()})}" class="btn btn-success">
                                <i class="fa fa-upload-cloud"></i> 목록
                            </a>
                        </div>
                    </form>
                </div><!--panel-body End -->
            </div><!-- panel End -->
        </div><!-- Page content End -->
    </div><!-- Content container End -->

</th:block>

<th:block layout:fragment="custom_js">


    <script type="text/javascript" th:src="@{/editor/js/HuskyEZCreator.js}" charset="utf-8"></script>
<!--    <script type="text/javascript" th:src="@{/default/js/custom/border-editor.js}" charset="utf-8"></script>-->

    <script>

        $(function(){

            //전역변수
            var obj = [];
            //스마트에디터 프레임생성
            nhn.husky.EZCreator.createInIFrame({
                oAppRef: obj,
                elPlaceHolder: "editor",
                sSkinURI: "/editor/SmartEditor2Skin.html",
                htParams : {
                    // 툴바 사용 여부
                    bUseToolbar : true,
                    // 입력창 크기 조절바 사용 여부
                    bUseVerticalResizer : true,
                    // 모드 탭(Editor | HTML | TEXT) 사용 여부
                    bUseModeChanger : true,
                }
            });

            //전송버튼
            $("#boardFrm").submit(function(e){

                // var title = $("#title").val();
                //
                // if(!title) {
                //     alert('제목이 입력되지 않았습니다.');
                //     e.preventDefault();
                //     return false;
                // }

                //id가 smarteditor인 textarea에 에디터에서 대입
                obj.getById["editor"].exec("UPDATE_CONTENTS_FIELD", []);
            });
        });


        $('#mailList').chosen({width:'100%'});

        $("#btnOrg").on("click", function() {
            var url = "/admin/depart/treeView";
            // 만들 팝업창 좌우 크기의 1/2 만큼 보정값으로 빼주었음
            var popupX = (window.screen.width / 2) - (800 / 2);
            // 만들 팝업창 상하 크기의 1/2 만큼 보정값으로 빼주었음
            var popupY= (window.screen.height / 2) - (550 / 2);

            var name = "조직도";
            var option = "width = 800, height = 550, top = 100, left = 200, menubar=no,directories=no, location = no, scrollbars=no, resizable=no"
            option += ", left=" + popupX + ", top=" + popupY;
            window.open(url, name, option);
        });


        // 조직도에서 사용자 ID를 받아 온다(배열로 받아옴)
        function selectMailList(selectOptionArray) {

            // 싱글값 변경
            // $('#select-id').val("22").trigger('chosen:updated');
            // 여러값 변경시는 배열로 전달
            $('#mailList').val(selectOptionArray).trigger('chosen:updated');
        }

    </script>


</th:block>

</html>
