<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/sano_layout}">

<th:block layout:fragment="content_body">

    <div class="page-title-wrap">
        <h2 class="page-title">page-title</h2>
        <!-- page title 오른쪽 버튼 영역  시작-->
        <div class="right-area">
            <!-- page title 오른쪽 버튼 영역  시작-->
        </div>
        <!-- page title 오른쪽 버튼 영역  끝-->
        <div class="description">
            <p>
                Description :  Clinical data specification and coding for cross-analyses with omics data in autoimmune disease trials
            </p>
        </div>
    </div>


</th:block>

</html>