<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dt&amp;SanoMedics</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link th:href="@{/default/css/bootstrap.min.css}" rel="stylesheet">
    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link th:href="@{/default/css/nifty.css}" rel="stylesheet">
    <link th:href="@{/default/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet">

    <style>
        .login {padding-top:18vh; text-align: left;}
        .cls-content.login .cls-content-sm {width:440px !important;}
        .login .form-group .control-label{display: block; font-weight: 700; text-align: left}
        .login h1 {font-size: 16px; font-weight: 800;}
        .login-form {width:100%;  padding:20px; background: #fff; border-top:3px solid #2783d6;}
        .login-form .btn-login {margin-top: 15px; height:40px; width:100%; padding:0; font-size:16px; font-weight:700; line-height:40px; display: block; background: #18578f; color: #fff; }
        .welcome-box {margin-top: 20px;}
        .welcome-box .logo {width:33%; float: left; padding-right: 5px;}
        .welcome-box .logo img {width:100%; height: auto;}
        .welcome-box .text-box {width:64%; float: left; padding-left: 5px; border-left:1px solid #ddd}
        .welcome-box .text-box p {text-align: left; font-size: 11px;}
        .welcome-box .text-box p em {display:inline-block; padding-bottom:10px; font-size: 16px; font-weight: 800; color: #333; font-style: normal}

        .login-copyright {margin-top: 100px; text-align: center}

        h3{margin: 7px;}
    </style>
</head>

<body>

<div id="container" class="cls-container">

    <!-- BACKGROUND IMAGE -->
    <!--===================================================-->
    <div id="bg-overlay"></div>
    <!-- LOGIN FORM -->
    <!--===================================================-->
    <div class="cls-content login">
        <div class="cls-content-sm panel">
            <div class="panel-body">
                <div class="login-form">
                    <div class="mar-ver pad-btm">
                        <h3 class="text-center text-info">Dt&SanoMedics</h3>
                        <h3 class="text-center">Learning Management System</h3>
<!--                        <p class="text-center">Sign In to your account</p>-->
                    </div>

                    <form th:action="@{/login}" method="post" id="demo-bvd-notempty">
                        <div th:if="${param.error}">
                            <div class="alert alert-danger">Invalid username or
                                password.</div>
                        </div>
                        <div th:if="${param.logout}">
                            <div class="alert alert-info">You have been logged out.</div>
                        </div>
                        <div th:if="${param.invalid}">
                            <div class="alert alert-info">invalid session.</div>
                        </div>
                        <!-- js/demo/form-validation.js 에 작업되어 있음 -->
                        <div class="form-group">
                            <div class="form-group has-feedback">
                                <label class="control-label">User ID </label>
                                <input type="text" class="form-control"  name="username" placeholder="User ID" id="username">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Password </label>
                                <input type="password" class="form-control"  name="password" placeholder="Password">
                            </div>
                            <div class="checkbox pad-btm text-left">
                                <div class="col-md-6 pad-no">
                                    <input id="form-checkbox" class="magic-checkbox" type="checkbox">
                                    <label for="form-checkbox">Saved ID</label>
                                </div>

                                <div class="col-md-6 pad-no text-right">
<!--                                    <a href="/sano/#" class="btn-link mar-rgt">Forgot password ?</a>-->
                                </div>
                            </div>
                            <button class="btn btn-login" type="submit">
                                <i class="fa fa-sign-in"></i> Login
                            </button>
                        </div>
                    </form>
                    <br>

<!--                    <div class="welcome-box clearfix">-->
<!--                        <div class="logo">-->
<!--                            <img src="/default/img/new-images/logo03.png" alt="logo">-->
<!--                        </div>-->
<!--                        <div class="text-box">-->
<!--                            <p>-->
<!--                                <em>Welcome</em>-->
<!--                            </p>-->
<!--                            <p>-->
<!--                                “Sano” in Spanish means “healty” and “safe”.-->
<!--                            </p>-->
<!--                            <p>-->
<!--                                Wouldn’t Sano be the hope of all mankind, not just Dt&SanoMedics?-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
<!--        <div class="login-copyright">-->
<!--            Copyright © 2019 Dt&SanoMedics. All rights reserved.-->
<!--        </div>-->
    </div>
</div>
<!-- END OF CONTAINER -->

<!--JAVASCRIPT-->
<!--=================================================-->

<!--jQuery [ REQUIRED ]-->
<script src="/default/js/jquery.min.js"></script>

<!--BootstrapJS [ RECOMMENDED ]-->
<script src="/default/js/bootstrap.min.js"></script>

<!--NiftyJS [ RECOMMENDED ]-->
<script src="/default/js/nifty.min.js"></script>

<script>
    $(document).ready(function(){
        // 저장된 쿠키값을 가져와서 ID 칸에 넣어준다. 없으면 공백으로 들어감.
        var userInputId = getCookie("userInputId");
        $("input[name='username']").val(userInputId);

        if($("input[name='username']").val() != ""){ // 그 전에 ID를 저장해서 처음 페이지 로딩 시, 입력 칸에 저장된 ID가 표시된 상태라면,
            $("#form-checkbox").attr("checked", true); // ID 저장하기를 체크 상태로 두기.
        }

        $("#form-checkbox").change(function(){ // 체크박스에 변화가 있다면,

            if($("#form-checkbox").is(":checked")){ // ID 저장하기 체크했을 때,
                var userInputId = $("input[name='username']").val();
                setCookie("userInputId", userInputId, 7); // 7일 동안 쿠키 보관
            }else{ // ID 저장하기 체크 해제 시,
                deleteCookie("userInputId");
            }
        });

        // ID 저장하기를 체크한 상태에서 ID를 입력하는 경우, 이럴 때도 쿠키 저장.
        $("input[name='username']").keyup(function(){ // ID 입력 칸에 ID를 입력할 때,
            if($("#form-checkbox").is(":checked")){ // ID 저장하기를 체크한 상태라면,
                var userInputId = $("input[name='username']").val();
                setCookie("userInputId", userInputId, 7); // 7일 동안 쿠키 보관
            }
        });

        $('#username').focus();
    });

    function setCookie(cookieName, value, exdays){
        var exdate = new Date();
        exdate.setDate(exdate.getDate() + exdays);
        var cookieValue = escape(value) + ((exdays==null) ? "" : "; expires=" + exdate.toGMTString());
        document.cookie = cookieName + "=" + cookieValue;
    }

    function deleteCookie(cookieName){
        var expireDate = new Date();
        expireDate.setDate(expireDate.getDate() - 1);
        document.cookie = cookieName + "= " + "; expires=" + expireDate.toGMTString();
    }

    function getCookie(cookieName) {
        cookieName = cookieName + '=';
        var cookieData = document.cookie;
        var start = cookieData.indexOf(cookieName);
        var cookieValue = '';
        if(start != -1){
            start += cookieName.length;
            var end = cookieData.indexOf(';', start);
            if(end == -1)end = cookieData.length;
            cookieValue = cookieData.substring(start, end);
        }
        return unescape(cookieValue);
    }
</script>

<!--=================================================-->
</body>
</html>
