<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!-- FOOTER -->
<!--===================================================-->
<footer id="footer"  th:fragment="footer" style="padding-top:10px;padding-bottom:35px;">

    <!-- Visible when footer positions are fixed -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="show-fixed pad-rgt pull-right">
        You have <a href="#" class="text-main"><span class="badge badge-danger">3</span> pending action.</a>
    </div>



    <!-- Visible when footer positions are static -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="hide-fixed pull-right pad-rgt">
        <a href="http://dtnsm.com/" target="_blank"><img th:src="@{/default/img/logo.jpg}" alt="Dt&SanoMedics" class="brand-icon" style="margin-top:0px;padding-left:15px;padding-bottom:3px; width:150px;height:30px;"></a>
    </div>



    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- Remove the class "show-fixed" and "hide-fixed" to make the content always appears. -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

    <p class="pad-lft"><a href="http://dtnsm.com/" target="_blank">COPYRIGHT&#0169; Dt&amp;SanoMedics. CO. LTD.ALL RIGHT RESERVED.</a></p>


<!--    <div class="container">-->
<!--        <p>-->
<!--            &copy; Memorynotfound.com-->
<!--            <span sec:authorize="isAuthenticated()" style="display: inline-block;">-->
<!--                    | Logged user: <span sec:authentication="name"></span> |-->
<!--                    Roles: <span sec:authentication="principal.authorities"></span> |-->
<!--                    <a th:href="@{/logout}">Sign Out</a>-->
<!--                </span>-->
<!--        </p>-->
<!--    </div>-->


</footer>
<!--===================================================-->
<!-- END FOOTER -->

</html>