<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css"></th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->
        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">

            <!-- Basic Data Tables -->
            <!--===================================================-->
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">협약기관</h3>
                </div>
                <div class="panel-body">
                    <!--===================================================-->
                    <!--End Horizontal Form-->
                    <form class="form-horizontal" action="#" th:action="@{/admin/customer/add-post}" th:object="${customer}" method="post">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="name" th:text="#{label.customer.name}">협약기관명</label>
                            <div class="col-sm-9">
                                <input type="text" th:field="*{name}" id="name" placeholder="협약기관명" class="form-control" required>
                            </div>
                            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="condate" th:text="#{label.customer.date}">협약체결일</label>
                            <div class="col-sm-9">
                                <!--Bootstrap Datepicker : Text Input-->
                                <!--===================================================-->
                                <div id="demo-dp-txtinput">
                                    <input type="text" th:field="*{condate}" id="condate" placeholder="" class="form-control" required>
                                </div>
                                <!--===================================================-->
                            </div>
                            <span th:if="${#fields.hasErrors('condate')}" th:errors="*{condate}"></span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="condition" th:text="#{label.customer.condition}">협약 특혜</label>
                            <div class="col-sm-9">
                                <input type="text" th:field="*{condition}" id="condition" placeholder="" class="form-control" required>
                            </div>
                            <span th:if="${#fields.hasErrors('condition')}" th:errors="*{condition}"></span>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="homepage" th:text="#{label.homepage}">홈페이지</label>
                            <div class="col-sm-9">
                                <input type="text" th:field="*{homepage}" id="homepage" placeholder="" class="form-control" required>
                            </div>
                            <span th:if="${#fields.hasErrors('homepage')}" th:errors="*{homepage}"></span>
                        </div>
                        <div class="panel-footer text-right">
                            <button class="btn btn-success" type="submit">Submit</button>
                        </div>
                    </form>
                </div><!--panel-body End -->
            </div><!-- panel End -->
        </div><!-- Page content End -->
    </div><!-- Content container End -->
</th:block>

<th:block layout:fragment="custom_js">
    <script>
        $('#demo-dp-txtinput input').datepicker({
        format: "yyyy-mm-dd",
        todayBtn: "linked",
        autoclose: true,
        todayHighlight: true
        });
    </script>
</th:block>

</html>