<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>사용자 계정 등록</title>
</head>
<body>
    <h3>사용자 계정이 정상적으로 등록 되었습니다.</h3>
    <table width="100%" cellpadding="10" cellspacing="5" border="1" align="center" style="border-collapse:collapse; border:1px gray solid;">
        <tbody>
        <tr>
            <td style="padding: 5px; border:1px gray solid; text-align: center">
                <p th:utext="|${message}|"></p>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <div class="footer" style="text-align: center">
        <p>본 이메일의 발신자 주소는 발신전용으로 회신되지 않습니다.</p>
        <p>COPYRIGHT© Dt&SanoMedics. CO. LTD. ALL RIGHTS RESERVED.</p>
        <br>
    </div>
</body>
</html>