<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css"></th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->
        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">

            <!-- Basic Data Tables -->
            <!--===================================================-->
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title"></h3>
                </div>
                <div class="panel-body">
                    <!--===================================================-->
                    <!--End Horizontal Form-->
                    <form class="form-horizontal" action="#" th:action="@{/admin/code/minor/update-post/{id}(id=${elMinor.getMinorCd()})}" th:object="${elMinor}" method="post">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Major Code</label>
                            <div class="col-sm-9">
                                <select th:field="*{elMajor.majorCd}" class="form-control" readonly>
                                    <option th:each="elMajor : ${majorList}" th:value="${elMajor.getMajorCd()}" th:text="${elMajor.getMajorNm()}"></option>
                                </select>
                            </div>
                            <span th:if="${#fields.hasErrors('elMajor.majorCd')}" th:errors="*{elMajor.majorCd}"></span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="minorCd">Minor Code</label>
                            <div class="col-sm-9">
                                <input type="text" th:field="*{minorCd}" id="minorCd" placeholder="Minor Code" class="form-control" required>
                            </div>
                            <span th:if="${#fields.hasErrors('minorCd')}" th:errors="*{minorCd}"></span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="minorNm">Minor 명</label>
                            <div class="col-sm-9">
                                <input type="text" th:field="*{minorNm}" id="minorNm" placeholder="Minor Code 명" class="form-control" required>
                            </div>
                            <span th:if="${#fields.hasErrors('minorNm')}" th:errors="*{minorNm}"></span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="seq">Sequence</label>
                            <div class="col-sm-9">
                                <input type="number" th:field="*{seq}" id="seq" placeholder="Sequence" class="form-control" required>
                            </div>
                            <span th:if="${#fields.hasErrors('seq')}" th:errors="*{seq}"></span>
                        </div>
                        <div class="input-group pull-right">
                            <button class="btn btn-primary" type="submit" th:text="#{label.save}">저장</button>
                            <a th:href="@{/admin/code/minor}" class="btn btn-success" th:text="#{label.list}">목록</a>
                        </div>
                    </form>
                </div><!--panel-body End -->
            </div><!-- panel End -->
        </div><!-- Page content End -->
    </div><!-- Content container End -->
</th:block>

<th:block layout:fragment="custom_js"></th:block>

</html>