<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<div th:styleappend="${cv.pos == 1 ? '' : 'display:none'}">
<div th:each="edu, stat : *{careerHistories}">
    <h5><a name="careerHistory"></a>
        <span th:text="|No. ${stat.index + 1}|"></span>
        <div class="pull-right" th:if="${stat.index gt 0 and edu.readOnly eq false}">
            <button class="btn btn-xs btn-danger" type="submit" name="remove" th:value="|careerHistory:${stat.index}|"><i class="fa fa-trash-o"></i></button>
        </div>
    </h5>

    <table class="table table-bordered">
        <tbody>
        <tr>
            <td class="col-xs-2 text-bold bg-gray-light">Company Name</td>
            <td class="col-xs-4 form-group" th:classappend="${#fields.hasErrors('careerHistories[__${stat.index}__].companyName')} ? 'has-error' : ''">
                <input type="text" placeholder="Company Name" th:attr="readonly=${stat.index == 0}" class="form-control col-sm-10" th:field="*{careerHistories[__${stat.index}__].companyName}"></td>
            <td class="col-xs-5" th:classappend="${#fields.hasErrors('careerHistories[__${stat.index}__].cityCountry')} ? 'has-error' : ''">
<!--                <input type="text" placeholder="City, Country" class="form-control col-sm-10" th:field="*{careerHistories[__${stat.index}__].cityCountry}">-->
                <div class="row">
                    <div class="col-xs-6">
                        <select class="form-control ch-city-country" th:field="*{careerHistories[__${stat.index}__].cityCountry}" th:attr="data-index=${stat.index},disabled=${stat.index == 0}">
                            <option th:each="u : ${cityCountryList}" th:value="${u}" th:text="${u}"></option>
                        </select>
                    </div>
                    <div class="col-xs-6 form-group" th:classappend="${#fields.hasErrors('careerHistories[__${stat.index}__].cityCountryOther')} ? 'has-error' : ''">
                        <input type="text" placeholder="City, Country(Other)" class="form-control col-sm-10" th:field="*{careerHistories[__${stat.index}__].cityCountryOther}">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="col-xs-2 text-bold bg-gray-light">Period</td>
            <td class="col-xs-10" colspan="2">

                <div class="row">
                    <div class="col-xs-8">

                        <div class="input-daterange input-group" th:classappend="${#fields.hasErrors('careerHistories[__${stat.index}__].startDate') or #fields.hasErrors('careerHistories[__${stat.index}__].endDate')} ? 'has-error' : ''">
                            <input class="form-control" th:attr="disabled=${stat.index == 0}" type="text" th:field="*{careerHistories[__${stat.index}__].startDate}"/>
                            <span class="input-group-addon">~</span>
                            <input type="text" class="form-control" th:field="*{careerHistories[__${stat.index}__].endDate}" th:attr="disabled=${stat.index == 0}" th:placeholder="${stat.index == 0 ? 'Present' : ''}" />
                        </div>
                    </div>
                    <div class="col-xs-4" style="display: none">
                        <div class="checkbox" th:if="${stat.first}">
                            <label><input type="checkbox" class="career-present" th:attr="data-index=${stat.index}" th:field="*{careerHistories[__${stat.index}__].present}"> Present</label>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
        <tr th:styleappend="${stat.index == 0 ? 'display:none' : ''}">
            <td class="text-bold bg-gray-light">Clinical Trial Experience</td>
            <td colspan="2">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" th:field="*{careerHistories[__${stat.index}__].clinicalTrialExperience}">
                        Clinical Trial Experience
                    </label>
                </div>
                <small class="text-info"><i class="fa fa-exclamation-circle"></i> 임상시험/의료 관련 회사일 경우 체크해 주세요.</small>
            </td>
        </tr>
        <th:block th:each="teamDept, t : *{careerHistories[__${stat.index}__].cvTeamDepts}">
        <tr>
            <td class="text-bold bg-gray-light">Position
                <div class="pull-right" th:if="${t.index > 0}">
                    <button class="btn btn-danger btn-xs" name="remove" th:value="|teamDept:${stat.index}.${t.index}|"><i class="fa fa-trash-o"></i></button>
                </div>
            </td>
            <td colspan="2" class="form-group" th:classappend="${#fields.hasErrors('careerHistories[__${stat.index}__].cvTeamDepts[__${t.index}__].position')} ? 'has-error' : ''">
                <input type="text" placeholder="Position" class="form-control col-sm-10" th:field="*{careerHistories[__${stat.index}__].cvTeamDepts[__${t.index}__].position}">
            </td>
        </tr>
        <tr>
            <td class="text-bold bg-gray-light">Team</td>
            <td colspan="2" class="from-group" th:classappend="${#fields.hasErrors('careerHistories[__${stat.index}__].cvTeamDepts[__${t.index}__].team')} ? 'has-error' : ''">
                <input type="text" placeholder="Team" class="form-control col-sm-10" th:field="*{careerHistories[__${stat.index}__].cvTeamDepts[__${t.index}__].team}">
                <small class="text-info"><i class="fa fa-exclamation-circle"></i> 팀명은 약칭이 아닌 정식 명칭으로 입력해 주세요.(BD <i class="fa fa-long-arrow-right"></i> Business Development)</small>
            </td>
        </tr>
        <tr>
            <td class="text-bold bg-gray-light">Department</td>
            <td colspan="2" class="from-group" th:classappend="${#fields.hasErrors('careerHistories[__${stat.index}__].cvTeamDepts[__${t.index}__].department')} ? 'has-error' : ''">
                <input type="text" placeholder="Department" class="form-control col-sm-10" th:field="*{careerHistories[__${stat.index}__].cvTeamDepts[__${t.index}__].department}">
                <small class="text-info"><i class="fa fa-exclamation-circle"></i> 부서명은 약칭이 아닌 정식 명칭으로 입력해 주세요.(BDA <i class="fa fa-long-arrow-right"></i> Business Development Affairs)</small>
            </td>
        </tr>
        </th:block>
        <tr>
            <td colspan="3">
                <button class="btn btn-xs btn-info" name="add" th:value="|teamDept:${stat.index}|"><i class="fa fa-plus"></i> Position/Team/Department</button>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<div class="row">
    <div class="col-xs-12 text-right">
        <button class="btn btn-info" name="add" value="careerHistory">
            <i class="fa fa-plus"></i> Career History
        </button>
    </div>
</div>
</div>
</html>