<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<div th:styleappend="${cv.pos == 5 ? '' : 'display:none'}">
<table class="table">
    <thead>
    <tr>
        <th>CLINICAL TRIAL EXPERIENCE</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <table class="table table-bordered">
                <thead>
                <tr class="bg-gray-light">
                    <th>No.</th>
                    <th>Therapheutic Area</th>
                    <th>Agent for Indication</th>
                    <th>Phase</th>
                    <th>Study</th>
                    <th>Role</th>
                    <th>Working Details(Responsibilities)</th>
                    <th>#</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="experience, stat : *{experiences}">
                    <td th:text="${stat.index + 1}"></td>
                    <td class="form-group" th:classappend="${#fields.hasErrors('experiences[__${stat.index}__].taOther')} ? 'has-error' : ''">
                        <select class="form-control ta-list" th:field="*{experiences[__${stat.index}__].ta}" th:attr="data-index=${stat.index}">
                            <option th:each="ta : ${taList}" th:value="${ta}" th:text="${ta}"></option>
                        </select>
                        <input type="text" class="form-control" placeholder="Therapheutic Area(Other)" th:field="*{experiences[__${stat.index}__].taOther}">
                    </td>
                    <td class="form-group" th:classappend="${#fields.hasErrors('experiences[__${stat.index}__].indicationOther')} ? 'has-error' : ''">
                        <select class="form-control indication-list" th:field="*{experiences[__${stat.index}__].indication}" th:attr="data-index=${stat.index}">
                            <optgroup th:each="ta : ${taList}" th:label="${ta}">
                                <option th:each="indication : ${indicationMap.get(ta)}" th:value="${indication}" th:text="${indication}"></option>
                            </optgroup>
                        </select>
                        <input type="text" class="form-control" placeholder="Indication(Other)" th:field="*{experiences[__${stat.index}__].indicationOther}">
                    </td>
                    <td>
                        <select class="form-control phase-list" th:field="*{experiences[__${stat.index}__].phase}" th:attr="data-index=${stat.index}">
                            <option th:each="phase : ${phaseList}" th:value="${phase}" th:text="${phase}"></option>
                        </select>
                        <input type="text" class="form-control" placeholder="Phase(Other)" th:field="*{experiences[__${stat.index}__].phaseOther}">
                    </td>
                    <td>
                        <select class="form-control" th:field="*{experiences[__${stat.index}__].globalOrLocal}">
                            <option value="GLOBAL">Global Study</option>
                            <option value="LOCAL">Local Study</option>
                        </select>
                    </td>
                    <td class="form-group" th:classappend="${#fields.hasErrors('experiences[__${stat.index}__].role') or #fields.hasErrors('experiences[__${stat.index}__].roleOther')} ? 'has-error' : ''">
                        <select class="form-control role-list" th:field="*{experiences[__${stat.index}__].role}" multiple="multiple" th:attr="data-index=${stat.index}">
                            <option th:each="role : ${roleList}" th:value="${role}" th:text="${role}"></option>
                        </select>
                        <input type="text" class="form-control" placeholder="Role(Other)" th:field="*{experiences[__${stat.index}__].roleOther}">
                    </td>
                    <td class="form-group" th:classappend="${#fields.hasErrors('experiences[__${stat.index}__].workingDetails')} ? 'has-error' : ''">
                        <textarea rows="3" class="form-control" placeholder="Working Details(Responsibilities)" th:field="*{experiences[__${stat.index}__].workingDetails}"></textarea>
                    </td>
                    <td>
                        <button th:if="${experience.readOnly eq false}" class="btn btn-xs btn-danger" type="submit" name="remove" th:value="|experience:${stat.index}|"><i class="fa fa-trash-o"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td colspan="8">
                        <a name="experience"></a>
                        <button class="btn btn-info pull-right" name="add" value="experience"><i class="fa fa-plus"></i> Experience</button>
                        <small class="text-info"><i class="fa fa-exclamation-circle"></i> 등록 할 정보가 있는 경우 추가해 주세요.</small>
                    </td>

                </tr>
                </tbody>
            </table>
                        <!--            <table class="table table-bordered" >-->
<!--                <tbody>-->
<!--                <tr>-->
<!--                    <td class="col-xs-2 bg-gray-light" rowspan="3"  th:classappend="${#fields.hasErrors('experiences[__${stat.index}__].indication')} ? 'has-error' : ''">-->
<!--                        <select class="form-control" th:field="*{experiences[__${stat.index}__].indication}">-->
<!--                            <option th:each="indication : ${indicationList}" th:value="${indication.id}" th:text="${indication.indication}"></option>-->
<!--                        </select>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        <div class="row">-->
<!--                            <div class="col-xs-2">-->

<!--                            </div>-->
<!--                            <div class="col-xs-2">-->

<!--                            </div>-->
<!--                            <div class="col-xs-8 text-right">-->
<!--                                <button th:if="${experience.readOnly eq false}" class="btn btn-xs btn-danger" type="submit" name="remove" th:value="|experience:${stat.index}|"><i class="fa fa-trash-o"></i>-->
<!--                                </button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->

<!--                </tr>-->
<!--                <tr>-->

<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->
<!--            <div class="row">-->
<!--                <div class="col-xs-12">-->
<!--                    <div class="text-right">-->
<!--                        <a name="experience"></a>-->
<!--                        <button class="btn btn-info" name="add" value="experience"><i class="fa fa-plus"></i> Experience</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </td>
    </tr>
    </tbody>
</table>
</div>
</html>