<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<div th:styleappend="${cv.pos == 2 ? '' : 'display:none'}">
<table class="table table-bordered" >
    <tbody>
    <tr>
        <th class="col-xs-2 bg-gray-light">Licenses</th>
        <td>
            <div class="row">
                <div class="col-xs-12">
                    <a name="license"></a>
                    <table class="table table-bordered">
                        <thead>
                        <tr class="bg-gray-light">
                            <th>No.</th>
                            <th>Name of License</th>
                            <th>License No</th>
                            <th>License in Country</th>
                            <th>#</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="license, stat : *{licenses}">
                            <td th:text="${stat.index + 1}"></td>
                            <td class="form-group" th:classappend="${#fields.hasErrors('licenses[__${stat.index}__].nameOfLicense')} ? 'has-error' : ''">
                                <input type="text" class="form-control" placeholder="Name of License" th:field="*{licenses[__${stat.index}__].nameOfLicense}">
                            </td>
                            <td class="form-group" th:classappend="${#fields.hasErrors('licenses[__${stat.index}__].licenseNo')} ? 'has-error' : ''">
                                <input type="text" placeholder="License No" class="form-control" th:field="*{licenses[__${stat.index}__].licenseNo}">
                            </td>
                            <td class="form-group" th:classappend="${#fields.hasErrors('licenses[__${stat.index}__].licenseInCountry')} ? 'has-error' : ''">
                                <input type="text" class="form-control" placeholder="License in Country" th:field="*{licenses[__${stat.index}__].licenseInCountry}">
                            </td>
                            <td>
                                <button th:if="${license.readOnly eq false}" class="btn btn-xs btn-danger" type="submit" name="remove" th:value="|license:${stat.index}|"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5"><button class="btn btn-info pull-right" name="add" value="license"><i class="fa fa-plus"></i> License</button>
                            <small class="text-info"><i class="fa fa-exclamation-circle"></i> License가 있는 경우 추가해 주세요.</small>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <th class="bg-gray-light">Certifications</th>
        <td>
            <div class="row">
                <div class="col-xs-12">
                    <a name="certification"></a>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>Name of Certification</th>
                            <th>Name of Insititution/Organization</th>
                            <th>Issue Date(MMM YYYY)</th>
                            <th>#</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="certification, stat : *{certifications}">
                            <td th:text="${stat.index + 1}"></td>
                            <td class="form-group" th:classappend="${#fields.hasErrors('certifications[__${stat.index}__].nameOfCertification')} ? 'has-error' : ''">
                                <input type="text" class="form-control" placeholder="Name of Certification" th:field="*{certifications[__${stat.index}__].nameOfCertification}">
                            </td>
                            <td class="form-group" th:classappend="${#fields.hasErrors('certifications[__${stat.index}__].organizers')} ? 'has-error' : ''">
                                <input type="text" class="form-control" placeholder="Name of Institution/Organization" th:field="*{certifications[__${stat.index}__].organizers}">
                            </td>
                            <td class="form-group" th:classappend="${#fields.hasErrors('certifications[__${stat.index}__].issueDate')} ? 'has-error' : ''">
                                <input type="text" class="form-control issueDate" placeholder="Issue Date(MMM YYYY)" th:field="*{certifications[__${stat.index}__].issueDate}">
                            </td>
                            <td>
                                <button th:if="${certification.readOnly eq false}" class="btn btn-xs btn-danger" type="submit" name="remove" th:value="|certification:${stat.index}|"><i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <button class="btn btn-info pull-right" name="add" value="certification"><i class="fa fa-plus"></i> Certification</button>
                                <small class="text-info"><i class="fa fa-exclamation-circle"></i> Certification이 있는 경우 추가해 주세요.</small>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-right">


                    </div>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</div>
</html>