<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">
    <!--Select2 [ OPTIONAL ]-->
    <link th:href="@{/default/plugins/select2/css/select2.min.css}" rel="stylesheet">

    <style>
        .table-head {
            background: #3A444E;
            margin: 0;
            padding: 0;
        }
        /*.pdf_content {*/
        /*    padding:20px 0 20px 0;*/
        /*    background-color:#fafafa;*/
        /*}*/

        /*.pdf_content svg {*/
        /*    background-color:#fff;*/
        /*    border:1px solid #333;*/
        /*    box-shadow: 5px 5px 5px;*/
        /*}*/
    </style>
</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->

        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">
            <div class="tab-base">
                <ul class="nav nav-tabs">
                    <li id="current">
                        <a href="/employees/jd/approved">Current</a>
                    </li>
                    <li id="superseded">
                        <a href="/employees/jd/superseded">Old Versions</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <!-- Basic Data Tables -->
                    <!--===================================================-->
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                            <div class="col-sm-12 table-toolbar-right">
                                <button class="btn btn-primary btn-sm" data-target="#assign-modal" data-toggle="modal">Assign</button>
                            </div>
                            </div>
                            <div th:switch="${userJobDescriptions}">
                                <div th:case="null">No customer yet!</div>
                                <div th:case="*">
                                    <hr class="table-head">
                                    <div class="table-responsive">
                                        <table id="customer-list-page" class="table" cellspacing="0" width="100%">
                                            <thead>
                                            <tr style="background: #FAFAFA;">
                                                <th class="text-center">번호</th>
                                                <th class="text-center">아이디</th>
                                                <th class="text-center">이름</th>
                                                <th class="text-center">Job Title</th>
                                                <th class="text-center">배정일</th>
                                                <th class="text-center">동의일</th>
                                                <th class="text-center">승인일</th>
                                                <th class="text-center">상태</th>
                                                <th class="text-center">Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:if="${userJobDescriptions == null || userJobDescriptions.size() == 0}">
                                                <td colspan="9" class="text-center text-info text-bold"><i class="fa fa-exclamation-circle"></i> 직무 배정을 진행해 주세요!</td>
                                            </tr>
                                            <tr th:each="user, index : ${userJobDescriptions}">
                                                <td th:text="${index.count}" class="text-center"></td>
                                                <td th:text="${user.account.userId}" class="text-center"></td>
                                                <td th:text="${user.account.engName}" class="text-center"></td>
                                                <td>
                                                    <span th:if="${user.userJobDescription != null}" th:text="|${user.userJobDescription.jobDescriptionVersion.jobDescription.title} v${user.userJobDescription.jobDescriptionVersion.version_no}|">-</span>
                                                    <th:block th:if="${user.userJobDescription != null && (user.userJobDescription.status.name() eq 'APPROVED' or user.userJobDescription.status.name() eq 'REVOKED' or user.userJobDescription.status.name() eq 'SUPERSEDED')}">
                                                        <input th:value="${user.userJobDescription.htmlContent}" th:id="|user_jd_cont_${user.userJobDescription.id}|" th:type="hidden">
<!--                                                        <a class="btn btn-purple btn-xs" th:href="@{/employees/jd/{id}/print(id=${user.userJobDescription.id})}"><i class="fa fa-file-pdf-o"></i> Job Description</a>-->
                                                        <button class="btn btn-info btn-xs" data-target="#jd-modal" th:attr="data-id=${user.userJobDescription.id}" data-toggle="modal"><i class="fa fa-file-pdf-o"></i> Job Description</button>
                                                    </th:block>
                                                </td>
                                                <td class="text-center">
                                                    <span th:if="${user.userJobDescription != null &&  user.userJobDescription.assignDate != null}" th:text="${#dates.format(user.userJobDescription.assignDate, 'yyyy-MM-dd')}">-</span>
                                                </td>
                                                <td class="text-center">
                                                    <span th:if="${user.userJobDescription != null && user.userJobDescription.agreeDate != null}" th:text="${#dates.format(user.userJobDescription.agreeDate, 'yyyy-MM-dd')}">-</span>
                                                </td>
                                                <td class="text-center">
                                                    <span th:if="${user.userJobDescription != null && user.userJobDescription.approvedDate != null}" th:text="${#dates.format(user.userJobDescription.approvedDate, 'yyyy-MM-dd')}">-</span>
                                                </td>
                                                <td class="text-center">
                                                    <span class="label label-info" th:text="(${user.userJobDescription != null} ? ${user.userJobDescription.status.label} : '-')"></span>
                                                </td>
                                                <td class="text-center">

                                                    <th:block th:if="${user.userJobDescription != null && user.userJobDescription.status.name() eq 'AGREE'}">
                                                        <input th:value="${user.userJobDescription.jobDescriptionVersion.jobDescriptionVersionFile.htmlContent}" th:id="|jd_cont_${user.userJobDescription.id}|" th:type="hidden">
                                                        <button class="btn btn-info btn-xs" data-target="#approval-modal" th:attr="data-id=${user.userJobDescription.id}, data-assign-date=${#dates.format(user.userJobDescription.assignDate, 'dd-MMM-yyyy')}" data-toggle="modal">Approval</button>
                                                    </th:block>

                                                    <th:block th:if="${user.userJobDescription != null && user.userJobDescription.status.name() eq 'APPROVED'}">
                                                        <button class="btn btn-warning btn-xs"  th:attr="data-id=${user.userJobDescription.id}" id="revokeBtn" data-toggle="modal">Revoke</button>
                                                    </th:block>
                                                    <th:block th:if="${user.userJobDescription != null && (user.userJobDescription.status.name() eq 'ASSIGNED' or user.userJobDescription.status.name() eq 'AGREE')}">
                                                        <button class="btn btn-warning btn-xs"  th:attr="data-id=${user.userJobDescription.id}" id="cancelBtn" data-toggle="modal">Cancel</button>
                                                    </th:block>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                            </div><!--switch End -->
                        </div><!--panel-body End -->
                    </div><!-- panel End -->
                </div>
            </div>
        </div><!-- Page content End -->
    </div><!-- Content container End -->

    <!--Default Bootstrap Modal-->
    <!--===================================================-->
    <div class="modal fade" id="assign-modal" role="dialog" tabindex="-1" aria-labelledby="assign-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="f" id="assignForm" method="post" th:action="@{/employees/jd}">
                <!--Modal header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                    <h4 class="modal-title">Job Description</h4>
                </div>

                <!--Modal body-->
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4">
                                Employee Name
                            </div>
                            <div class="col-xs-8">
                                <select id="username" name="username" class="form-control">
                                    <option th:each="user : ${users}" th:value="${user.userId}" th:text="|${user.engName}(${user.userId})|"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4">
                                Assign Date
                            </div>
                            <div class="col-xs-8">

                                <input type="text" id="assignDate" name="assignDate" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4">
                                Job Title
                            </div>
                            <div class="col-xs-8">
                                <select id="jdVerId" name="jobDescriptionVersion.id" class="form-control">
                                    <option th:each="jd : ${jdVersions}" th:value="${jd.id}" th:text="|${jd.jobDescription.title}(${jd.jobDescription.shortName}) v${jd.version_no}|"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Modal footer-->
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                    <button class="btn btn-primary">Save changes</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <!--===================================================-->
    <!--End Default Bootstrap Modal-->

    <!--Default Bootstrap Modal-->
    <!--===================================================-->
    <div class="modal fade" id="approval-modal" role="dialog" tabindex="-1" aria-labelledby="assign-modal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form name="f" id="approvalForm" method="post" th:action="@{/employees/jd/approval}">
                    <input type="hidden" id="id" name="id"/>
                    <!--Modal header-->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                        <h4 class="modal-title">Job Description</h4>
                    </div>

                    <!--Modal body-->
                    <div class="modal-body">
                        <div id="preview_cont" class="text-center pdf_content"></div>
                    </div>

                    <!--Modal footer-->
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                        <button class="btn btn-primary">Approval</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--===================================================-->
    <!--End Default Bootstrap Modal-->
    <!--Default Bootstrap Modal-->
    <!--===================================================-->
    <div class="modal fade" id="jd-modal" role="dialog" tabindex="-1" aria-labelledby="jd-modal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!--Modal header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                    <h4 class="modal-title">Job Description</h4>
                </div>

                <!--Modal body-->
                <div class="modal-body">
                    <div id="preview_jd_cont" class="text-center pdf_content"></div>
                </div>

                <!--Modal footer-->
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
<!--                    <button class="btn btn-primary">Close</button>-->
                </div>
            </div>
        </div>
    </div>
    <!--===================================================-->
    <!--End Default Bootstrap Modal-->

    <form name="f" id="revokeForm" method="post" th:action="@{/employees/jd/revoke}">
        <input type="hidden" id="revokeId" name="id"/>
    </form>
    <form name="f" id="deleteForm" method="post" th:action="@{/employees/jd/remove}">
        <input type="hidden" id="deleteId" name="id"/>
    </form>
</th:block>

<th:block layout:fragment="custom_js">
    <script>
        // $('#selectOption').chosen({width:'100%'});
        $(document).ready(function() {

            $("#assign-modal").on('show.bs.modal', function(e) {
                var userId = $(e.relatedTarget).data('id');
                if(userId) {
                    $("#username").val(userId);
                }
            });

            $('#assignDate').datepicker({
                // format: "MM dd, yyyy",
                format: "yyyy-mm-dd",
                todayBtn: "linked",
                autoclose: true,
                todayHighlight: true
            });

            $("#assignForm").submit(function(e) {
               if(!$("#assignDate").val()) {
                   e.preventDefault();
                   alert('배정일을 입력해 주세요.');
                   return false;
               }

               if(!confirm('선택하신 직무를 배정 하시겠습니까?')) {
                   e.preventDefault();
                   return false;
               }
            });

            $("#approval-modal").on('show.bs.modal', function(e) {
                var id = $(e.relatedTarget).data('id');
                var assignDate = $(e.relatedTarget).data('assign-date');
                $("#id").val(id);
                $("#preview_cont").html($("#jd_cont_"+id).val());
                $("#assignDateTxt").text(assignDate);
            });

            $("#jd-modal").on('show.bs.modal', function(e) {
                var id = $(e.relatedTarget).data('id');
                $("#preview_jd_cont").html($("#user_jd_cont_"+id).val());
            });

            $("#revokeBtn").click(function() {
               if(confirm('배정 해제 처리 하시겠습니까?')) {
                    $("#revokeId").val($(this).data("id"));
                    $("#revokeForm").submit();
               }
            });

            $("#cancelBtn").click(function() {
                if(confirm('직무 배정을 취소 하시겠습니까?\n해당 정보는 삭제 됩니다.')) {
                    $("#deleteId").val($(this).data("id"));
                    $("#deleteForm").submit();
                }
            });
        });

        var pathname = location.pathname;
        var isSuperseded = pathname.indexOf("superseded") != -1;
        if(isSuperseded) {
            $("#superseded").addClass("active");
        } else {
            $("#current").addClass("active");
        }
    </script>
</th:block>

</html>


