<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">

    <style>
        .body-wrap {background-color: #ecf0f5;width: 100%;}
        .container { display: block !important; max-width: 600px !important; margin: 0 auto !important; clear: both !important;}
        .content {max-width: 600px; margin: 0 auto; display: block; padding: 20px; }
        th{color: white;}
        th, td {text-align: center;}
    </style>

</th:block>

<th:block layout:fragment="content_body">

    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->
        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">

            <!-- Basic Data Tables -->
            <!--===================================================-->
            <div class="panel">
                <div class="panel-body">
                    <div class="row" style="margin-bottom: 0px;" >
                        <div class="col-sm-12 text-right">
                            <button class="btn btn-info" id="publishBtn" type="button" data-loading-text="배포중.."><i class="fa fa-download"></i> 배포</button>
                        </div>
                    </div>
                    <div th:switch="${borders}">
                        <div class="table-responsive">
                            `<table id="customer-list-page" class="table table-bordered" cellspacing="0" width="100%">
                                <thead>
                                <tr class="bg-gray-light">
<!--                                    <th class="col-sm-1" style="vertical-align: middle">#</th>-->
                                    <th class="col-sm-2" style="vertical-align: middle">Completion Date<br>(DD-MMM-YYYY)</th>
                                    <th class="col-sm-6" style="vertical-align: middle">Description of Training Course</th>
                                    <th class="col-sm-1" style="vertical-align: middle">Training<br>Hr.</th>
                                    <th class="col-sm-2" style="vertical-align: middle">Organization</th>
                                </tr>
                                </thead>
                                    <h2 th:case="0">
                                        <tr>
                                            <td class="text-center" colspan="5">
                                                <h4 class="text-warning">Training Log 가 존재하지 않습니다.</h4>
                                            </td>
                                        </tr>
                                    </h2>
                                    <div th:case="*">
                                        <tbody>
                                        <tr th:each="border, index : ${borders}">
<!--                                            <td th:text="${index.count}" class="text-center"></td>-->
                                            <td  class="text-center">
                                                <span th:if="${border.getCompleteDate()} != null" th:text="${T(com.dtnsm.lms.util.DateUtil).getDateToString(border.getCompleteDate(), 'dd-MMM-yyyy')}"></span>
                                            </td>
                                            <td  class="text-left">
                                                <span th:utext="${border.getTrainingCourse().replaceAll('\r\n', '<br>')}"></span>
                                            </td>
                                            <td  class="text-center">
                                                <span th:text="${#numbers.formatDecimal(border.getTrainingTime()*1.0/3600,1,2)}"></span>
                                            </td>
                                            <td  class="text-left">
                                                <span th:text="${border.getOrganization()}"></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </div>
                            </table>`
                            <nav style="text-align: center;" th:fragment="pagenation">
                                <ul class="pagination"
                                    th:with="start=${T(Math).floor(borders.number/10)*10 + 1},
                last=(${start + 9 < borders.totalPages ? start + 9 : borders.totalPages})">
                                    <li>
                                        <a th:href="@{/mypage/courseTraingLog(page=1)}" aria-label="First">
                                            <span aria-hidden="true">First</span>
                                        </a>
                                    </li>

                                    <li th:class="${borders.first} ? 'disabled'">
                                        <a th:href="${borders.first} ? '#' :@{/mypage/courseTraingLog(page=${borders.number})}" aria-label="Previous">
                                            <span aria-hidden="true">&lt;</span>
                                        </a>
                                    </li>

                                    <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == borders.number + 1} ? 'active'">
                                        <a th:text="${page}" th:href="@{/mypage/courseTraingLog(page=${page})}"></a>
                                    </li>

                                    <li th:class="${borders.last} ? 'disabled'">
                                        <a th:href="${borders.last} ? '#' : @{/mypage/courseTraingLog(page=${borders.number + 2})}" aria-label="Next">
                                            <span aria-hidden="true">&gt;</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a th:href="@{/mypage/courseTraingLog(page=${borders.totalPages})}" aria-label="Last">
                                            <span aria-hidden="true">Last</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div><!--switch End -->
                </div><!--panel-body End -->
            </div><!-- panel End -->
        </div><!-- Page content End -->
    </div><!-- Content container End -->

</th:block>

<th:block layout:fragment="custom_js">

    <script>
        $(document).ready(function() {
            $("#publishBtn").click(function(e) {
                // $(this).attr("disabled", true);
                var btn = $(this).button('loading');
                var url = "/api/binder/log/create";
                $.ajax({
                    type: "POST",
                    url: url,
                    data: {r:Math.random()},
                    dataType: 'JSON',
                    async: true,
                    timeout: 1800000,//30분
                    success: function (res) {
                        if (res) {
                            alert(res.message)
                        }
                        btn.button('reset');
                    },
                    error: function (e) {
                        alert('배포가 정상적으로 처리되지 않았습니다.');
                        btn.button('reset');
                    }
                });
            });
        });

        // function createEmployeeLog() {
            //
        // }
    </script>

</th:block>

</html>

