<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">
    <style>
        .table-head {
            background: #3A444E;
            margin: 0;
            padding: 0;
        }
    </style>
</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->

        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">


            <div class="panel">
                <div class="panel-body">
                    <div class="row">
<!--                        <h5><strong class="text-warning"><i class="demo-pli-dot-vertical"></i> 신청대기 과정</strong></h5>-->
                        <hr class="table-head">
                        <table class="table" cellspacing="0" width="100%">
                            <thead>
                            <tr style="background: #FAFAFA;">
                                <th class="text-center col-md-1" th:text="#{label.course.type}">교육유형</th>
                                <th class="text-center col-md-3" th:text="#{label.course.name}">과정명</th>
                                <th class="text-center col-md-2" th:text="#{label.course.period}">기간</th>
                                <th class="text-center col-md-1" th:text="#{label.title.section}">강의</th>
                                <th class="text-center col-md-1" th:text="#{label.title.quiz}">시험</th>
                                <th class="text-center col-md-1" th:text="#{label.title.survey}">설문</th>
                                <th class="text-center col-md-2" th:text="#{label.status}">상태</th>
                                <th class="text-center" th:text="#{label.actions}">비고</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="courseAccount, index : ${courseAccountList}">
                                <tr>
                                    <td class="text-left">
                                        <span th:text="${courseAccount.getCourse().getCourseMaster().getCourseName()}"></span>
                                    </td>
                                    <td class="text-left">
                                        <a th:href="@{/course/view/{id}(id=${courseAccount.getCourse().getId()})}">
                                            <span th:text="${courseAccount.getCourse().getTitle()}"}></span>
                                        </a>
                                    </td>
                                    <td class="text-center" th:text="${courseAccount.getFromDate() + '~' + courseAccount.getToDate()}"></td>
                                    <td class="text-center">
                                        <span class="badge badge-mint" th:text="${courseAccount.getCourse().getSections().size()}"></span>
                                    </td>
                                    <td class="text-center">
                                        <th:block th:if="${courseAccount.getCourse().getIsQuiz().equals('Y')}">
                                            <span class="badge badge-success" th:text="${courseAccount.getCourse().getQuizzes().size()}"></span>
                                        </th:block>
                                    </td>
                                    <td class="text-center">
                                        <th:block th:if="${courseAccount.getCourse().getIsSurvey().equals('Y')}">
                                            <span class="badge badge-warning" th:text="${courseAccount.getCourse().getSurveys().size()}"></span>
                                        </th:block>
                                    </td>
                                    <td class="text-center">
                                        <form id="submit_form" th:action="@{/course/request2/{id}(id=${courseAccount.getId()})}" method="get">
                                            <div th:switch="${courseAccount.getCourseStatus()}">
                                                <span th:case="${T(com.dtnsm.lms.domain.constant.CourseStepStatus).none}" class="text-warning" th:text="${'신청대기'}"></span>
                                                <span th:case="${T(com.dtnsm.lms.domain.constant.CourseStepStatus).request}" class="text-mint" th:text="${'신청완료'}"></span>
                                                <span th:case="${T(com.dtnsm.lms.domain.constant.CourseStepStatus).process}" class="text-warning" th:text="${'진행중'}"></span>
                                                <span th:case="${T(com.dtnsm.lms.domain.constant.CourseStepStatus).complete}" class="text-mint" th:text="${'교육완료'}"></span>
                                                <span th:case="${T(com.dtnsm.lms.domain.constant.CourseStepStatus).reject}" class="text-mint" th:text="${'기각'}"></span>
                                            </div>
                                        </form>
                                    </td>
                                    <td class="text-left">
                                        <div th:switch="${courseAccount.getCourseStatus()}">
                                            <th:block th:case="${T(com.dtnsm.lms.domain.constant.CourseStepStatus).none}">
<!--                                                <a class="btn btn-info" th:href="|javascript:checkRequest('${courseAccount.getCourse().getId()}', '${courseAccount.getAccount().getUserId()}')|"><i class="demo-pli-inbox-into"></i> 교육신청</a>-->
                                                <a class="btn btn-info"  th:href="@{/course/view/{id}(id=${courseAccount.getCourse().getId()})}">
                                                    <i class="demo-pli-inbox-into"></i> 교육신청
                                                </a>
                                            </th:block>
                                            <th:block th:case="${T(com.dtnsm.lms.domain.constant.CourseStepStatus).request}"></th:block>
                                            <th:block th:case="${T(com.dtnsm.lms.domain.constant.CourseStepStatus).process}">
                                                <form th:id="${'submit_form2' + index.count}" th:action="@{/mypage/classroom/view/{id}(id=${courseAccount.getId()})}" method="get">
                                                    <a class="btn btn-info" th:onclick="|javascript:checkCoursePeriod('${courseAccount.getId()}','${index.count}')|"><i class="demo-pli-inbox-into"></i> 입장</a>
                                                </form>

                                            </th:block>
                                            <th:block th:case="${T(com.dtnsm.lms.domain.constant.CourseStepStatus).complete}"></th:block>
                                            <th:block th:case="${T(com.dtnsm.lms.domain.constant.CourseStepStatus).reject}"></th:block>
                                        </div>


                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!-- Page content End -->
    </div><!-- Content container End -->
</th:block>

<th:block layout:fragment="custom_js">

    <script>

        function checkCoursePeriod(docId, formId) {

            alert(docId);

            alert(formId);

            $.ajax({
                type : 'get',
                url : '/api/courseAccount/isCoursePeriod',
                dataType : 'json',
                data : {
                    'docId': docId
                },
                error: function(xhr, status, error){
                    alert('Error');
                },
                success : function(data){

                    if(data == false) alert('교육기간이 아닙니다.');
                    else {
                        $('#submit_form2' + formId).submit();
                    }
                },
            });
            return;
        }

        function checkRequest(courseId, userId) {

            $.ajax({
                type : 'POST',
                url : '/api/courseAccount/isVerificationRequestWait',
                dataType : 'json',
                data : {
                    'courseId': courseId,
                    'userId': userId
                },
                error: function(xhr, status, error){
                    alert(error);
                },
                success : function(data){

                    if (data == 1) {
                        alert('상위결재권자가 지정되지 않았습니다.');
                        return false;
                    }

                    if (data == 2) {
                        alert('교육과정 관리자가 지정되지 않았습니다.');
                        return false;
                    }

                    if (data == 3) {
                        alert('신청대기중인 과정이 없습니다..');
                        return false;
                    }

                    if (data == 9) {
                        $('#submit_form').submit();
                        alert('교육 신청되었습니다.');
                        return false;
                    }
                },
            });

            return;
        }
    </script>

</th:block>

</html>