<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">
    <style>
        .table-head {
            background: #3A444E;
            margin: 0;
            padding: 0;
        }
    </style>
</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->

        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">




            <div class="panel">
                <div class="panel-body">
                    <hr class="table-head">
                    <table id="customer-list-page1" class="table" cellspacing="0" width="100%">
                        <form name="testForm" id="testForm" th:action="@{/mypage/main}">
                            <tbody>
<!--                            <tr>-->
<!--                                <td class="text-right" style="vertical-align: middle; background: #FAFAFA;">과정구분</td>-->
<!--                                <td>-->
<!--                                    <div th:switch="${courseTypeList}">-->
<!--                                        <h2 th:case="null">No customer yet!</h2>-->
<!--                                        <div th:case="*">-->
<!--                                            &lt;!&ndash;                                        <div class="form-group pad-ver">&ndash;&gt;-->
<!--                                            &lt;!&ndash;                                                    <label class="col-md-3 control-label text-right">Radio Buttons</label>&ndash;&gt;-->
<!--                                            <div class="col-md-9 text-left">-->
<!--                                                &lt;!&ndash; Radio Buttons &ndash;&gt;-->
<!--                                                <div class="radio">-->
<!--                                                    <input id='lbl-code0' class="magic-radio" type="radio" name="gubunId" value="" checked>-->
<!--                                                    <label for='lbl-code0'>전체</label>-->

<!--                                                    <th:block th:each="code, index : ${courseTypeList}">-->

<!--                                                        <input th:id="${'lbl-code' + index.count}" class="magic-radio" type="radio" name="gubunId" th:value="${code.getMinorCd()}" th:checked="${#strings.equalsIgnoreCase(code.getMinorCd(), param.gubunId)}">-->
<!--                                                        <label th:for="${'lbl-code' + index.count}" th:text="${code.getMinorNm()}">Option 1 (pre-checked)</label>-->
<!--                                                    </th:block>-->

<!--                                                </div>-->
<!--                                                &lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--                                            </div>-->

<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </td>-->
<!--                            </tr>-->
                            <tr>
                                <td class="text-right" style="vertical-align: middle; background: #FAFAFA;">과정유형</td>
                                <td>
                                    <div th:switch="${courseMasterList}">
                                        <h2 th:case="null">No customer yet!</h2>
                                        <div th:case="*">
                                            <!--                                         <div class="form-group pad-ver">-->
                                            <!--                                                    <label class="col-md-3 control-label text-right">Radio Buttons</label>-->
                                            <div class="col-md-9 text-left">
                                                <!-- Radio Buttons -->
                                                <div class="radio">
                                                    <input id='demo-inline-form-radio0' class="magic-radio" type="radio" name="typeId" value="" checked>
                                                    <label for='demo-inline-form-radio0'>전체</label>

                                                    <th:block th:each="courseMaster, index : ${courseMasterList}">

                                                        <input th:id="${'demo-inline-form-radio' + index.count}" class="magic-radio" type="radio" name="typeId" th:value="${courseMaster.getId()}" th:checked="${#strings.equalsIgnoreCase(courseMaster.getId(), param.typeId)}">
                                                        <label th:for="${'demo-inline-form-radio' + index.count}" th:text="${courseMaster.getCourseName()}">Option 1 (pre-checked)</label>
                                                    </th:block>

                                                </div>
                                            </div>
                                            <!--                                        </div>-->

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right" style="vertical-align: middle; background: #FAFAFA;">과정상태</td>
                                <td>
                                    <div th:switch="${courseStepStatus}">
                                        <h2 th:case="null">No customer yet!</h2>
                                        <div th:case="*">
                                            <!--                                         <div class="form-group pad-ver">-->
                                            <!--                                                    <label class="col-md-3 control-label text-right">Radio Buttons</label>-->
                                            <div class="col-md-9 text-left">
                                                <!-- Radio Buttons -->
                                                <div class="radio">
                                                    <input id="course_step-form-radio0" class="magic-radio" type="radio" name="courseStepStatusId" value="" checked>
                                                    <label for='course_step-form-radio0'>전체</label>

                                                    <th:block th:each="courseStep, index : ${courseStepStatus}">

                                                        <input th:id="${'course_step-form-radio' + index.count}" class="magic-radio" type="radio" name="courseStepStatusId" th:value="${courseStep.name()}" th:checked="${#strings.equalsIgnoreCase(courseStep.name(), param.courseStepStatusId)}">
                                                        <label th:for="${'course_step-form-radio' + index.count}" th:text="${courseStep.getLabel()}">Option 1 (pre-checked)</label>
                                                    </th:block>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right" style="vertical-align: middle; background: #FAFAFA;">과정명</td>
                                <td>
                                    <input class="form-control" type="text" th:value="${param.title}" id="title" name="title" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-center">
                                    <br>
                                    <a class="btn btn-lg btn-info" onclick="form_subimt();return false;">
                                        <div class="demo-icon">
                                            <i class="fa fa-search"></i> <span th:text="#{label.search}">fa fa-search</span>
                                        </div>
                                    </a>
                                    <a class="btn btn-lg btn-default" th:href="@{/mypage/main}" th:text="#{label.init}">초기화</a>
                                </td>
                            </tr>
                            </tbody>
                        </form>
                    </table>


                    <div class="row">
<!--                        <h5><strong class="text-warning"><i class="demo-pli-dot-vertical"></i> 신청대기 과정</strong></h5>-->
                        <hr class="table-head">
                        <table class="table" cellspacing="0" width="100%">
                            <thead>
                            <tr style="background: #FAFAFA;">
                                <th class="text-center" th:text="#{label.no}">No.</th>
                                <th class="text-center col-md-1" th:text="#{label.course.type}">교육유형</th>
                                <th class="text-center col-md-3" th:text="#{label.course.name}">과정명</th>
                                <th class="text-center col-md-2" th:text="#{label.course.period}">기간</th>
                                <th class="text-center col-md-1" th:text="#{label.title.section}">강의</th>
                                <th class="text-center col-md-1" th:text="#{label.title.quiz}">시험</th>
                                <th class="text-center col-md-1" th:text="#{label.title.survey}">설문</th>
                                <th class="text-center col-md-1" th:text="#{label.status}">상태</th>
                                <th class="text-center" th:text="#{label.actions}">비고</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="courseAccount, index : ${courseAccountList}">
                                <tr>
                                    <!-- NO. -->
                                    <td th:text="${(courseAccountList.getTotalElements() - index.index) - (courseAccountList.number * 10)}" class="text-center"></td>
                                    <!-- 교육유형 -->
                                    <td class="text-left">
                                        <span th:text="${courseAccount.getCourse().getCourseMaster().getCourseName()}"></span>
                                    </td>
                                    <!-- 교육과정명 -->
                                    <td class="text-left">
                                        <a th:href="@{/info/request/add/{id}(id=${courseAccount.getCourse().getId()})}">
                                            <span th:text="${courseAccount.getCourse().getTitle()}"}></span>
                                        </a>
                                        <!-- self 교육 완료후 자료 보기 -->
<!--                                        <span th:if="${#strings.equalsIgnoreCase(courseAccount.getIsCommit(), '1')}">-->
<!--                                            <th:block th:if="${#strings.equalsIgnoreCase(courseAccount.getCourse().getCourseMaster().getId(), 'BC0101')}">-->
<!--                                                <th:block th:each="section, index : ${courseAccount.getCourse().getSections()}">-->
<!--                                                    <th:block th:each="file, index : ${section.getSectionFiles()}">-->
<!--                                                        <a class="label label-primary" th:onclick="|javascript:popupSectionPdfView('${file.getId()}');return false;|" target="_blank">-->
<!--                                                            <i class="fa fa-file-pdf-o"></i> <span th:text="${'강의자료'}"></span>-->
<!--                                                        </a>-->
<!--                                                    </th:block>-->
<!--                                                </th:block>-->
<!--                                            </th:block>-->
<!--                                        </span>-->
                                    </td>
                                    <!-- 교육기간 -->
                                    <td class="text-center">
                                        <th:block th:unless="${#strings.equalsIgnoreCase(courseAccount.getCourse().getCourseMaster().getCourseName(), 'self-training')}">
                                            <th:block th:if="${#strings.equalsIgnoreCase(courseAccount.getFromDate(), courseAccount.getToDate())}">
                                                <span th:text="${courseAccount.getFromDate()}"></span>
                                            </th:block>
                                            <th:block th:unless="${#strings.equalsIgnoreCase(courseAccount.getFromDate(), courseAccount.getToDate())}">
                                                <span th:text="${courseAccount.getFromDate() + '~' + courseAccount.getToDate()}"></span>
                                            </th:block>
                                        </th:block>
                                        <th:block th:if="${#strings.equalsIgnoreCase(courseAccount.getCourse().getCourseMaster().getCourseName(), 'self-training')}">
                                            -
                                        </th:block>
                                    </td>
                                    <!-- 강의 -->
                                    <td class="text-center">
                                        <span class="badge badge-mint" th:text="${courseAccount.getCourse().getSections().size()}"></span>
                                    </td>
                                    <!-- 시험 -->
                                    <td class="text-center">
                                        <th:block th:if="${courseAccount.getCourse().getIsQuiz().equals('Y')}">
                                            <span class="badge badge-success" th:text="${courseAccount.getCourse().getQuizzes().size()}"></span>
                                        </th:block>
                                    </td>
                                    <!-- 설문 -->
                                    <td class="text-center">
                                        <th:block th:if="${courseAccount.getCourse().getIsSurvey().equals('Y')}">
                                            <span class="badge badge-warning" th:text="${courseAccount.getCourse().getSurveys().size()}"></span>
                                        </th:block>
                                    </td>
                                    <!-- 상태 -->
                                    <td class="text-center">
                                        <form id="submit_form" th:action="@{/course/request2/{id}(id=${courseAccount.getId()})}" method="get">

                                            <div th:switch="${courseAccount.getCourseStatus()}">
                                                <span th:case="${T(com.dtnsm.lms.domain.constant.CourseStepStatus).none}" class="text-warning" th:text="${T(com.dtnsm.lms.domain.constant.CourseStepStatus).none.getLabel()}"></span>
                                                <span th:case="${T(com.dtnsm.lms.domain.constant.CourseStepStatus).request}" class="text-mint" th:text="${T(com.dtnsm.lms.domain.constant.CourseStepStatus).request.getLabel()}"></span>
                                                <span th:case="${T(com.dtnsm.lms.domain.constant.CourseStepStatus).process}" class="text-warning" th:text="${T(com.dtnsm.lms.domain.constant.CourseStepStatus).process.getLabel()}"></span>
                                                <span th:case="${T(com.dtnsm.lms.domain.constant.CourseStepStatus).periodEnd}" class="text-danger" th:text="${T(com.dtnsm.lms.domain.constant.CourseStepStatus).periodEnd.getLabel()}"></span>
                                                <span th:case="${T(com.dtnsm.lms.domain.constant.CourseStepStatus).wait}" class="text-mint" th:text="${T(com.dtnsm.lms.domain.constant.CourseStepStatus).wait.getLabel()}"></span>
                                                <span th:case="${T(com.dtnsm.lms.domain.constant.CourseStepStatus).complete}" class="text-mint" th:text="${T(com.dtnsm.lms.domain.constant.CourseStepStatus).complete.getLabel()}"></span>
                                                <span th:case="${T(com.dtnsm.lms.domain.constant.CourseStepStatus).reject}" class="text-danger" th:text="${T(com.dtnsm.lms.domain.constant.CourseStepStatus).reject.getLabel()}"></span>
                                            </div>
                                        </form>
                                    </td>
                                    <!-- Actions -->
                                    <td class="text-center">
                                        <div th:switch="${courseAccount.getCourseStatus()}">
                                            <th:block th:case="${T(com.dtnsm.lms.domain.constant.CourseStepStatus).none}">
                                                <a class="btn btn-info"  th:href="@{/info/request/add/{id}(id=${courseAccount.getCourse().getId()})}">
                                                    <i class="demo-pli-inbox-into"></i> 교육신청
                                                </a>
                                            </th:block>
                                            <th:block th:case="${T(com.dtnsm.lms.domain.constant.CourseStepStatus).request}"></th:block>
                                            <th:block th:case="${T(com.dtnsm.lms.domain.constant.CourseStepStatus).process}">
                                                <form th:id="${'submit_form2' + index.count}" th:action="@{/mypage/classroom/view/{id}(id=${courseAccount.getId()})}" method="get">
                                                    <!-- class 교육인 경우는 교육기간과 상관없이 참석처리가 된 경우는 시험이나 설문을 진행할 수 있다. -->
                                                    <th:block th:if="${#strings.equalsIgnoreCase(courseAccount.getCourse().getCourseMaster().getId(), 'BC0102') and #strings.equalsIgnoreCase(courseAccount.getIsAttendance(), '1')}">
                                                        <a class="btn btn-info" th:onclick="|javascript:submitForm2('${courseAccount.getId()}','${index.count}')|"><i class="demo-pli-inbox-into"></i> 입장</a>
                                                    </th:block>
                                                    <!-- class 교육이 아닌경우(Self training)는 교육기간을 체크한다. -->
                                                    <th:block th:unless="${#strings.equalsIgnoreCase(courseAccount.getCourse().getCourseMaster().getId(), 'BC0102')}">
                                                        <th:block th:unless="${#strings.equalsIgnoreCase(courseAccount.getCourse().getCourseMaster().getId(), 'BC0104')}">
                                                            <a class="btn btn-info" th:onclick="|javascript:checkCoursePeriod('${courseAccount.getId()}','${index.count}')|"><i class="demo-pli-inbox-into"></i> 입장</a>
                                                        </th:block>
                                                    </th:block>
                                                </form>
                                            </th:block>
                                            <!-- TODO: 과정상태가 기간연장이고 Self 트레이닝 이면서 상시 교육인 경우는 기간 연장이 가능함 -->
                                            <th:block th:case="${T(com.dtnsm.lms.domain.constant.CourseStepStatus).periodEnd}">
                                                <th:block th:if="${#strings.equalsIgnoreCase(courseAccount.getCourse().getCourseMaster().getId(), 'BC0101')}">
                                                    <th:block th:if="${#strings.equalsIgnoreCase(courseAccount.getCourse().getIsAlways(), '1')}">
                                                        <a class="btn btn-pink" th:onclick="|javascript:executeCoursePeriodExtend('${courseAccount.getId()}')|"><i class="ion-plus-circled"></i> 연장</a>
                                                    </th:block>
                                                </th:block>
                                            </th:block>
                                            <th:block th:case="${T(com.dtnsm.lms.domain.constant.CourseStepStatus).complete}">

                                                <th:block th:if="${courseAccount.getCourse().getIsCerti().equals('Y')}">
<!--                                                    <th:block th:if="${courseAccount.getCertificateBindDate() == null}">-->
<!--                                                        <a href="#" class="btn btn-info" id="popupBtn10"-->
<!--                                                           th:onclick="|javascript:createCertificateFile('${courseAccount.getId()}', '1');return false;|" target="_blank"><i class="fa fa-print"></i> 발급</a>-->
<!--                                                    </th:block>-->
<!--                                                    <th:block th:if="${courseAccount.getCertificateBindDate() == null}">-->
<!--                                                        <a href="#" class="btn btn-info" id="popupBtn"-->
<!--                                                           th:onclick="|javascript:popupPdfView('${courseAccount.getId()}', '1');return false;|" target="_blank"><i class="fa fa-print"></i> 발급</a>-->
<!--                                                    </th:block>-->
                                                    <th:block th:unless="${courseAccount.getCertificateBindDate() == null}">
<!--                                                        <a href="#" class="btn btn-mint" id="popupBtn2"-->
<!--                                                           th:onclick="|javascript:popupPdfView('${courseAccount.getId()}', '2');return false;|" target="_blank"><i class="fa fa-print"></i> 수료증</a>-->
                                                        <a class="btn btn-mint" th:href="@{/mypage/certificate/file/downloadFile2/{docId}(docId=${courseAccount.getId()})}" target="_blank"><i class="fa fa-print"></i> 수료증</a>
                                                    </th:block>
                                                </th:block>
                                            </th:block>
                                            <th:block th:case="${T(com.dtnsm.lms.domain.constant.CourseStepStatus).reject}"></th:block>
                                        </div>

                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                        <nav style="text-align: center;" th:with="start=${T(Math).floor(courseAccountList.number/10)*10 + 1}">
                            <ul class="pagination" th:with="last=(${start + 9 < courseAccountList.totalPages ? start + 9 : (courseAccountList.totalPages == 0 ? 1 : courseAccountList.totalPages)})">
                                <li>
                                    <a th:href="@{/mypage/main(page=1, typeId=${param.typeId}, courseStepStatusId=${param.courseStepStatusId}, title=${param.title})}" aria-label="First">
                                        <span aria-hidden="true">First</span>
                                    </a>
                                </li>
                                <li th:class="${courseAccountList.first} ? 'disabled'">
                                    <a th:if="${courseAccountList.first}" th:href="${'#'}" aria-label="Previous">
                                        <span aria-hidden="true">&lt;</span>
                                    </a>
                                    <a th:unless="${courseAccountList.first}" th:href="@{/mypage/main(page=${courseAccountList.number}, typeId=${param.typeId}, courseStepStatusId=${param.courseStepStatusId}, title=${param.title})}" aria-label="Previous">
                                        <span aria-hidden="true">&lt;</span>
                                    </a>
                                </li>
                                <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == courseAccountList.number + 1} ? 'active'">
                                    <a th:text="${page}" th:href="@{/mypage/main(page=${page}, typeId=${param.typeId}, courseStepStatusId=${param.courseStepStatusId}, title=${param.title})}"></a>
                                </li>
                                <li th:class="${courseAccountList.last} ? 'disabled'">
                                    <a th:if="${courseAccountList.last}" th:href="${'#'}" aria-label="Next">
                                        <span aria-hidden="true">&gt;</span>
                                    </a>
                                    <a th:unless="${courseAccountList.last}" th:href="@{/mypage/main(page=${courseAccountList.number + 2}, typeId=${param.typeId}, courseStepStatusId=${param.courseStepStatusId}, title=${param.title})}" aria-label="Next">
                                        <span aria-hidden="true">&gt;</span>
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/mypage/main(page=${courseAccountList.totalPages}, typeId=${param.typeId}, courseStepStatusId=${param.courseStepStatusId}, title=${param.title})}" aria-label="Last">
                                        <span aria-hidden="true">Last</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div><!-- Page content End -->
    </div><!-- Content container End -->
</th:block>

<th:block layout:fragment="custom_js">

    <script>

        $(document).ready(function() {
            $('#title').focus();
        });


        function form_subimt() {

            $('#testForm').submit();
            $('#title').focus();
        }

        function popupSectionPdfView(id) {
            var popWidth = 1000;
            var popHeight = 800;

            var title = "강의 자료";
            var url = "/mypage/pdfview/" + id;

            var mtWidth = document.body.clientWidth; //현재 브라우저가 있는 모니터의 화면 폭 사이즈
            var mtHeight = document.body.clientHeight; //현재 브라우저가 있는 모니터의 화면 높이 사이즈

            var scX = window.screenLeft; //현재 브라우저의 x 좌표(모니터 두 대를 합한 총 위치 기준)
            var scY = window.screenTop; //현재 브라우저의 y 좌표(모니터 두 대를 합한 총 위치 기준)

            var popX = scX + (mtWidth - popWidth) / 2 - 50; //팝업 창을 띄울 x 위치 지정(모니터 두 대를 합한 총 위치 기준)
            var popY = scY + (mtHeight - popHeight) / 2 - 50; //팝업 창을 띄울 y 위치 지정(모니터 두 대를 합한 총 위치 기준)

            var popupSizeOption = "width=" + popWidth + ", height=" + popHeight + ", left=" + popX + ", top=" + popY;
            var popupOption = popupSizeOption +  ', toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, copyhistory=yes, resizable=yes';

            window.open(url, title, popupOption);
        }

        // 수료증 발급
        // function createCertificateFile(docId, flag) {
        //     if(flag == 1) {
        //         $.ajax({
        //             type: 'POST',
        //             url: '/api/binder/certi/create',
        //             dataType: 'json',
        //             data: {
        //                 'docId': docId
        //             },
        //             error: function (xhr, status, error) {
        //                 alert('Error');
        //             },
        //             success: function (data) {
        //
        //                 // if(data == false) alert('교육기간이 아닙니다.');
        //                 // else {
        //                 //     $('#submit_form2' + formId).submit();
        //                 // }
        //             },
        //         });
        //     }
        //     return;
        // }

        // 수료증 팦업창
        function popupPdfView(id, flag) {
            var popupName;

            if(flag == 1) popupName = "/mypage/certificate/print/";
            else popupName = "/mypage/certificate/printView/";

            var width = 800;
            var height = 630;  //1.414;

            var title = "디티앤사노메딕스";
            var url = popupName + id;
            // 만들 팝업창 좌우 크기의 1/2 만큼 보정값으로 빼주었음
            var popupX = (window.screen.width / 2) - (width / 2);
            // 만들 팝업창 상하 크기의 1/2 만큼 보정값으로 빼주었음
            var popupY= (window.screen.height / 2) - (height / 2);

            var option = "width =" + width + ", height =" + height + ", menubar=no, directories=no, location = no, scrollbars=no, resizable=no";
            option += ", left=" + popupX + ", top=" + popupY;

            window.open(url, title, option);
        }

        // Self 상시 교육이면서 기간이 만료된 경우 기간 연장
        function executeCoursePeriodExtend(docId) {

            var con_test = confirm("교육기간을 연장 하시겠습니까?");

            if(con_test == true){

                // 교육기간 연장
                $.ajax({
                    type : 'POST',
                    url : '/api/courseAccount/coursePeriodExtend',
                    dataType : 'json',
                    data : {
                        'docId': docId
                    },
                    error: function(xhr, status, error){
                        alert('교육기간이 연장되지 않았습니다.');
                    },
                    success : function(data){

                        if(data == true) {
                            alert('교육 기간이 연장되었습니다.');
                            location.reload();
                        }
                    },
                });
            }
        }

        // 교육기간인 경우만 강의실로 입장한다.
        function checkCoursePeriod(docId, formId) {

            $.ajax({
                type : 'get',
                url : '/api/courseAccount/isCoursePeriod',
                dataType : 'json',
                data : {
                    'docId': docId
                },
                error: function(xhr, status, error){
                    alert('Error');
                },
                success : function(data){

                    if(data == false) alert('교육기간이 아닙니다.');
                    else {
                        $('#submit_form2' + formId).submit();
                    }
                },
            });
            return;
        }

        // Class 교육은 교육기간과 상관없이 교육 참석처리만 되면 강의실로 입장한다.
        function submitForm2(docId, formId) {
            $('#submit_form2' + formId).submit();
        }

        // function checkRequest(courseId, userId) {
        //
        //     $.ajax({
        //         type : 'POST',
        //         url : '/api/courseAccount/isVerificationRequestWait',
        //         dataType : 'json',
        //         data : {
        //             'courseId': courseId,
        //             'userId': userId
        //         },
        //         error: function(xhr, status, error){
        //             alert(error);
        //         },
        //         success : function(data){
        //
        //             if (data == 1) {
        //                 alert('상위결재권자가 지정되지 않았습니다.');
        //                 return false;
        //             }
        //
        //             if (data == 2) {
        //                 alert('교육과정 관리자가 지정되지 않았습니다.');
        //                 return false;
        //             }
        //
        //             if (data == 3) {
        //                 alert('신청대기중인 과정이 없습니다..');
        //                 return false;
        //             }
        //
        //             if (data == 9) {
        //                 $('#submit_form').submit();
        //                 alert('교육 신청되었습니다.');
        //                 return false;
        //             }
        //         },
        //     });
        //
        //     return;
        // }
    </script>

</th:block>

</html>