<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">
    <style>
        .table-head {
            background: #3A444E;
            margin: 0;
            padding: 0;
        }
    </style>
</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->

        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">

            <!-- Basic Data Tables -->
            <!--===================================================-->
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <h5><strong class="text-warning"><i class="demo-pli-dot-vertical"></i> 신청중인 과정</strong></h5>
                        <hr class="table-head">
                        <table class="table" cellspacing="0" width="100%">
                            <thead>
                            <tr style="background: #FAFAFA;">
                                <th class="text-center col-md-3" th:text="#{label.course.name}">과정명</th>
                                <th class="text-center col-md-3" th:text="#{label.course.period}">기간</th>
                                <th class="text-center col-md-1" th:text="#{label.title.section}">강의</th>
                                <th class="text-center col-md-1" th:text="#{label.title.quiz}">시험</th>
                                <th class="text-center col-md-1" th:text="#{label.title.survey}">설문</th>
                                <th class="text-center col-md-2" th:text="#{label.status}">상태</th>
                                <th class="text-center" th:text="#{label.bigo}">비고</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="courseAccount, index : ${courseAccountList}">
                            <tr th:if="${courseAccount.getApprovalStatus() == T(com.dtnsm.lms.domain.constant.ApprovalStatusType).REQUEST_DONE
                            || courseAccount.getApprovalStatus() == T(com.dtnsm.lms.domain.constant.ApprovalStatusType).APPROVAL_TEAM_DONE
                            }">
                                <td class="text-left">
                                    <span th:text="${'['+courseAccount.getCourse().getCourseMaster().getCourseName()+']'}"></span>
                                    <span th:text="${courseAccount.getCourse().getTitle()}"}></span>
                                </td>
                                <td class="text-center" th:text="${courseAccount.getCourse().getFromDate() + '~' + courseAccount.getCourse().getToDate()}"></td>
                                <td class="text-center">
                                    <span class="badge badge-mint" th:text="${courseAccount.getCourse().getSections().size()}"></span>
                                </td>
                                <td class="text-center">
                                    <span class="badge badge-success" th:text="${courseAccount.getCourse().getQuizzes().size()}"></span>
                                </td>
                                <td class="text-center">
                                    <span class="badge badge-warning" th:text="${courseAccount.getCourse().getSurveys().size()}"></span>
                                </td>
                                <td class="text-center">
                                    <div th:switch="${courseAccount.getApprovalStatus()}">
                                        <span th:case="${T(com.dtnsm.lms.domain.constant.ApprovalStatusType).REQUEST_DONE}"
                                              class="text-warning"><span th:text="${courseAccount.getApprUserId1().getName()}"></span> 결재 진행중</span>
                                        <span th:case="${T(com.dtnsm.lms.domain.constant.ApprovalStatusType).APPROVAL_TEAM_DONE}"
                                              class="text-mint"><span th:text="${courseAccount.getApprUserId2().getName()}"></span> 결재 진행중</span>
                                        <span th:case="${T(com.dtnsm.lms.domain.constant.ApprovalStatusType).APPROVAL_MANAGER_DONE}"
                                              class="text-info">교육 진행중</span>
                                        <span th:case="${T(com.dtnsm.lms.domain.constant.ApprovalStatusType).APPROVAL_MANAGER_REJECT}"
                                              class="text-warning"><span th:text="${border.getApprUserId2().getName()}"></span> 기각</span>
                                        <span th:case="${T(com.dtnsm.lms.domain.constant.ApprovalStatusType).APPROVAL_TEAM_REJECT}"
                                              class="text-warning"><span th:text="${border.getApprUserId1().getName()}"></span> 기각</span>
                                    </div>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>

                    <br>
                    <div class="row">
                        <h5><strong class="text-info"><i class="demo-pli-dot-vertical"></i> 교육중인 과정</strong></h5>
                        <hr class="table-head">
                        <table class="table" cellspacing="0" width="100%">
                            <thead>
                            <tr style="background: #FAFAFA;">
                                <th class="text-center col-md-3" th:text="#{label.course.name}">과정명</th>
                                <th class="text-center col-md-3" th:text="#{label.course.period}">기간</th>
                                <th class="text-center col-md-1" th:text="#{label.title.section}">강의</th>
                                <th class="text-center col-md-1" th:text="#{label.title.quiz}">시험</th>
                                <th class="text-center col-md-1" th:text="#{label.title.survey}">설문</th>
                                <th class="text-center col-md-2" th:text="#{label.status}">상태</th>
                                <th class="text-center">강의실</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="courseAccount, index : ${courseAccountList}">
                                <tr th:if="${courseAccount.getApprovalStatus() == T(com.dtnsm.lms.domain.constant.ApprovalStatusType).APPROVAL_COMPLETE }" style="vertical-align: middle">
                                    <td class="text-left">
                                        <span th:text="${'['+courseAccount.getCourse().getCourseMaster().getCourseName()+']'}"></span>
                                        <span th:text="${courseAccount.getCourse().getTitle()}"}></span>
                                    </td>
                                    <td class="text-center" th:text="${courseAccount.getCourse().getFromDate() + '~' + courseAccount.getCourse().getToDate()}"></td>
                                    <td class="text-center">
                                        <span class="badge badge-mint" th:text="${courseAccount.getCourse().getSections().size()}"></span>
                                    </td>
                                    <td class="text-center">
                                        <span class="badge badge-success" th:text="${courseAccount.getCourse().getQuizzes().size()}"></span>
                                    </td>
                                    <td class="text-center">
                                        <span class="badge badge-warning" th:text="${courseAccount.getCourse().getSurveys().size()}"></span>
                                    </td>
                                    <td class="text-center">
                                        <div th:switch="${courseAccount.getApprovalStatus()}">
                                            <span th:case="${T(com.dtnsm.lms.domain.constant.ApprovalStatusType).REQUEST_DONE}"
                                              class="text-warning"><span th:text="${courseAccount.getApprUserId1().getName()}"></span> 결재 진행중</span>
                                            <span th:case="${T(com.dtnsm.lms.domain.constant.ApprovalStatusType).APPROVAL_TEAM_DONE}"
                                                  class="text-mint"><span th:text="${courseAccount.getApprUserId2().getName()}"></span> 결재 진행중</span>
                                            <span th:case="${T(com.dtnsm.lms.domain.constant.ApprovalStatusType).APPROVAL_MANAGER_DONE}"
                                                  class="text-info">교육 진행중</span>
                                            <span th:case="${T(com.dtnsm.lms.domain.constant.ApprovalStatusType).APPROVAL_MANAGER_REJECT}"
                                                  class="text-warning"><span th:text="${border.getApprUserId2().getName()}"></span> 기각</span>
                                            <span th:case="${T(com.dtnsm.lms.domain.constant.ApprovalStatusType).APPROVAL_TEAM_REJECT}"
                                                  class="text-warning"><span th:text="${border.getApprUserId1().getName()}"></span> 기각</span>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-info" th:href="@{/mypage/classroom/view/{id}(id=${courseAccount.getCourse().getId()})}"><i class="demo-pli-inbox-into"></i> 입장</a>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>

<!--                    <br>-->
<!--                    <div class="row">-->
<!--                        <h5><strong class="text-success"><i class="demo-pli-dot-vertical"></i> 교육완료 과정</strong></h5>-->
<!--                        <hr class="table-head">-->
<!--                        <table class="table" cellspacing="0" width="100%">-->
<!--                            <thead>-->
<!--                            <tr style="background: #FAFAFA;">-->
<!--                                <th class="text-center col-md-3" th:text="#{label.course.name}">과정명</th>-->
<!--                                <th class="text-center col-md-3" th:text="#{label.course.period}">기간</th>-->
<!--                                <th class="text-center col-md-1" th:text="#{label.title.section}">강의</th>-->
<!--                                <th class="text-center col-md-1" th:text="#{label.title.quiz}">시험</th>-->
<!--                                <th class="text-center col-md-1" th:text="#{label.title.survey}">설문</th>-->
<!--                                <th class="text-center col-md-2" th:text="#{label.status}">상태</th>-->
<!--                                <th class="text-center" th:text="#{label.bigo}">비고</th>-->
<!--                            </tr>-->
<!--                            </thead>-->
<!--                            <tbody>-->
<!--                            <th:block th:each="courseAccount, index : ${courseAccountList}">-->
<!--                                <tr th:if="${courseAccount.getStatus() == T(com.dtnsm.lms.domain.constant.ApprovalStatusType).APPROVAL_COMPLETE }">-->
<!--                                    <td class="text-left">-->
<!--                                        <span th:text="${'['+courseAccount.getCourse().getCourseMaster().getCourseName()+']'}"></span>-->
<!--                                        <span th:text="${courseAccount.getCourse().getTitle()}"}></span>-->
<!--                                    </td>-->
<!--                                    <td class="text-center" th:text="${courseAccount.getCourse().getFromDate() + '~' + courseAccount.getCourse().getToDate()}"></td>-->
<!--                                    <td class="text-center">-->
<!--                                        <span class="badge badge-mint" th:text="${courseAccount.getCourse().getSections().size()}"></span>-->
<!--                                    </td>-->
<!--                                    <td class="text-center">-->
<!--                                        <span class="badge badge-success" th:text="${courseAccount.getCourse().getQuizzes().size()}"></span>-->
<!--                                    </td>-->
<!--                                    <td class="text-center">-->
<!--                                        <span class="badge badge-warning" th:text="${courseAccount.getCourse().getSurveys().size()}"></span>-->
<!--                                    </td>-->
<!--                                    <td class="text-center">-->
<!--                                        <div th:switch="${courseAccount.getStatus()}">-->
<!--                                            <span class="text-info">교육 완료</span>-->
<!--                                        </div>-->
<!--                                    </td>-->
<!--                                    <td>&nbsp;</td>-->
<!--                                </tr>-->
<!--                            </th:block>-->
<!--                            </tbody>-->
<!--                        </table>-->
<!--                    </div>-->

                </div><!--panel-body End -->
            </div><!-- panel End -->
        </div><!-- Page content End -->
    </div><!-- Content container End -->
</th:block>

<th:block layout:fragment="custom_js">

    <script>

        $('#parentUserId').chosen({width:'100%'});



    </script>

</th:block>

</html>