<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">
    <!--Dropzone [ OPTIONAL ]-->
    <link th:href="@{/default/plugins/dropzone/dropzone.min.css}" rel="stylesheet">
</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->
        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">수료증 업로드</h3>
                </div>
                <div class="panel-body">

                    <div class="bord-top pad-ver">
                        <!-- The fileinput-button span is used to style the file input field as button -->
                        <span class="btn btn-success fileinput-button dz-clickable">
					                <i class="fa fa-plus"></i>
					                <span>Add files...</span>
					            </span>

                        <div class="btn-group pull-right">
                            <button id="dz-upload-btn" class="btn btn-primary" type="submit" disabled>
                                <i class="fa fa-upload-cloud"></i> Upload
                            </button>
                            <button id="dz-remove-btn" class="btn btn-danger cancel" type="reset" disabled>
                                <i class="demo-psi-trash"></i>
                            </button>
                        </div>
                    </div>


                    <div id="dz-previews">
                        <div id="dz-template" class="pad-top bord-top">
                            <div class="media">
                                <div class="media-body">
                                    <!--This is used as the file preview template-->
                                    <div class="media-block">
                                        <div class="media-left">
                                            <img class="dz-img" data-dz-thumbnail>
                                        </div>
                                        <div class="media-body">
                                            <p class="text-main text-bold mar-no text-overflow" data-dz-name></p>
                                            <span class="dz-error text-danger text-sm" data-dz-errormessage></span>
                                            <p class="text-sm" data-dz-size></p>
                                            <div id="dz-total-progress" style="opacity:0">
                                                <div class="progress progress-xs active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                                    <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="media-right">
                                    <button data-dz-remove class="btn btn-xs btn-danger dz-cancel"><i class="demo-psi-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--===================================================-->
                    <!--End Dropzonejs using Bootstrap theme-->
                </div>
            </div>
        </div><!-- Page content End -->
    </div><!-- Content container End -->
</th:block>

<th:block layout:fragment="custom_js">
    <!--Dropzone [ OPTIONAL ]-->
    <script th:src="@{/default/plugins/dropzone/dropzone.js}"></script>

    <script>
        $(document).on('nifty.ready', function() {


            // DROPZONE.JS WITH BOOTSTRAP'S THEME
            // =================================================================
            // Require Dropzone
            // http://www.dropzonejs.com/
            // =================================================================
            // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
            var previewNode = document.querySelector("#dz-template");
            previewNode.id = "";
            var previewTemplate = previewNode.parentNode.innerHTML;
            previewNode.parentNode.removeChild(previewNode);

            var uplodaBtn = $('#dz-upload-btn');
            var removeBtn = $('#dz-remove-btn');
            var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
                //url: "/admin/file/multi-add-post", // Set the url
                url: "/mypage/certificate/file/add-post", // Set the url
                thumbnailWidth: 50,
                thumbnailHeight: 50,
                parallelUploads: 20,
                acceptedFiles: ".pdf",
                previewTemplate: previewTemplate,
                autoQueue: false, // Make sure the files aren't queued until manually added
                previewsContainer: "#dz-previews", // Define the container to display the previews
                clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.
            });


            myDropzone.on("addedfile", function(file) {
                // Hookup the button
                uplodaBtn.prop('disabled', false);
                removeBtn.prop('disabled', false);
            });

            // Update the total progress bar
            myDropzone.on("totaluploadprogress", function(progress) {
                $("#dz-total-progress .progress-bar").css({'width' : progress + "%"});
            });

            myDropzone.on("sending", function(file) {
                // Show the total progress bar when upload starts
                document.querySelector("#dz-total-progress").style.opacity = "1";
            });

            // Hide the total progress bar when nothing's uploading anymore
            myDropzone.on("queuecomplete", function(progress) {
                document.querySelector("#dz-total-progress").style.opacity = "0";
                location.href = "/mypage/certificate/file/list";
            });

            // Setup the buttons for all transfers
            uplodaBtn.on('click', function() {
                //Upload all files
                myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED));
            });

            removeBtn.on('click', function() {
                myDropzone.removeAllFiles(true);
                uplodaBtn.prop('disabled', true);
                removeBtn.prop('disabled', true);
            });

        });

    </script>

</th:block>

</html>