<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">
    <!--Select2 [ OPTIONAL ]-->
    <link th:href="@{/default/plugins/select2/css/select2.min.css}" rel="stylesheet">

    <style>
        .table-head {
            background: #3A444E;
            margin: 0;
            padding: 0;
        }
        /*.pdf_content {*/
        /*    padding:20px 0 20px 0;*/
        /*    background-color:#fafafa;*/
        /*}*/

        /*.pdf_content svg {*/
        /*    background-color:#fff;*/
        /*    border:1px solid #333;*/
        /*    box-shadow: 5px 5px 5px;*/
        /*}*/
    </style>
</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->

        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">
            <div class="tab-base">
                <ul class="nav nav-tabs">
                    <li id="current">
                        <a href="/employees/cv/current">Current</a>
                    </li>
                    <li id="superseded">
                        <a href="/employees/cv/superseded">Old Versions</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <!-- Basic Data Tables -->
                    <!--===================================================-->
                    <div class="panel">
                        <div class="panel-body">
                            <div th:switch="${cvList}">
                                <div th:case="null">No customer yet!</div>
                                <div th:case="*">
                                    <hr class="table-head">
                                    <div class="table-responsive">
                                        <table id="customer-list-page" class="table" cellspacing="0" width="100%">
                                            <thead>
                                            <tr style="background: #FAFAFA;">
                                                <th class="text-center">번호</th>
                                                <th class="text-center">아이디</th>
                                                <th class="text-center">이름</th>
                                                <th class="text-center">Curriculum Vitae</th>
                                                <th class="text-center">상태</th>
                                                <th class="text-center">Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="user, index : ${cvList}">
                                                <td th:text="${index.count}" class="text-center"></td>
                                                <td th:text="${user.account.userId}" class="text-center"></td>
                                                <td th:text="${user.account.engName}" class="text-center"></td>
                                                <td th:text="|Curriculum Vitae(${#dates.format(user.curriculumVitae.lastModifiedDate, 'yyyy-MM-dd')})|" class="text-center">
                                                </td>
                                                <td class="text-center">
                                                    <span th:text="${user.curriculumVitae.status.name()}" class="label label-info"></span>
                                                </td>
                                                <td class="text-center">
                                                    <th:block th:if="${user.curriculumVitae.status.name() eq 'REVIEW'}">
                                                        <input th:value="${user.curriculumVitae.htmlContent}" th:id="|cv_cont_${user.curriculumVitae.id}|" th:type="hidden">
                                                        <button class="btn btn-warning btn-xs" data-target="#approval-modal" th:attr="data-id=${user.curriculumVitae.id}" data-toggle="modal">Review</button>
                                                    </th:block>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                            </div><!--switch End -->
                        </div><!--panel-body End -->
                    </div><!-- panel End -->
                </div>
            </div>
        </div><!-- Page content End -->
    </div><!-- Content container End -->

    <!--Default Bootstrap Modal-->
    <!--===================================================-->
    <div class="modal fade" id="approval-modal" role="dialog" tabindex="-1" aria-labelledby="assign-modal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form name="f" id="approvalForm" method="post" th:action="@{/employees/cv/approval}">
                    <input type="hidden" id="id" name="id"/>
                    <!--Modal header-->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                        <h4 class="modal-title">Curriculum Vitae Review</h4>
                    </div>

                    <!--Modal body-->
                    <div class="modal-body">
                        <div id="preview_cv_cont" class="pdf_content text-center">

                        </div>
                    </div>

                    <!--Modal footer-->
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                        <button class="btn btn-primary">Approval</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--===================================================-->
    <!--End Default Bootstrap Modal-->
</th:block>

<th:block layout:fragment="custom_js">
    <script>
        $(document).ready(function() {
            $("#approval-modal").on('show.bs.modal', function(e) {
                var id = $(e.relatedTarget).data('id');
                $("#preview_cv_cont").html($("#cv_cont_" + id).val());
                $("#id").val(id);
            });

            var pathname = location.pathname;
            var isSuperseded = pathname.indexOf("superseded") != -1;
            if(isSuperseded) {
                $("#superseded").addClass("active");
            } else {
                $("#current").addClass("active");
            }
        });
    </script>
</th:block>

</html>


