<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">
    <style>

        .vertical-text { transform: rotate(90deg); transform-origin: left top; float: left; }

    </style>
</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->

        <!--Page content-->
        <!--===================================================-->
        <div id="page-content" style="margin-bottom:0">

            <!-- Basic Data Tables -->
            <!--===================================================-->
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title"></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="row" th:if="${courseAccount.getStatus() == T(com.dtnsm.lms.domain.constant.ApprovalStatusType).APPROVAL_TEAM_DONE}">
                            <div class="col-sm-12 input-group pull-right">
                                <p class="pull-right">
                                    <a th:href="@{/approval/successAppr2/{courseId}/{userId}(courseId=${course.getId()}, userId=${courseAccount.getAccount().getUserId()})}" class="btn btn-success">승인</a>
                                    <a th:href="@{/approval/rejectAppr2/{courseId}/{userId}(courseId=${course.getId()}, userId=${courseAccount.getAccount().getUserId()})}" class="btn btn-danger">기각</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <hr style="border:1.2px solid #0a6aa1">
                    <h4 class="text-success">* 결재 정보</h4>
                    <div class="row">
                        <div class="col-sm-4">
                            <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <tbody>
                                <tr>
                                    <td>신청일자</td>
                                    <td th:text="${courseAccount.createdDate}"></td>
                                </tr>
                                <tr>
                                    <td>신청부서</td>
                                    <td th:text="${courseAccount.getAccount().getOrgDepart()}"></td>
                                </tr>
                                <tr>
                                    <td>신 청 자</td>
                                    <td th:text="${courseAccount.getAccount().getName()}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-6">
                            <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <colgroup>
                                    <col width="10%">
                                    <col width="30%">
                                    <col width="30%">
                                    <col width="30%">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <td rowspan="3" style="vertical-align: middle" class="text-center" >
                                        <div>결<br/><br/>재</div>
                                    </td>
                                    <td class="text-center" th:text="${courseAccount.getAccount().getName()}"></td>
                                    <td class="text-center" th:text="${courseAccount.getApprUserId1().getName()}"></td>
                                    <td class="text-center" th:text="${courseAccount.getApprUserId2().getName()}"></td>
                                </tr>
                                <tr>
                                    <td class="text-center"><img src="" style="width:100px; height:100px;"></td>
                                    <td class="text-center" th:text="${courseAccount.getApprDateTime1()}"></td>
                                    <td class="text-center" th:text="${courseAccount.getApprDateTime2()}"></td>
                                </tr>
                                <tr>
                                    <td class="text-center" th:text="${courseAccount.getRequestDate()}"></td>
                                    <td class="text-center" th:text="${courseAccount.getApprDate1()}"></td>
                                    <td class="text-center" th:text="${courseAccount.getApprDate2()}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <h4 class="text-success">* 신청과정 정보</h4>
                    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <tbody>
                        <colgroup><col width="10%" /><col width="40%" /><col width="10%" /><col width="40%" /></colgroup>
                        <tr>
                            <th><span th:text="#{label.gubun}">구분</span></th>
                            <td th:text="${course.courseMaster.getCourseName()}" colspan="3"></td>
                        </tr>
                        <tr>
                            <th><span th:text="#{label.course.name}">과정명</span></th>
                            <td th:text="${course.getTitle()}" colspan="3"></td>
                        </tr>
                        <tr>
                            <th><span th:text="#{label.course.requesperiod}">신청기간</span></th>
                            <td th:text="${course.getRequestFromDate() + ' ~ ' + course.getToDate()} "></td>
                            <th><span th:text="#{label.course.period}">교육기간</span></th>
                            <td th:text="${course.getFromDate() + ' ~ ' + course.getToDate()} "></td>
                        </tr>
                        <tr>
                            <th><span th:text="#{label.course.daycountandtime}">학습일수/시간</span></th>
                            <td th:text="${course.getDay()}"></td>
                            <th><span th:text="#{label.course.place}">교육장소</span></th>
                            <td th:text="${course.getPlace()}"></td>
                        </tr>
                        <tr>
                            <th><span th:text="#{label.course.peoplecount}">교육정원</span></th>
                            <td th:text="${course.getCnt()}+'명'"></td>
                            <th><span th:text="#{label.file}">첨부파일</span></th>
                            <td>
                                <div th:each="sections : ${course.getCourseFiles()}">
                                    <a th:href="@{/admin/course/download-file/{id}(id=${sections.getId()})}" th:text="${sections.getFileName()}"></a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>



                </div><!--panel-body End -->
            </div><!-- panel End -->

            <div class="row">
                <div class="col-sm-12">

                    <!--Default Tabs (Left Aligned)-->
                    <!--===================================================-->
                    <div class="tab-base">

                        <!--Nav Tabs-->
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#demo-lft-tab-1">소개</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#demo-lft-tab-2">목차</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#demo-lft-tab-3">교육일정</a>
                            </li>
                        </ul>

                        <!--Tabs Content-->
                        <div class="tab-content">
                            <div id="demo-lft-tab-1" class="tab-pane fade active in" style="height:100%; vertical-align:top">
                                <div th:utext="${course.getContent()}" colspan="4"></div>
                            </div>
                            <div id="demo-lft-tab-2" class="tab-pane fade">
                                <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                                    <colgroup><col width="5%" /><col width="10%" /><col width="35%" /><col width="35%" /><col width="15%" /></colgroup>
                                    <thead>
                                        <th class="text-center">No</th>
                                        <th class="text-center">구분</th>
                                        <th class="text-center">강의명</th>
                                        <th class="text-center">시간</th>
                                    </thead>
                                    <tbody>
                                    <tr th:each="sections, index : ${course.getSections()}">
                                        <td class="text-center" th:text="${index.count}"></td>
                                        <td class="text-center" th:text="#{label.title.section}"></td>
                                        <td class="text-left"><span th:text="${sections.getName()}"></span></td>
                                        <td class="text-center" th:text="${sections.getMinute() + '분'}"></td>
                                    </tr>

                                    <tr th:each="quiz, index : ${course.getQuizzes()}">
                                        <td class="text-center" th:text="${index.count}"></td>
                                        <td class="text-center" th:text="#{label.title.quiz}"></td>
                                        <td class="text-left"><span th:text="${quiz.getName()}"></span></a>
                                        </td>
                                        <td class="text-center" th:text="${quiz.getMinute() + '분'}"></td>
                                    </tr>
                                    <tr th:each="survey, index : ${course.getSurveys()}">
                                        <td class="text-center" th:text="${index.count}"></td>
                                        <td class="text-center" th:text="#{label.title.survey}"></td>
                                        <td class="text-left"><span th:text="${survey.getName()}"></span></td>
                                        <td class="text-center"></td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div id="demo-lft-tab-3" class="tab-pane fade" style="height:100%; vertical-align:top">
                                <div th:utext="${course.getAgenda()}" colspan="4"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div><!-- Page content End -->
    </div><!-- Content container End -->
</th:block>

<th:block layout:fragment="custom_js">
</th:block>

</html>


