<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">

</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->

        <!--Page content-->
        <!--===================================================-->
        <div id="page-content" style="margin-bottom:0">

            <!-- Basic Data Tables -->
            <!--===================================================-->
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title"></h3>
                </div>
                <div class="panel-body">

                    <hr class="bg-gray"/>

                    <div class="row">
                        <div class="col-sm-12 input-group pull-right">
                            <span class="text-2x text-success" sec:authentication="principal.username" ></span><span> 님의</span>
                            <h5 th:text="${course.getTitle() + '신청이 완료 되었습니다.'}"></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 input-group pull-right">
                            <p class="text-center">
                                <a th:href="@{/mypage/main}" class="btn btn-lg btn-warning">마이홈으로 가기</a>
                            </p>
                        </div>
                    </div>
                </div><!--panel-body End -->
            </div><!-- panel End -->
        </div><!-- Page content End -->
    </div><!-- Content container End -->
</th:block>

<th:block layout:fragment="custom_js">
</th:block>

</html>


