<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">

</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->

        <!--Page content-->
        <!--===================================================-->
        <div id="page-content" style="margin-bottom:0">

            <!-- Basic Data Tables -->
            <!--===================================================-->
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="${account.userId}"></h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <tbody>
                        <colgroup><col width="10%" /><col width="40%" /><col width="10%" /><col width="40%" /></colgroup>
                        <tr>
                            <th><span th:text="#{label.gubun}">구분</span></th>
                            <td th:text="${course.courseMaster.getCourseName()}" colspan="3"></td>
                        </tr>
                        <tr>
                            <th><span th:text="#{label.course.name}">과정명</span></th>
                            <td th:text="${course.getTitle()}" colspan="3"></td>
                        </tr>
                        <tr>
                            <th><span th:text="#{label.course.requesperiod}">신청기간</span></th>
                            <td th:text="${course.getRequestFromDate() + ' ~ ' + course.getToDate()} "></td>
                            <th><span th:text="#{label.course.period}">교육기간</span></th>
                            <td th:text="${course.getFromDate() + ' ~ ' + course.getToDate()} "></td>
                        </tr>
                        <tr>
                            <th><span th:text="#{label.course.daycountandtime}">학습일수/시간</span></th>
                            <td th:text="${course.getDay()}"></td>
                            <th><span th:text="#{label.course.place}">교육장소</span></th>
                            <td th:text="${course.getPlace()}"></td>
                        </tr>
                        <tr>
                            <th><span th:text="#{label.course.peoplecount}">교육정원</span></th>
                            <td th:text="${course.getCnt()}+'명'"></td>
                            <th><span th:text="#{label.file}">첨부파일</span></th>
                            <td>
                                <div th:each="sections : ${course.getCourseFiles()}">
                                    <a th:href="@{/admin/course/download-file/{id}(id=${sections.getId()})}" th:text="${sections.getFileName()}"></a>
                                </div>
                            </td>
                        </tr>
<!--                        <tr>-->
<!--                            <th><span th:text="#{label.course.accountlist}">*</span> 교육필수대상자</th>-->
<!--                            <td ><span th:each="account : ${course.getCourseAccountList()}" th:text="${account.getAccount().getName() + ' '}"></span></td>-->
<!--                            <th><span th:text="#{label.gubun}">*</span> 참석대상부서</th>-->
<!--                            <td th:text="${course.getTeam()}"></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th><span th:text="#{label.course.isbook}">*</span> 교제 재공 여부</th>-->
<!--                            <td th:text="${course.getIsBook()}"></td>-->
<!--                            <th><span th:text="#{label.course.isquiz}">*</span> 시험 진행 여부</th>-->
<!--                            <td th:text="${course.getIsQuiz()}"></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th><span th:text="#{label.course.issurvey}">*</span> 설문 진행 여부</th>-->
<!--                            <td th:text="${course.getIsSurvey()}"></td>-->
<!--                            <th><span th:text="#{label.course.iscerti}">*</span> 수료증 발급 여부</th>-->
<!--                            <td th:text="${course.getIsCerti()}"></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th><span th:text="#{label.file}">*</span> 첨부파일</th>-->
<!--                            <td colspan="3">-->
<!--                                <div th:each="sections : ${course.getCourseFiles()}">-->
<!--                                    <a th:href="@{/admin/course/download-file/{id}(id=${sections.getId()})}" th:text="${sections.getFileName()}"></a>-->
<!--                                </div>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th><span th:text="#{label.createdate}">*</span> 등록일</th>-->
<!--                            <td th:text="${course.getCreatedDate()}"></td>-->
<!--                            <th><span th:text="#{label.readcount}">*</span> 조회수</th>-->
<!--                            <td th:text="${course.getViewCnt()}"></td>-->
<!--                        </tr>-->

                        </tbody>
                    </table>
                    <hr class="bg-gray"/>
                    <div class="row">
                        <div class="col-sm-12 input-group pull-right">
                            <form id="submit_form" th:action="@{/course/request/{id}(id=${course.getId()})}" method="get">
                            <p class="text-center">
                                <th:block th:if="${#strings.isEmpty(account.parentUserId)}">
                                    <a href="/mypage/main" class="btn btn-lg btn-danger">교육신청 (팀장/부서장을 설정하세요)</a>
                                </th:block>
                                <th:block th:unless="${#strings.isEmpty(account.parentUserId)}">
                                    <a href="javascript:checkRequest();" class="btn btn-lg btn-warning">교육신청</a>
                                </th:block>
                            </p>
                            </form>
                        </div>
                    </div>
                </div><!--panel-body End -->
            </div><!-- panel End -->

            <div class="row">
                <div class="col-sm-12">

                    <!--Default Tabs (Left Aligned)-->
                    <!--===================================================-->
                    <div class="tab-base">

                        <!--Nav Tabs-->
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#demo-lft-tab-1">소개</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#demo-lft-tab-2">목차</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#demo-lft-tab-3">교육일정</a>
                            </li>
                        </ul>

                        <!--Tabs Content-->
                        <div class="tab-content">
                            <div id="demo-lft-tab-1" class="tab-pane fade active in" style="height:100%; vertical-align:top">
                                <div th:utext="${course.getContent()}" colspan="4"></div>
                            </div>
                            <div id="demo-lft-tab-2" class="tab-pane fade">
                                <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                                    <colgroup><col width="5%" /><col width="10%" /><col width="35%" /><col width="35%" /><col width="15%" /></colgroup>
                                    <thead>
                                        <th class="text-center">No</th>
                                        <th class="text-center">구분</th>
                                        <th class="text-center">강의명</th>
                                        <th class="text-center">학습기간</th>
                                        <th class="text-center">시간</th>
                                    </thead>
                                    <tbody>
                                    <tr th:each="sections, index : ${course.getSections()}">
                                        <td class="text-center" th:text="${index.count}"></td>
                                        <td class="text-center" th:text="#{label.title.section}"></td>
                                        <td class="text-center">
                                            <a th:href="@{/admin/course/section/edit/{id}(id=${sections.getId()})}">
                                                <span th:text="${sections.getName()}"></span>
                                            </a>
                                        </td>
                                        <td class="text-center" th:text="${sections.getFromDate() + ' ' + sections.getFromTime() + ' ~ ' + sections.getToDate() + ' ' + sections.getToTime()}"}></td>
                                        <td class="text-center" th:text="${sections.getMinute() + '분'}"></td>
                                    </tr>

                                    <tr th:each="quiz, index : ${course.getQuizzes()}">
                                        <td class="text-center" th:text="${index.count}"></td>
                                        <td class="text-center" th:text="#{label.title.quiz}"></td>
                                        <td class="text-center">
                                            <a th:href="@{/admin/course/quiz/edit/{id}(id=${quiz.getId()})}">
                                                <span th:text="${quiz.getName()}"></span>
                                            </a>
                                        </td>
                                        <td class="text-center" th:text="${quiz.getFromDate() + ' ~ ' + quiz.getToDate()}"></td>
                                        <td class="text-center" th:text="${quiz.getMinute() + '분'}"></td>
                                    </tr>
                                    <tr th:each="survey, index : ${course.getSurveys()}">
                                        <td class="text-center" th:text="${index.count}"></td>
                                        <td class="text-center" th:text="#{label.title.survey}"></td>
                                        <td class="text-center">
                                            <a th:href="@{/admin/course/survey/edit/{id}(id=${survey.getId()})}">
                                                <span th:text="${survey.getName()}"></span>
                                            </a>
                                        </td>
                                        <td class="text-center" th:text="${survey.getFromDate() + ' ~ ' + survey.getToDate()}"}></td>
                                        <td class="text-center"></td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div id="demo-lft-tab-3" class="tab-pane fade" style="height:100%; vertical-align:top">
                                <div th:utext="${course.getAgenda()}" colspan="4"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div><!-- Page content End -->
    </div><!-- Content container End -->
</th:block>

<th:block layout:fragment="custom_js">

    <script th:inline="javascript">
        /*<![CDATA[*/
        var userId = /*[[${account.userId}]]*/;

        var courseId = /*[[${course.getId()}]]*/;

        function checkRequest() {



            $.ajax({
                type : 'get',
                url : '/api/courseAccount/isRequest',
                dataType : 'json',
                data : {
                    'courseId': courseId,
                    'userId': userId
                },
                error: function(xhr, status, error){
                    alert(error);
                },
                success : function(data){

                    if(data == true) alert('이미 신청되었습니다.');
                    else {
                        $('#submit_form').submit();
                        alert('교육 신청되었습니다.');
                    }
                },
            });
            return;
        }
        /*]]>*/
    </script>
</th:block>

</html>


