<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">
    <style>
        th {
            background: #FAFAFA;
            margin: 10px;
            text-align: center;
        }

        td {

        }

        .table-head {
            background: #3A444E;
            margin-bottom: 0;
        }
    </style>
</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->

        <!--Page content-->
        <!--===================================================-->
        <div id="page-content" style="margin-bottom:0">

            <!-- Basic Data Tables -->
            <!--===================================================-->
            <div class="panel">
                <div class="panel-body">
                    <hr class="table-head">
                    <div class="table-responsive">
                        <table class="table table-bordered" cellspacing="0" width="100%">
                            <tbody>
                            <colgroup><col width="10%" /><col width="40%" /><col width="10%" /><col width="40%" /></colgroup>
                            <tr>
                                <th><span th:text="#{label.gubun}">구분</span></th>
                                <td th:text="${course.courseMaster.getCourseName()}" colspan="3"></td>
                            </tr>
                            <tr>
                                <th><span th:text="#{label.course.name}">과정명</span></th>
                                <td th:text="${course.getTitle()}" colspan="3"></td>
                            </tr>
                            <tr>
                                <th><span th:text="#{label.course.requesperiod}">신청기간</span></th>
                                <td th:text="${course.getRequestFromDate() + ' ~ ' + course.getToDate()} "></td>
                                <th><span th:text="#{label.course.period}">교육기간</span></th>
                                <td th:text="${course.getFromDate() + ' ~ ' + course.getToDate()} "></td>
                            </tr>
                            <tr>
                                <th><span th:text="#{label.course.daycountandtime}">학습일수/시간</span></th>
                                <td th:text="${course.getDay()}"></td>
                                <th><span th:text="#{label.course.place}">교육장소</span></th>
                                <td th:text="${course.getPlace()}"></td>
                            </tr>
                            <tr>
                                <th><span th:text="#{label.course.peoplecount}">교육정원</span></th>
                                <td th:text="${course.getCnt()}+'명'"></td>
                                <th><span th:text="#{label.file}">첨부파일</span></th>
                                <td>
                                    <div th:each="sections : ${course.getCourseFiles()}">
                                        <a th:href="@{/admin/course/download-file/{id}(id=${sections.getId()})}" th:text="${sections.getFileName()}"></a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <form id="submit_form" th:action="@{/course/request/{id}(id=${course.getId()})}" method="get">
                                <div th:switch="${course.getStatus()}">
                                    <span th:case="0" class="btn btn-lg btn-primary">&nbsp;</span>
                                    <span th:case="1" class="btn btn-lg btn-primary">신청대기</span>
                                    <span th:case="2">
                                        <th:block th:if="${#strings.isEmpty(account.parentUserId)}">
                                            <a href="/mypage/main" class="btn btn-lg btn-danger">교육신청 (팀장/부서장을 설정하세요)</a>
                                        </th:block>
                                        <th:block th:unless="${#strings.isEmpty(account.parentUserId)}">
                                            <a href="javascript:checkRequest();" class="btn btn-lg btn-primary"><i class="demo-pli-add-cart"></i> 교육신청</a>
                                        </th:block>
                                    </span>
                                    <span th:case="3" class="btn btn-lg btn-purple">교육대기</span>
                                    <span th:case="4" class="btn btn-lg btn-primary">교육중</span>
                                    <span th:case="5" class="btn btn-lg btn-dark">교육종료</span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div><!--panel-body End -->
                <br>
<!--                <hr class="new-section-sm bord-no">-->
                <div class="row demo-nifty-panel">
                    <div class="col-lg-12">
                        <!--Panel with Tabs-->
                        <!--===================================================-->
                        <div class="panel panel-primary">
                            <!--Panel heading-->
                            <div class="panel-heading">
                                <div class="panel-control">
                                    <!--Nav tabs-->
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a data-toggle="tab" href="#demo-tabs-box-1">Agenda</a></li>
                                        <li><a data-toggle="tab" href="#demo-tabs-box-2">table of contents</a></li>
                                    </ul>

                                </div>
                                <h3 class="panel-title">Course Details</h3>
                            </div>

                            <!--Panel body-->
                            <div class="panel-body">
                                <!--Tabs content-->
                                <div class="tab-content">
                                    <div id="demo-tabs-box-1" class="tab-pane fade in active">
                                        <div th:utext="${course.getContent()}" colspan="4"></div>
                                    </div>
                                    <div id="demo-tabs-box-2" class="tab-pane fade">
                                        <hr class="table-head">
                                        <div class="table-responsive">
                                            <table class="table" cellspacing="0" width="100%">
                                            <colgroup><col width="5%" /><col width="10%" /><col width="35%" /><col width="35%" /><col width="15%" /></colgroup>
                                            <thead>
                                            <th class="text-center">No</th>
                                            <th class="text-center">구분</th>
                                            <th class="text-center">강의명</th>
                                            <th class="text-center">학습기간</th>
                                            <th class="text-center">시간</th>
                                            </thead>
                                            <tbody>
                                            <tr th:each="sections, index : ${course.getSections()}">
                                                <td class="text-center" th:text="${index.count}"></td>
                                                <td class="text-center" th:text="#{label.title.section}"></td>
                                                <td class="text-center">
                                                    <a th:href="@{/admin/course/section/edit/{id}(id=${sections.getId()})}">
                                                        <span th:text="${sections.getName()}"></span>
                                                    </a>
                                                </td>
                                                <td class="text-center" th:text="${sections.getFromDate() + ' ' + sections.getFromTime() + ' ~ ' + sections.getToDate() + ' ' + sections.getToTime()}"}></td>
                                                <td class="text-center" th:text="${sections.getMinute() + '분'}"></td>
                                            </tr>

                                            <tr th:each="quiz, index : ${course.getQuizzes()}">
                                                <td class="text-center" th:text="${index.count}"></td>
                                                <td class="text-center" th:text="#{label.title.quiz}"></td>
                                                <td class="text-center">
                                                    <a th:href="@{/admin/course/quiz/edit/{id}(id=${quiz.getId()})}">
                                                        <span th:text="${quiz.getName()}"></span>
                                                    </a>
                                                </td>
                                                <td class="text-center" th:text="${quiz.getFromDate() + ' ~ ' + quiz.getToDate()}"></td>
                                                <td class="text-center" th:text="${quiz.getMinute() + '분'}"></td>
                                            </tr>
                                            <tr th:each="survey, index : ${course.getSurveys()}">
                                                <td class="text-center" th:text="${index.count}"></td>
                                                <td class="text-center" th:text="#{label.title.survey}"></td>
                                                <td class="text-center">
                                                    <a th:href="@{/admin/course/survey/edit/{id}(id=${survey.getId()})}">
                                                        <span th:text="${survey.getName()}"></span>
                                                    </a>
                                                </td>
                                                <td class="text-center" th:text="${survey.getFromDate() + ' ~ ' + survey.getToDate()}"}></td>
                                                <td class="text-center"></td>
                                            </tr>

                                            </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- panel End -->



        </div><!-- Page content End -->
    </div><!-- Content container End -->
</th:block>

<th:block layout:fragment="custom_js">

    <script th:inline="javascript">
        /*<![CDATA[*/
        var userId = /*[[${account.userId}]]*/;

        var courseId = /*[[${course.getId()}]]*/;

        function checkRequest() {



            $.ajax({
                type : 'get',
                url : '/api/courseAccount/isRequest',
                dataType : 'json',
                data : {
                    'courseId': courseId,
                    'userId': userId
                },
                error: function(xhr, status, error){
                    alert(error);
                },
                success : function(data){

                    if(data == true) alert('이미 신청되었습니다.');
                    else {
                        $('#submit_form').submit();
                        alert('교육 신청되었습니다.');
                    }
                },
            });
            return;
        }
        /*]]>*/
    </script>
</th:block>

</html>


