<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css"></th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->
        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">

            <!-- Basic Data Tables -->
            <!--===================================================-->
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title"></h3>
                </div>
                <div class="panel-body">
                    <!--===================================================-->
                    <!--End Horizontal Form-->
                    <form class="form-horizontal" id="boardFrm" action="#" th:action="@{/admin/course-master/add-post}" th:object="${course}" method="post" >
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="id" th:text="#{label.id}">교육ID</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{id}" id="id" placeholder="" class="form-control" readonly>
                            </div>
                            <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" th:text="#{label.course.type}">교육 유형</label>
                            <div class="col-sm-10">
                                <select th:field="*{courseGubun.minorCd}" class="form-control" id="course-type" required>
                                    <option th:each="minor, index : ${minorList}" th:value="${minor.getMinorCd()}" th:text="${minor.getMinorNm()}"></option>
                                </select>
                            </div>
                            <span th:if="${#fields.hasErrors('courseGubun.minorCd')}" th:errors="*{courseGubun.minorCd}"></span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="courseName" th:text="#{label.name}">교육명</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{courseName}" id="courseName" placeholder="" class="form-control" required="required">
                            </div>
                            <span th:if="${#fields.hasErrors('courseName')}" th:errors="*{courseName}"></span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="day">기본학습일수</label>
                            <div class="col-sm-10">
                                <input type="number" th:field="*{day}" id="day" placeholder="day" class="form-control" min="0" required="required">
                            </div>
                            <span th:if="${#fields.hasErrors('day')}" th:errors="*{day}"></span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="hour">기본학습시간</label>
                            <div class="col-sm-10">
                                <input type="number" step=".01" th:field="*{hour}" id="hour" placeholder="hour" class="form-control" min="0" required="required">
                            </div>
                            <span th:if="${#fields.hasErrors('hour')}" th:errors="*{hour}"></span>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" th:text="#{label.course.isCourseTeamApproval}">팀장/부서장 승인 여부</label>
                            <div class="col-sm-10">
                                <select th:field="*{isTeamMangerApproval}" class="form-control">
                                    <option value="Y" >Select Option</option>
                                    <option value="Y" >Y</option>
                                    <option value="N" >N</option>
                                </select>
                            </div>
                            <span th:if="${#fields.hasErrors('isTeamMangerApproval')}" th:errors="*{isTeamMangerApproval}"></span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" th:text="#{label.course.isCourseManagerApproval}">교육과정 관리자 승인여부</label>
                            <div class="col-sm-10">
                                <select th:field="*{isCourseMangerApproval}" class="form-control">
                                    <option value="Y" >Select Option</option>
                                    <option value="Y" >Y</option>
                                    <option value="N" >N</option>
                                </select>
                            </div>
                            <span th:if="${#fields.hasErrors('isCourseMangerApproval')}" th:errors="*{isCourseMangerApproval}"></span>
                        </div>
                        <div class="panel-footer text-right">
                            <button class="btn btn-success" type="submit" th:text="#{label.save}">저장</button>
                        </div>
                    </form>
                </div><!--panel-body End -->
            </div><!-- panel End -->
        </div><!-- Page content End -->
    </div><!-- Content container End -->

</th:block>

<th:block layout:fragment="custom_js">

    <script type="text/javascript" th:inline="javascript">


//    $( document ).ready(function() {
//
//        /*<![CDATA[*/
//        $('#course-type').change(function () {
//
//            var course_footer = /*[[${courseNoFooter}]]*/;
//
//            var newNumber = $('#course-type option:selected').val() + course_footer;
//
//            $('#id').val(newNumber);
//        });
//        /*]]>*/
//
//        $("#course-type option[value='0']").attr('selected', 'selected');
//        //$("#course-type option:eq(0)").attr('selected', 'selected');
//    });


    </script>

</th:block>

</html>
