<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="html_head">
    <title>TachyonTech Info</title>
</th:block>

<th:block layout:fragment="custom_css">
    <style>
        td,th {
            text-align: center;
        }

        .table-head {
            background: #3A444E;
            margin: 0;
            padding: 0;
        }
    </style>
</th:block>

<th:block layout:fragment="content_body">
    <!--
    <div th:replace="fragments/common/loading"></div>
    -->
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <div th:replace="fragments/common/content_title :: content-title"></div>
        <!--Page Title End-->

        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">

            <!-- Basic Data Tables -->
            <!--===================================================-->
            <div class="panel">

                <div class="panel-body">
                    <div>
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-6 text-right">
                            <a class="btn btn-purple" th:href="@{/admin/course-master/courseStatusUpdate}"><i class="demo-pli-upload-to-cloud"></i> 교육과정 상태 업데이트</a>
                            <a class="btn btn-purple" th:href="@{/admin/course-master/courseStepStatusUpdate}"><i class="demo-pli-upload-to-cloud"></i> 교육중->수강기간만료 상태 업데이트</a>
                            <a class="btn btn-purple" th:href="@{/admin/course-master/add}"><i class="demo-pli-add"></i> Add</a>
                        </div>
                    </div>
                    <div th:switch="${borders}">
                        <h2 th:case="null">No customer yet!</h2>
                        <div th:case="*">
                            <span th:text="#{label.list.title(${borders.getTotalElements()})}"></span>
                            <hr class="table-head">
                            <table id="customer-list-page" class="table" cellspacing="0" width="100%" style="margin-top:0">
                                <thead>
                                <tr>
                                    <th class="text-center col-sm-1" th:text="#{label.no}">번호</th>
                                    <th class="text-center col-sm-1" th:text="#{label.id}">ID</th>
                                    <th class="text-center" th:text="#{label.course.type}">교육유형명</th>
                                    <th class="text-center col-sm-2" th:text="#{label.type}">신청일자유형</th>
                                    <th class="text-center col-sm-2" th:text="#{label.course.isCourseTeamApproval}">팀장/부서장 승인여부</th>
                                    <th class="text-center col-sm-2" th:text="#{label.course.isCourseManagerApproval}">과정관리자 승인여부</th>
                                    <th class="text-center col-sm-2" th:text="#{label.edit}">Edit</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="border, index : ${borders}">
                                    <td th:text="${index.count}" class="text-center"></td>
                                    <td th:text="${border.getId()}"></td>
                                    <td th:text="${border.getCourseName()}"></td>
                                    <td>
                                        <select class="form-control" id="course-type" disabled>
                                            <option th:each="minor, index : ${codeList}" th:value="${minor.getMinorCd()}"
                                                    th:text="${minor.getMinorNm()}" th:selected="${ minor.getMinorCd().equals(border.getCourseGubun().getMinorCd()) }"></option>
                                        </select>
                                    </td>
                                    <td class="text-center" th:text="${border.getIsTeamMangerApproval()}"></td>
                                    <td class="text-center" th:text="${border.getIsCourseMangerApproval()}"></td>
                                    <td>
                                        <div class="form-inline">
                                            <a th:text="#{label.edit}" th:href="@{/admin/course-master/edit/{id}(id=${border.getId()})}" class="btn btn-sm btn-default btn-hover-success demo-psi-pen-5 add-tooltip" data-original-title="Edit" data-container="body"></a>
                                            <a th:text="#{label.delete}" th:href="@{/admin/course-master/delete/{id}(id=${border.getId()})}" class="btn btn-sm btn-default btn-hover-danger demo-pli-trash add-tooltip" data-original-title="Delete" data-container="body"></a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <nav style="text-align: center;" th:fragment="pagenation">
                                <ul class="pagination"
                                    th:with="start=${T(Math).floor(borders.number/10)*10 + 1},
                last=(${start + 9 < borders.totalPages ? start + 9 : borders.totalPages})">
                                    <li>
                                        <a th:href="@{/admin/course-master(page=1)}" aria-label="First">
                                            <span aria-hidden="true">First</span>
                                        </a>
                                    </li>

                                    <li th:class="${borders.first} ? 'disabled'">
                                        <a th:href="${borders.first} ? '#' :@{/admin/course-master(page=${borders.number})}" aria-label="Previous">
                                            <span aria-hidden="true">&lt;</span>
                                        </a>
                                    </li>

                                    <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == borders.number + 1} ? 'active'">
                                        <a th:text="${page}" th:href="@{/admin/course-master(page=${page})}"></a>
                                    </li>

                                    <li th:class="${borders.last} ? 'disabled'">
                                        <a th:href="${borders.last} ? '#' : @{/admin/course-master(page=${borders.number + 2})}" aria-label="Next">
                                            <span aria-hidden="true">&gt;</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a th:href="@{/admin/course-master(page=${borders.totalPages})}" aria-label="Last">
                                            <span aria-hidden="true">Last</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                    </div><!--switch End -->
                </div><!--panel-body End -->
            </div><!-- panel End -->
        </div><!-- Page content End -->
    </div><!-- Content container End -->
</th:block>

<th:block layout:fragment="custom_js">
    <!--DataTables Sample [ SAMPLE ]-->
    <script th:src="@{/default/js/demo/tables-datatables.js}"></script>
</th:block>

</html>


